# 03_IDAO_Preproc_Train_Interpolate

* поминутная интерполяция значений обучающего датасета

In [1]:
import sys
import warnings
warnings.filterwarnings('ignore')

import math
from datetime import datetime, timedelta

import matplotlib.pylab as plt
import pandas as pd
import numpy as np

from scipy import interpolate

In [2]:
#Тренировочные данные
df_train = pd.read_csv('data/train_proc_with_id.csv', index_col='datetime', parse_dates=True)
#Тестовые данные
df_test = pd.read_csv('data/Track 1/test_proc_with_id.csv', index_col='datetime', parse_dates=True)

# Задача 1
submission = pd.read_csv('data/Track 1/submission.csv')

df_train = df_train.drop(['Unnamed: 0'], axis=1)
df_test = df_test.drop(['Unnamed: 0'], axis=1)

In [3]:
df_train.head(3)

,id,sat_id,x,y,z,Vx,Vy,Vz,x_sim,y_sim,z_sim,Vx_sim,Vy_sim,Vz_sim
datetime,,,,,,,,,,,,,,
2014-01-01 00:00:00,0,0,-8855.823863,13117.780146,-20728.353233,-0.908303,-3.808436,-2.022083,-8843.131454,13138.221690,-20741.615306,-0.907527,-3.804930,-2.024133
2014-01-01 00:46:43,1,0,-10567.672384,1619.746066,-24451.813271,-0.302590,-4.272617,-0.612796,-10555.500066,1649.289367,-24473.089556,-0.303704,-4.269816,-0.616468
2014-01-01 01:33:26,2,0,-10578.684043,-10180.467460,-24238.280949,0.277435,-4.047522,0.723155,-10571.858472,-10145.939908,-24271.169776,0.274880,-4.046788,0.718768

Добавим столбец, переводящий время в абсолютное значение:

In [4]:
df_train = df_train.reset_index()
df_train['time'] = (df_train['datetime'] - np.datetime64('1970-01-01 00:00:00')) / np.timedelta64(1, 's')

Вычислим индексы с совпадающими метками времени для дальнейшей обработки:

In [5]:
equal_values = []
for i in range(df_train.shape[0] - 1):
    time_prv = list(df_train.loc[i, ['datetime']])
    time_now = list(df_train.loc[i + 1, ['datetime']])
    if time_prv == time_now:
        equal_values.append(i)

Исправим совпадающие временные метки при помощи уравнения равноускоренного движения:

In [24]:
def improve_time_equals(df, equals_list):
    amount = len(equals_list)
    count = 0
    
    for id0 in equals_list:
        id1 = id0 + 1
        id2 = id0 + 2
        
        x0 = float(df.loc[id0, ['x_sim']])
        x1 = float(df.loc[id1, ['x_sim']])
        x2 = float(df.loc[id2, ['x_sim']])

        S02 = x2 - x0

        V0 = float(df.loc[id0, ['Vx_sim']])
        V1 = float(df.loc[id1, ['Vx_sim']])
        V2 = float(df.loc[id2, ['Vx_sim']])

        t0 = float(df.loc[id0, ['time']])
        t2 = float(df.loc[id2, ['time']])
        
        print(df.loc[id0, ['datetime']])
        print(df.loc[id1, ['datetime']])
        print(df.loc[id2, ['datetime']])
        
        T02 = t2 - t0
        
        a = 2 * (S02 - V0 * T02) / T02**2
        
        A = a / 2
        B = V0
        C = x0 - x1

        discr = B ** 2 - 4 * A * C
        if discr >= 0:
            count += 1
            print(count, '/', amount)
            t1_1 = int((-B - math.sqrt(discr)) / (2 * A))
            t1_2 = int((-B + math.sqrt(discr)) / (2 * A))
            print('Корни уравнения:', t1_1, 'и', t1_2)
            if min(t1_1, t1_2) < 0:
                t1 = max(t1_1, t1_2)
            else:
                t1 = min(t1_1, t1_2)
            print('Секунд:', t1)
            time_delta = timedelta(seconds=t1)
            df.loc[id1, ['datetime']] = df.loc[id1, ['datetime']] + time_delta
            
        else:
            print('D < 0 в строке:', id0)
        
        print(df.loc[id0, ['datetime']])
        print(df.loc[id1, ['datetime']])
        print(df.loc[id2, ['datetime']])
        print()
        
    return df

In [7]:
df_train_improved = improve_time_equals(df_train, equal_values)

datetime    2014-01-09 15:06:38
Name: 266, dtype: object
datetime    2014-01-09 15:06:38
Name: 267, dtype: object
datetime    2014-01-09 15:53:21
Name: 268, dtype: object
1 / 496
Корни уравнения: -2277 и 1586
Секунд: 1586
datetime    2014-01-09 15:06:38
Name: 266, dtype: object
datetime    2014-01-09 15:33:04
Name: 267, dtype: object
datetime    2014-01-09 15:53:21
Name: 268, dtype: object

datetime    2014-01-26 21:19:54
Name: 799, dtype: object
datetime    2014-01-26 21:19:54
Name: 800, dtype: object
datetime    2014-01-26 22:06:37
Name: 801, dtype: object
2 / 496
Корни уравнения: -4962 и 1761
Секунд: 1761
datetime    2014-01-26 21:19:54
Name: 799, dtype: object
datetime    2014-01-26 21:49:15
Name: 800, dtype: object
datetime    2014-01-26 22:06:37
Name: 801, dtype: object

datetime    2014-01-12 08:23:12
Name: 1729, dtype: object
datetime    2014-01-12 08:23:12
Name: 1730, dtype: object
datetime    2014-01-12 08:44:24
Name: 1731, dtype: object
3 / 496
Корни уравнения: 793 и -2065
Секунд: 793
datetime    2014-01-12 08:23:12
Name: 1729, dtype: object
datetime    2014-01-12 08:36:25
Name: 1730, dtype: object
datetime    2014-01-12 08:44:24
Name: 1731, dtype: object

datetime    2014-01-31 06:21:52
Name: 3015, dtype: object
datetime    2014-01-31 06:21:52
Name: 3016, dtype: object
datetime    2014-01-31 06:43:04
Name: 3017, dtype: object
4 / 496
Корни уравнения: -1517 и 747
Секунд: 747
datetime    2014-01-31 06:21:52
Name: 3015, dtype: object
datetime    2014-01-31 06:34:19
Name: 3016, dtype: object
datetime    2014-01-31 06:43:04
Name: 3017, dtype: object

datetime    2014-01-12 15:02:58
Name: 3222, dtype: object
datetime    2014-01-12 15:02:58
Name: 3223, dtype: object
datetime    2014-01-12 16:50:17
Name: 3224, dtype: object
5 / 496
Корни уравнения: 7070 и 10853
Секунд: 7070
datetime    2014-01-12 15:02:58
Name: 3222, dtype: object
datetime    2014-01-12 17:00:48
Name: 3223, dtype: object
datetime    2014-01-12 16:50:17
Name: 3224, dtype: object

datetime    2014-01-12 20:35:30
Name: 3618, dtype: object
datetime    2014-01-12 20:35:30
Name: 3619, dtype: object
datetime    2014-01-12 22:41:59
Name: 3620, dtype: object
6 / 496
Корни уравнения: 4574 и -10388
Секунд: 4574
datetime    2014-01-12 20:35:30
Name: 3618, dtype: object
datetime    2014-01-12 21:51:44
Name: 3619, dtype: object
datetime    2014-01-12 22:41:59
Name: 3620, dtype: object

datetime    2014-01-07 00:17:13
Name: 4071, dtype: object
datetime    2014-01-07 00:17:13
Name: 4072, dtype: object
datetime    2014-01-07 00:54:13
Name: 4073, dtype: object
7 / 496
Корни уравнения: -1657 и 1185
Секунд: 1185
datetime    2014-01-07 00:17:13
Name: 4071, dtype: object
datetime    2014-01-07 00:36:58
Name: 4072, dtype: object
datetime    2014-01-07 00:54:13
Name: 4073, dtype: object

datetime    2014-01-16 00:43:03
Name: 4423, dtype: object
datetime    2014-01-16 00:43:03
Name: 4424, dtype: object
datetime    2014-01-16 01:20:02
Name: 4425, dtype: object
8 / 496
Корни уравнения: 1390 и -3866
Секунд: 1390
datetime    2014-01-16 00:43:03
Name: 4423, dtype: object
datetime    2014-01-16 01:06:13
Name: 4424, dtype: object
datetime    2014-01-16 01:20:02
Name: 4425, dtype: object

datetime    2014-01-25 01:08:53
Name: 4775, dtype: object
datetime    2014-01-25 01:08:53
Name: 4776, dtype: object
datetime    2014-01-25 01:45:52
Name: 4777, dtype: object
D < 0 в строке: 4775
datetime    2014-01-25 01:08:53
Name: 4775, dtype: object
datetime    2014-01-25 01:08:53
Name: 4776, dtype: object
datetime    2014-01-25 01:45:52
Name: 4777, dtype: object

datetime    2014-01-09 09:32:53
Name: 9059, dtype: object
datetime    2014-01-09 09:32:53
Name: 9060, dtype: object
datetime    2014-01-09 12:44:50
Name: 9061, dtype: object
9 / 496
Корни уравнения: -601 и 3967
Секунд: 3967
datetime    2014-01-09 09:32:53
Name: 9059, dtype: object
datetime    2014-01-09 10:39:00
Name: 9060, dtype: object
datetime    2014-01-09 12:44:50
Name: 9061, dtype: object

datetime    2014-01-23 09:27:41
Name: 9165, dtype: object
datetime    2014-01-23 09:27:41
Name: 9166, dtype: object
datetime    2014-01-23 12:39:38
Name: 9167, dtype: object
10 / 496
Корни уравнения: 6933 и -8879
Секунд: 6933
datetime    2014-01-23 09:27:41
Name: 9165, dtype: object
datetime    2014-01-23 11:23:14
Name: 9166, dtype: object
datetime    2014-01-23 12:39:38
Name: 9167, dtype: object

datetime    2014-01-09 02:03:55
Name: 12599, dtype: object
datetime    2014-01-09 02:03:55
Name: 12600, dtype: object
datetime    2014-01-09 02:29:14
Name: 12601, dtype: object
11 / 496
Корни уравнения: 1037 и -7229
Секунд: 1037
datetime    2014-01-09 02:03:55
Name: 12599, dtype: object
datetime    2014-01-09 02:21:12
Name: 12600, dtype: object
datetime    2014-01-09 02:29:14
Name: 12601, dtype: object

datetime    2014-01-21 05:09:48
Name: 13290, dtype: object
datetime    2014-01-21 05:09:48
Name: 13291, dtype: object
datetime    2014-01-21 05:35:06
Name: 13292, dtype: object
12 / 496
Корни уравнения: 884 и -1382
Секунд: 884
datetime    2014-01-21 05:09:48
Name: 13290, dtype: object
datetime    2014-01-21 05:24:32
Name: 13291, dtype: object
datetime    2014-01-21 05:35:06
Name: 13292, dtype: object

datetime    2014-01-06 20:59:39
Name: 16004, dtype: object
datetime    2014-01-06 20:59:39
Name: 16005, dtype: object
datetime    2014-01-06 23:30:42
Name: 16006, dtype: object
13 / 496
Корни уравнения: -10632 и 5356
Секунд: 5356
datetime    2014-01-06 20:59:39
Name: 16004, dtype: object
datetime    2014-01-06 22:28:55
Name: 16005, dtype: object
datetime    2014-01-06 23:30:42
Name: 16006, dtype: object

datetime    2014-01-12 17:59:18
Name: 16061, dtype: object
datetime    2014-01-12 17:59:18
Name: 16062, dtype: object
datetime    2014-01-12 20:30:22
Name: 16063, dtype: object
14 / 496
Корни уравнения: -16696 и 5745
Секунд: 5745
datetime    2014-01-12 17:59:18
Name: 16061, dtype: object
datetime    2014-01-12 19:35:03
Name: 16062, dtype: object
datetime    2014-01-12 20:30:22
Name: 16063, dtype: object

datetime    2014-01-18 14:58:57
Name: 16118, dtype: object
datetime    2014-01-18 14:58:57
Name: 16119, dtype: object
datetime    2014-01-18 17:30:01
Name: 16120, dtype: object
15 / 496
Корни уравнения: 6090 и -33618
Секунд: 6090
datetime    2014-01-18 14:58:57
Name: 16118, dtype: object
datetime    2014-01-18 16:40:27
Name: 16119, dtype: object
datetime    2014-01-18 17:30:01
Name: 16120, dtype: object

datetime    2014-01-27 10:28:25
Name: 16203, dtype: object
datetime    2014-01-27 10:28:25
Name: 16204, dtype: object
datetime    2014-01-27 12:59:29
Name: 16205, dtype: object
16 / 496
Корни уравнения: -14785 и 5626
Секунд: 5626
datetime    2014-01-27 10:28:25
Name: 16203, dtype: object
datetime    2014-01-27 12:02:11
Name: 16204, dtype: object
datetime    2014-01-27 12:59:29
Name: 16205, dtype: object

datetime    2014-01-08 12:33:34
Name: 16504, dtype: object
datetime    2014-01-08 12:33:34
Name: 16505, dtype: object
datetime    2014-01-08 13:15:53
Name: 16506, dtype: object
17 / 496
Корни уравнения: 1536 и -3514
Секунд: 1536
datetime    2014-01-08 12:33:34
Name: 16504, dtype: object
datetime    2014-01-08 12:59:10
Name: 16505, dtype: object
datetime    2014-01-08 13:15:53
Name: 16506, dtype: object

datetime    2014-01-19 19:23:56
Name: 16889, dtype: object
datetime    2014-01-19 19:23:56
Name: 16890, dtype: object
datetime    2014-01-19 20:06:15
Name: 16891, dtype: object
18 / 496
Корни уравнения: 1549 и -3684
Секунд: 1549
datetime    2014-01-19 19:23:56
Name: 16889, dtype: object
datetime    2014-01-19 19:49:45
Name: 16890, dtype: object
datetime    2014-01-19 20:06:15
Name: 16891, dtype: object

datetime    2014-01-31 02:14:17
Name: 17274, dtype: object
datetime    2014-01-31 02:14:17
Name: 17275, dtype: object
datetime    2014-01-31 02:56:36
Name: 17276, dtype: object
19 / 496
Корни уравнения: 1566 и -3903
Секунд: 1566
datetime    2014-01-31 02:14:17
Name: 17274, dtype: object
datetime    2014-01-31 02:40:23
Name: 17275, dtype: object
datetime    2014-01-31 02:56:36
Name: 17276, dtype: object

datetime    2014-01-07 09:29:23
Name: 18717, dtype: object
datetime    2014-01-07 09:29:23
Name: 18718, dtype: object
datetime    2014-01-07 09:44:40
Name: 18719, dtype: object
20 / 496
Корни уравнения: -4966 и 632
Секунд: 632
datetime    2014-01-07 09:29:23
Name: 18717, dtype: object
datetime    2014-01-07 09:39:55
Name: 18718, dtype: object
datetime    2014-01-07 09:44:40
Name: 18719, dtype: object

datetime    2014-01-16 23:43:27
Name: 19621, dtype: object
datetime    2014-01-16 23:43:27
Name: 19622, dtype: object
datetime    2014-01-16 23:58:45
Name: 19623, dtype: object
21 / 496
Корни уравнения: 628 и -2945
Секунд: 628
datetime    2014-01-16 23:43:27
Name: 19621, dtype: object
datetime    2014-01-16 23:53:55
Name: 19622, dtype: object
datetime    2014-01-16 23:58:45
Name: 19623, dtype: object

datetime    2014-01-26 13:57:32
Name: 20525, dtype: object
datetime    2014-01-26 13:57:32
Name: 20526, dtype: object
datetime    2014-01-26 14:12:49
Name: 20527, dtype: object
22 / 496
Корни уравнения: 556 и -1286
Секунд: 556
datetime    2014-01-26 13:57:32
Name: 20525, dtype: object
datetime    2014-01-26 14:06:48
Name: 20526, dtype: object
datetime    2014-01-26 14:12:49
Name: 20527, dtype: object

datetime    2014-01-09 13:19:07
Name: 21432, dtype: object
datetime    2014-01-09 13:19:07
Name: 21433, dtype: object
datetime    2014-01-09 14:20:43
Name: 21434, dtype: object
23 / 496
Корни уравнения: 2488 и -12682
Секунд: 2488
datetime    2014-01-09 13:19:07
Name: 21432, dtype: object
datetime    2014-01-09 14:00:35
Name: 21433, dtype: object
datetime    2014-01-09 14:20:43
Name: 21434, dtype: object

datetime    2014-01-26 15:57:23
Name: 21833, dtype: object
datetime    2014-01-26 15:57:23
Name: 21834, dtype: object
datetime    2014-01-26 16:58:59
Name: 21835, dtype: object
24 / 496
Корни уравнения: 2334 и -5630
Секунд: 2334
datetime    2014-01-26 15:57:23
Name: 21833, dtype: object
datetime    2014-01-26 16:36:17
Name: 21834, dtype: object
datetime    2014-01-26 16:58:59
Name: 21835, dtype: object

datetime    2014-01-08 13:37:31
Name: 22331, dtype: object
datetime    2014-01-08 13:37:31
Name: 22332, dtype: object
datetime    2014-01-08 14:06:49
Name: 22333, dtype: object
25 / 496
Корни уравнения: 1124 и -3583
Секунд: 1124
datetime    2014-01-08 13:37:31
Name: 22331, dtype: object
datetime    2014-01-08 13:56:15
Name: 22332, dtype: object
datetime    2014-01-08 14:06:49
Name: 22333, dtype: object

datetime    2014-01-16 03:15:03
Name: 22704, dtype: object
datetime    2014-01-16 03:15:03
Name: 22705, dtype: object
datetime    2014-01-16 03:44:20
Name: 22706, dtype: object
D < 0 в строке: 22704
datetime    2014-01-16 03:15:03
Name: 22704, dtype: object
datetime    2014-01-16 03:15:03
Name: 22705, dtype: object
datetime    2014-01-16 03:44:20
Name: 22706, dtype: object

datetime    2014-01-27 11:41:20
Name: 23263, dtype: object
datetime    2014-01-27 11:41:20
Name: 23264, dtype: object
datetime    2014-01-27 12:10:38
Name: 23265, dtype: object
26 / 496
Корни уравнения: 1096 и -2975
Секунд: 1096
datetime    2014-01-27 11:41:20
Name: 23263, dtype: object
datetime    2014-01-27 11:59:36
Name: 23264, dtype: object
datetime    2014-01-27 12:10:38
Name: 23265, dtype: object

datetime    2014-01-26 09:10:16
Name: 23882, dtype: object
datetime    2014-01-26 09:10:16
Name: 23883, dtype: object
datetime    2014-01-26 10:42:34
Name: 23884, dtype: object
27 / 496
Корни уравнения: 3588 и -12307
Секунд: 3588
datetime    2014-01-26 09:10:16
Name: 23882, dtype: object
datetime    2014-01-26 10:10:04
Name: 23883, dtype: object
datetime    2014-01-26 10:42:34
Name: 23884, dtype: object

datetime    2014-01-09 14:53:23
Name: 24025, dtype: object
datetime    2014-01-09 14:53:23
Name: 24026, dtype: object
datetime    2014-01-09 18:43:16
Name: 24027, dtype: object
28 / 496
Корни уравнения: 8947 и -33044
Секунд: 8947
datetime    2014-01-09 14:53:23
Name: 24025, dtype: object
datetime    2014-01-09 17:22:30
Name: 24026, dtype: object
datetime    2014-01-09 18:43:16
Name: 24027, dtype: object

datetime    2014-01-23 23:42:22
Name: 24116, dtype: object
datetime    2014-01-23 23:42:22
Name: 24117, dtype: object
datetime    2014-01-24 03:32:15
Name: 24118, dtype: object
29 / 496
Корни уравнения: 8882 и -28258
Секунд: 8882
datetime    2014-01-23 23:42:22
Name: 24116, dtype: object
datetime    2014-01-24 02:10:24
Name: 24117, dtype: object
datetime    2014-01-24 03:32:15
Name: 24118, dtype: object

datetime    2014-01-10 23:51:06
Name: 24390, dtype: object
datetime    2014-01-10 23:51:06
Name: 24391, dtype: object
datetime    2014-01-11 00:55:56
Name: 24392, dtype: object
30 / 496
Корни уравнения: -9053 и 2517
Секунд: 2517
datetime    2014-01-10 23:51:06
Name: 24390, dtype: object
datetime    2014-01-11 00:33:03
Name: 24391, dtype: object
datetime    2014-01-11 00:55:56
Name: 24392, dtype: object

datetime    2014-01-30 23:33:20
Name: 24835, dtype: object
datetime    2014-01-30 23:33:20
Name: 24836, dtype: object
datetime    2014-01-31 00:38:09
Name: 24837, dtype: object
31 / 496
Корни уравнения: 2349 и -5369
Секунд: 2349
datetime    2014-01-30 23:33:20
Name: 24835, dtype: object
datetime    2014-01-31 00:12:29
Name: 24836, dtype: object
datetime    2014-01-31 00:38:09
Name: 24837, dtype: object

datetime    2014-01-11 18:07:04
Name: 24951, dtype: object
datetime    2014-01-11 18:07:04
Name: 24952, dtype: object
datetime    2014-01-11 20:55:25
Name: 24953, dtype: object
32 / 496
Корни уравнения: 8128 и 2302651
Секунд: 8128
datetime    2014-01-11 18:07:04
Name: 24951, dtype: object
datetime    2014-01-11 20:22:32
Name: 24952, dtype: object
datetime    2014-01-11 20:55:25
Name: 24953, dtype: object

datetime    2014-01-27 21:17:42
Name: 25090, dtype: object
datetime    2014-01-27 21:17:42
Name: 25091, dtype: object
datetime    2014-01-28 00:06:02
Name: 25092, dtype: object
33 / 496
Корни уравнения: 6237 и -15953
Секунд: 6237
datetime    2014-01-27 21:17:42
Name: 25090, dtype: object
datetime    2014-01-27 23:01:39
Name: 25091, dtype: object
datetime    2014-01-28 00:06:02
Name: 25092, dtype: object

datetime    2014-01-15 11:34:31
Name: 25243, dtype: object
datetime    2014-01-15 11:34:31
Name: 25244, dtype: object
datetime    2014-01-15 14:34:17
Name: 25245, dtype: object
34 / 496
Корни уравнения: -23155 и 7095
Секунд: 7095
datetime    2014-01-15 11:34:31
Name: 25243, dtype: object
datetime    2014-01-15 13:32:46
Name: 25244, dtype: object
datetime    2014-01-15 14:34:17
Name: 25245, dtype: object

datetime    2014-01-09 00:37:52
Name: 26070, dtype: object
datetime    2014-01-09 00:37:52
Name: 26071, dtype: object
datetime    2014-01-09 01:37:27
Name: 26072, dtype: object
35 / 496
Корни уравнения: -3379 и 2113
Секунд: 2113
datetime    2014-01-09 00:37:52
Name: 26070, dtype: object
datetime    2014-01-09 01:13:05
Name: 26071, dtype: object
datetime    2014-01-09 01:37:27
Name: 26072, dtype: object

datetime    2014-01-25 01:53:37
Name: 26459, dtype: object
datetime    2014-01-25 01:53:37
Name: 26460, dtype: object
datetime    2014-01-25 02:53:12
Name: 26461, dtype: object
36 / 496
Корни уравнения: -6261 и 2238
Секунд: 2238
datetime    2014-01-25 01:53:37
Name: 26459, dtype: object
datetime    2014-01-25 02:30:55
Name: 26460, dtype: object
datetime    2014-01-25 02:53:12
Name: 26461, dtype: object

datetime    2014-01-19 03:52:46
Name: 27386, dtype: object
datetime    2014-01-19 03:52:46
Name: 27387, dtype: object
datetime    2014-01-19 04:34:16
Name: 27388, dtype: object
37 / 496
Корни уравнения: 1919 и 21799
Секунд: 1919
datetime    2014-01-19 03:52:46
Name: 27386, dtype: object
datetime    2014-01-19 04:24:45
Name: 27387, dtype: object
datetime    2014-01-19 04:34:16
Name: 27388, dtype: object

datetime    2014-01-13 05:48:54
Name: 30364, dtype: object
datetime    2014-01-13 05:48:54
Name: 30365, dtype: object
datetime    2014-01-13 08:15:48
Name: 30366, dtype: object
38 / 496
Корни уравнения: 5630 и -11028
Секунд: 5630
datetime    2014-01-13 05:48:54
Name: 30364, dtype: object
datetime    2014-01-13 07:22:44
Name: 30365, dtype: object
datetime    2014-01-13 08:15:48
Name: 30366, dtype: object

datetime    2014-01-08 12:44:21
Name: 30835, dtype: object
datetime    2014-01-08 12:44:21
Name: 30836, dtype: object
datetime    2014-01-08 13:22:16
Name: 30837, dtype: object
39 / 496
Корни уравнения: -1089 и 1089
Секунд: 1089
datetime    2014-01-08 12:44:21
Name: 30835, dtype: object
datetime    2014-01-08 13:02:30
Name: 30836, dtype: object
datetime    2014-01-08 13:22:16
Name: 30837, dtype: object

datetime    2014-01-16 01:28:43
Name: 31122, dtype: object
datetime    2014-01-16 01:28:43
Name: 31123, dtype: object
datetime    2014-01-16 02:06:38
Name: 31124, dtype: object
D < 0 в строке: 31122
datetime    2014-01-16 01:28:43
Name: 31122, dtype: object
datetime    2014-01-16 01:28:43
Name: 31123, dtype: object
datetime    2014-01-16 02:06:38
Name: 31124, dtype: object

datetime    2014-01-23 14:13:05
Name: 31409, dtype: object
datetime    2014-01-23 14:13:05
Name: 31410, dtype: object
datetime    2014-01-23 14:51:00
Name: 31411, dtype: object
40 / 496
Корни уравнения: 1664 и -12209
Секунд: 1664
datetime    2014-01-23 14:13:05
Name: 31409, dtype: object
datetime    2014-01-23 14:40:49
Name: 31410, dtype: object
datetime    2014-01-23 14:51:00
Name: 31411, dtype: object

datetime    2014-01-08 13:47:09
Name: 36283, dtype: object
datetime    2014-01-08 13:47:09
Name: 36284, dtype: object
datetime    2014-01-08 14:07:40
Name: 36285, dtype: object
41 / 496
Корни уравнения: 801 и -3156
Секунд: 801
datetime    2014-01-08 13:47:09
Name: 36283, dtype: object
datetime    2014-01-08 14:00:30
Name: 36284, dtype: object
datetime    2014-01-08 14:07:40
Name: 36285, dtype: object

datetime    2014-01-16 03:34:19
Name: 36816, dtype: object
datetime    2014-01-16 03:34:19
Name: 36817, dtype: object
datetime    2014-01-16 03:54:49
Name: 36818, dtype: object
42 / 496
Корни уравнения: -84 и 465
Секунд: 465
datetime    2014-01-16 03:34:19
Name: 36816, dtype: object
datetime    2014-01-16 03:42:04
Name: 36817, dtype: object
datetime    2014-01-16 03:54:49
Name: 36818, dtype: object

datetime    2014-01-27 12:15:04
Name: 37615, dtype: object
datetime    2014-01-27 12:15:04
Name: 37616, dtype: object
datetime    2014-01-27 12:35:34
Name: 37617, dtype: object
43 / 496
Корни уравнения: -1728 и 744
Секунд: 744
datetime    2014-01-27 12:15:04
Name: 37615, dtype: object
datetime    2014-01-27 12:27:28
Name: 37616, dtype: object
datetime    2014-01-27 12:35:34
Name: 37617, dtype: object

datetime    2014-01-11 00:31:05
Name: 38190, dtype: object
datetime    2014-01-11 00:31:05
Name: 38191, dtype: object
datetime    2014-01-11 01:27:01
Name: 38192, dtype: object
D < 0 в строке: 38190
datetime    2014-01-11 00:31:05
Name: 38190, dtype: object
datetime    2014-01-11 00:31:05
Name: 38191, dtype: object
datetime    2014-01-11 01:27:01
Name: 38192, dtype: object

datetime    2014-01-26 01:17:44
Name: 38578, dtype: object
datetime    2014-01-26 01:17:44
Name: 38579, dtype: object
datetime    2014-01-26 02:13:40
Name: 38580, dtype: object
44 / 496
Корни уравнения: -4381 и 2037
Секунд: 2037
datetime    2014-01-26 01:17:44
Name: 38578, dtype: object
datetime    2014-01-26 01:51:41
Name: 38579, dtype: object
datetime    2014-01-26 02:13:40
Name: 38580, dtype: object

datetime    2014-01-09 01:59:24
Name: 40935, dtype: object
datetime    2014-01-09 01:59:24
Name: 40936, dtype: object
datetime    2014-01-09 02:22:13
Name: 40937, dtype: object
45 / 496
Корни уравнения: 857 и -2375
Секунд: 857
datetime    2014-01-09 01:59:24
Name: 40935, dtype: object
datetime    2014-01-09 02:13:41
Name: 40936, dtype: object
datetime    2014-01-09 02:22:13
Name: 40937, dtype: object

datetime    2014-01-17 03:58:49
Name: 41446, dtype: object
datetime    2014-01-17 03:58:49
Name: 41447, dtype: object
datetime    2014-01-17 04:21:38
Name: 41448, dtype: object
46 / 496
Корни уравнения: 958 и -6759
Секунд: 958
datetime    2014-01-17 03:58:49
Name: 41446, dtype: object
datetime    2014-01-17 04:14:47
Name: 41447, dtype: object
datetime    2014-01-17 04:21:38
Name: 41448, dtype: object

datetime    2014-01-25 05:58:13
Name: 41957, dtype: object
datetime    2014-01-25 05:58:13
Name: 41958, dtype: object
datetime    2014-01-25 06:21:02
Name: 41959, dtype: object
47 / 496
Корни уравнения: -1637 и 805
Секунд: 805
datetime    2014-01-25 05:58:13
Name: 41957, dtype: object
datetime    2014-01-25 06:11:38

Name: 41958, dtype: object
datetime    2014-01-25 06:21:02
Name: 41959, dtype: object

datetime    2014-01-09 12:34:06
Name: 47275, dtype: object
datetime    2014-01-09 12:34:06
Name: 47276, dtype: object
datetime    2014-01-09 14:44:41
Name: 47277, dtype: object
48 / 496
Корни уравнения: -22131 и 5651
Секунд: 5651
datetime    2014-01-09 12:34:06
Name: 47275, dtype: object
datetime    2014-01-09 14:08:17
Name: 47276, dtype: object
datetime    2014-01-09 14:44:41
Name: 47277, dtype: object

datetime    2014-01-18 01:08:13
Name: 47370, dtype: object
datetime    2014-01-18 01:08:13
Name: 47371, dtype: object
datetime    2014-01-18 03:18:48
Name: 47372, dtype: object
49 / 496
Корни уравнения: -11934 и 4879
Секунд: 4879
datetime    2014-01-18 01:08:13
Name: 47370, dtype: object
datetime    2014-01-18 02:29:32
Name: 47371, dtype: object
datetime    2014-01-18 03:18:48
Name: 47372, dtype: object

datetime    2014-01-26 13:42:20
Name: 47465, dtype: object
datetime    2014-01-26 13:42:20
Name: 47466, dtype: object
datetime    2014-01-26 15:52:55
Name: 47467, dtype: object
50 / 496
Корни уравнения: -10794 и 4737
Секунд: 4737
datetime    2014-01-26 13:42:20
Name: 47465, dtype: object
datetime    2014-01-26 15:01:17
Name: 47466, dtype: object
datetime    2014-01-26 15:52:55
Name: 47467, dtype: object

datetime    2014-01-17 10:53:37
Name: 49533, dtype: object
datetime    2014-01-17 10:53:37
Name: 49534, dtype: object
datetime    2014-01-17 11:38:14
Name: 49535, dtype: object
51 / 496
Корни уравнения: 1705 и -5278
Секунд: 1705
datetime    2014-01-17 10:53:37
Name: 49533, dtype: object
datetime    2014-01-17 11:22:02
Name: 49534, dtype: object
datetime    2014-01-17 11:38:14
Name: 49535, dtype: object

datetime    2014-01-08 02:48:27
Name: 51685, dtype: object
datetime    2014-01-08 02:48:27
Name: 51686, dtype: object
datetime    2014-01-08 03:25:52
Name: 51687, dtype: object
D < 0 в строке: 51685
datetime    2014-01-08 02:48:27
Name: 51685, dtype: object
datetime    2014-01-08 02:48:27
Name: 51686, dtype: object
datetime    2014-01-08 03:25:52
Name: 51687, dtype: object

datetime    2014-01-22 08:25:23
Name: 52234, dtype: object
datetime    2014-01-22 08:25:23
Name: 52235, dtype: object
datetime    2014-01-22 09:02:47
Name: 52236, dtype: object
52 / 496
Корни уравнения: -6743 и 1490
Секунд: 1490
datetime    2014-01-22 08:25:23
Name: 52234, dtype: object
datetime    2014-01-22 08:50:13
Name: 52235, dtype: object
datetime    2014-01-22 09:02:47
Name: 52236, dtype: object

datetime    2014-01-18 22:47:52
Name: 54278, dtype: object
datetime    2014-01-18 22:47:52
Name: 54279, dtype: object
datetime    2014-01-19 00:32:57
Name: 54280, dtype: object
53 / 496
Корни уравнения: 3921 и -10296
Секунд: 3921
datetime    2014-01-18 22:47:52
Name: 54278, dtype: object
datetime    2014-01-18 23:53:13
Name: 54279, dtype: object
datetime    2014-01-19 00:32:57
Name: 54280, dtype: object

datetime    2014-01-10 00:50:41
Name: 60233, dtype: object
datetime    2014-01-10 00:50:41
Name: 60234, dtype: object
datetime    2014-01-10 03:12:06
Name: 60235, dtype: object
54 / 496
Корни уравнения: 4986 и -10319
Секунд: 4986
datetime    2014-01-10 00:50:41
Name: 60233, dtype: object
datetime    2014-01-10 02:13:47
Name: 60234, dtype: object
datetime    2014-01-10 03:12:06
Name: 60235, dtype: object

datetime    2014-01-23 14:06:44
Name: 60372, dtype: object
datetime    2014-01-23 14:06:44
Name: 60373, dtype: object
datetime    2014-01-23 16:28:09
Name: 60374, dtype: object
55 / 496
Корни уравнения: 4697 и -7371
Секунд: 4697
datetime    2014-01-23 14:06:44
Name: 60372, dtype: object
datetime    2014-01-23 15:25:01
Name: 60373, dtype: object
datetime    2014-01-23 16:28:09
Name: 60374, dtype: object

datetime    2014-01-07 01:21:35
Name: 62699, dtype: object
datetime    2014-01-07 01:21:35
Name: 62700, dtype: object
datetime    2014-01-07 01:38:53
Name: 62701, dtype: object
56 / 496
Корни уравнения: -10899 и 758
Секунд: 758
datetime    2014-01-07 01:21:35
Name: 62699, dtype: object
datetime    2014-01-07 01:34:13
Name: 62700, dtype: object
datetime    2014-01-07 01:38:53
Name: 62701, dtype: object

datetime    2014-01-16 03:23:59
Name: 63456, dtype: object
datetime    2014-01-16 03:23:59
Name: 63457, dtype: object
datetime    2014-01-16 03:41:17
Name: 63458, dtype: object
57 / 496
Корни уравнения: 803 и 22206
Секунд: 803
datetime    2014-01-16 03:23:59
Name: 63456, dtype: object
datetime    2014-01-16 03:37:22
Name: 63457, dtype: object
datetime    2014-01-16 03:41:17
Name: 63458, dtype: object

datetime    2014-01-25 05:26:22
Name: 64213, dtype: object
datetime    2014-01-25 05:26:22
Name: 64214, dtype: object
datetime    2014-01-25 05:43:40
Name: 64215, dtype: object
58 / 496
Корни уравнения: 474 и -280
Секунд: 474
datetime    2014-01-25 05:26:22
Name: 64213, dtype: object
datetime    2014-01-25 05:34:16
Name: 64214, dtype: object
datetime    2014-01-25 05:43:40
Name: 64215, dtype: object

datetime    2014-01-07 23:22:37
Name: 69386, dtype: object
datetime    2014-01-07 23:22:37
Name: 69387, dtype: object
datetime    2014-01-08 01:03:02
Name: 69388, dtype: object
59 / 496
Корни уравнения: -14312 и 3902
Секунд: 3902
datetime    2014-01-07 23:22:37
Name: 69386, dtype: object
datetime    2014-01-08 00:27:39
Name: 69387, dtype: object
datetime    2014-01-08 01:03:02
Name: 69388, dtype: object

datetime    2014-01-14 22:45:14
Name: 69487, dtype: object
datetime    2014-01-14 22:45:14
Name: 69488, dtype: object
datetime    2014-01-15 00:25:39
Name: 69489, dtype: object
D < 0 в строке: 69487
datetime    2014-01-14 22:45:14
Name: 69487, dtype: object
datetime    2014-01-14 22:45:14
Name: 69488, dtype: object
datetime    2014-01-15 00:25:39
Name: 69489, dtype: object

datetime    2014-01-21 22:07:51
Name: 69588, dtype: object
datetime    2014-01-21 22:07:51
Name: 69589, dtype: object
datetime    2014-01-21 23:48:16
Name: 69590, dtype: object
60 / 496
Корни уравнения: 3593 и -7720
Секунд: 3593
datetime    2014-01-21 22:07:51
Name: 69588, dtype: object
datetime    2014-01-21 23:07:44
Name: 69589, dtype: object
datetime    2014-01-21 23:48:16
Name: 69590, dtype: object

datetime    2014-01-28 21:30:28
Name: 69689, dtype: object
datetime    2014-01-28 21:30:28
Name: 69690, dtype: object
datetime    2014-01-28 23:10:54
Name: 69691, dtype: object
61 / 496
Корни уравнения: 3708 и -9144
Секунд: 3708
datetime    2014-01-28 21:30:28
Name: 69689, dtype: object
datetime    2014-01-28 22:32:16
Name: 69690, dtype: object
datetime    2014-01-28 23:10:54
Name: 69691, dtype: object

datetime    2014-01-09 01:20:25
Name: 70109, dtype: object
datetime    2014-01-09 01:20:25
Name: 70110, dtype: object
datetime    2014-01-09 01:51:26
Name: 70111, dtype: object
62 / 496
Корни уравнения: -1702 и 1044
Секунд: 1044
datetime    2014-01-09 01:20:25
Name: 70109, dtype: object
datetime    2014-01-09 01:37:49
Name: 70110, dtype: object
datetime    2014-01-09 01:51:26
Name: 70111, dtype: object

datetime    2014-01-17 02:40:50
Name: 70484, dtype: object
datetime    2014-01-17 02:40:50
Name: 70485, dtype: object
datetime    2014-01-17 03:11:51
Name: 70486, dtype: object
63 / 496
Корни уравнения: 1178 и -3500
Секунд: 1178
datetime    2014-01-17 02:40:50
Name: 70484, dtype: object
datetime    2014-01-17 03:00:28
Name: 70485, dtype: object
datetime    2014-01-17 03:11:51
Name: 70486, dtype: object

datetime    2014-01-29 04:41:28
Name: 71046, dtype: object
datetime    2014-01-29 04:41:28
Name: 71047, dtype: object
datetime    2014-01-29 05:12:29
Name: 71048, dtype: object
64 / 496
Корни уравнения: -2048 и 1080
Секунд: 1080
datetime    2014-01-29 04:41:28
Name: 71046, dtype: object
datetime    2014-01-29 04:59:28
Name: 71047, dtype: object
datetime    2014-01-29 05:12:29
Name: 71048, dtype: object

datetime    2014-01-08 22:52:55
Name: 71565, dtype: object
datetime    2014-01-08 22:52:55
Name: 71566, dtype: object
datetime    2014-01-09 00:06:20
Name: 71567, dtype: object
65 / 496
Корни уравнения: 2760 и -7709
Секунд: 2760
datetime    2014-01-08 22:52:55
Name: 71565, dtype: object
datetime    2014-01-08 23:38:55
Name: 71566, dtype: object
datetime    2014-01-09 00:06:20
Name: 71567, dtype: object

datetime    2014-01-20 21:12:18
Name: 71800, dtype: object
datetime    2014-01-20 21:12:18
Name: 71801, dtype: object
datetime    2014-01-20 22:25:43
Name: 71802, dtype: object
66 / 496
Корни уравнения: 2694 и -6460
Секунд: 2694
datetime    2014-01-20 21:12:18
Name: 71800, dtype: object
datetime    2014-01-20 21:57:12
Name: 71801, dtype: object
datetime    2014-01-20 22:25:43
Name: 71802, dtype: object

datetime    2014-01-24 17:14:08
Name: 72168, dtype: object
datetime    2014-01-24 17:14:08
Name: 72169, dtype: object
datetime    2014-01-24 21:04:55
Name: 72170, dtype: object
67 / 496
Корни уравнения: -19103 и 8428
Секунд: 8428
datetime    2014-01-24 17:14:08
Name: 72168, dtype: object
datetime    2014-01-24 19:34:36
Name: 72169, dtype: object
datetime    2014-01-24 21:04:55
Name: 72170, dtype: object

datetime    2014-01-10 23:58:24
Name: 78711, dtype: object
datetime    2014-01-10 23:58:24
Name: 78712, dtype: object
datetime    2014-01-11 01:04:09
Name: 78713, dtype: object
68 / 496
Корни уравнения: 2499 и -7250
Секунд: 2499
datetime    2014-01-10 23:58:24
Name: 78711, dtype: object
datetime    2014-01-11 00:40:03
Name: 78712, dtype: object
datetime    2014-01-11 01:04:09
Name: 78713, dtype: object

datetime    2014-01-27 15:55:44
Name: 79077, dtype: object
datetime    2014-01-27 15:55:44
Name: 79078, dtype: object
datetime    2014-01-27 17:01:29
Name: 79079, dtype: object
69 / 496
Корни уравнения: 3111 и 31899
Секунд: 3111
datetime    2014-01-27 15:55:44
Name: 79077, dtype: object
datetime    2014-01-27 16:47:35
Name: 79078, dtype: object
datetime    2014-01-27 17:01:29
Name: 79079, dtype: object

datetime    2014-01-10 13:35:58
Name: 83384, dtype: object
datetime    2014-01-10 13:35:58
Name: 83385, dtype: object
datetime    2014-01-10 13:54:33
Name: 83386, dtype: object
70 / 496
Корни уравнения: 607 и -981
Секунд: 607
datetime    2014-01-10 13:35:58
Name: 83384, dtype: object
datetime    2014-01-10 13:46:05
Name: 83385, dtype: object
datetime    2014-01-10 13:54:33
Name: 83386, dtype: object

datetime    2014-01-26 12:15:55
Name: 84620, dtype: object
datetime    2014-01-26 12:15:55
Name: 84621, dtype: object
datetime    2014-01-26 12:34:31

Name: 84622, dtype: object
71 / 496
Корни уравнения: -1852 и 693
Секунд: 693
datetime    2014-01-26 12:15:55
Name: 84620, dtype: object
datetime    2014-01-26 12:27:28
Name: 84621, dtype: object
datetime    2014-01-26 12:34:31
Name: 84622, dtype: object

datetime    2014-01-07 12:47:45
Name: 87423, dtype: object
datetime    2014-01-07 12:47:45
Name: 87424, dtype: object
datetime    2014-01-07 15:14:44
Name: 87425, dtype: object
72 / 496
Корни уравнения: 58 и 2691
Секунд: 58
datetime    2014-01-07 12:47:45
Name: 87423, dtype: object
datetime    2014-01-07 12:48:43
Name: 87424, dtype: object
datetime    2014-01-07 15:14:44
Name: 87425, dtype: object

datetime    2014-01-14 01:35:30
Name: 87488, dtype: object
datetime    2014-01-14 01:35:30
Name: 87489, dtype: object
datetime    2014-01-14 04:02:29
Name: 87490, dtype: object
73 / 496
Корни уравнения: 5556 и -16141
Секунд: 5556
datetime    2014-01-14 01:35:30
Name: 87488, dtype: object
datetime    2014-01-14 03:08:06
Name: 87489, dtype: object
datetime    2014-01-14 04:02:29
Name: 87490, dtype: object

datetime    2014-01-20 14:23:15
Name: 87553, dtype: object
datetime    2014-01-20 14:23:15
Name: 87554, dtype: object
datetime    2014-01-20 16:50:14
Name: 87555, dtype: object
74 / 496
Корни уравнения: 5075 и -6905
Секунд: 5075
datetime    2014-01-20 14:23:15
Name: 87553, dtype: object
datetime    2014-01-20 15:47:50
Name: 87554, dtype: object
datetime    2014-01-20 16:50:14
Name: 87555, dtype: object

datetime    2014-01-27 03:11:00
Name: 87618, dtype: object
datetime    2014-01-27 03:11:00
Name: 87619, dtype: object
datetime    2014-01-27 05:37:59
Name: 87620, dtype: object
75 / 496
Корни уравнения: -9027 и 5008
Секунд: 5008
datetime    2014-01-27 03:11:00
Name: 87618, dtype: object
datetime    2014-01-27 04:34:28
Name: 87619, dtype: object
datetime    2014-01-27 05:37:59
Name: 87620, dtype: object

datetime    2014-01-10 06:49:14
Name: 88443, dtype: object
datetime    2014-01-10 06:49:14
Name: 88444, dtype: object
datetime    2014-01-10 07:58:52
Name: 88445, dtype: object
76 / 496
Корни уравнения: -23537 и 2971
Секунд: 2971
datetime    2014-01-10 06:49:14
Name: 88443, dtype: object
datetime    2014-01-10 07:38:45
Name: 88444, dtype: object
datetime    2014-01-10 07:58:52
Name: 88445, dtype: object

datetime    2014-01-24 05:03:06
Name: 88732, dtype: object
datetime    2014-01-24 05:03:06
Name: 88733, dtype: object
datetime    2014-01-24 06:12:44
Name: 88734, dtype: object
D < 0 в строке: 88732
datetime    2014-01-24 05:03:06
Name: 88732, dtype: object
datetime    2014-01-24 05:03:06
Name: 88733, dtype: object
datetime    2014-01-24 06:12:44
Name: 88734, dtype: object

datetime    2014-01-08 12:20:13
Name: 89157, dtype: object
datetime    2014-01-08 12:20:13
Name: 89158, dtype: object
datetime    2014-01-08 13:01:31
Name: 89159, dtype: object
D < 0 в строке: 89157
datetime    2014-01-08 12:20:13
Name: 89157, dtype: object
datetime    2014-01-08 12:20:13
Name: 89158, dtype: object
datetime    2014-01-08 13:01:31
Name: 89159, dtype: object

datetime    2014-01-16 00:40:26
Name: 89420, dtype: object
datetime    2014-01-16 00:40:26
Name: 89421, dtype: object
datetime    2014-01-16 01:21:44
Name: 89422, dtype: object
77 / 496
Корни уравнения: 1754 и -7868
Секунд: 1754
datetime    2014-01-16 00:40:26
Name: 89420, dtype: object
datetime    2014-01-16 01:09:40
Name: 89421, dtype: object
datetime    2014-01-16 01:21:44
Name: 89422, dtype: object

datetime    2014-01-27 07:10:46
Name: 89814, dtype: object
datetime    2014-01-27 07:10:46
Name: 89815, dtype: object
datetime    2014-01-27 07:52:04
Name: 89816, dtype: object
78 / 496
Корни уравнения: -31978 и 1783
Секунд: 1783
datetime    2014-01-27 07:10:46
Name: 89814, dtype: object
datetime    2014-01-27 07:40:29
Name: 89815, dtype: object
datetime    2014-01-27 07:52:04
Name: 89816, dtype: object

datetime    2014-01-13 02:31:08
Name: 90415, dtype: object
datetime    2014-01-13 02:31:08
Name: 90416, dtype: object
datetime    2014-01-13 03:11:06
Name: 90417, dtype: object
79 / 496
Корни уравнения: 2351 и 4063
Секунд: 2351
datetime    2014-01-13 02:31:08
Name: 90415, dtype: object
datetime    2014-01-13 03:10:19
Name: 90416, dtype: object
datetime    2014-01-13 03:11:06
Name: 90417, dtype: object

datetime    2014-01-31 06:17:50
Name: 91070, dtype: object
datetime    2014-01-31 06:17:50
Name: 91071, dtype: object
datetime    2014-01-31 06:57:48
Name: 91072, dtype: object
80 / 496
Корни уравнения: -3515 и 1463
Секунд: 1463
datetime    2014-01-31 06:17:50
Name: 91070, dtype: object
datetime    2014-01-31 06:42:13
Name: 91071, dtype: object
datetime    2014-01-31 06:57:48
Name: 91072, dtype: object

datetime    2014-01-07 06:37:02
Name: 91569, dtype: object
datetime    2014-01-07 06:37:02
Name: 91570, dtype: object
datetime    2014-01-07 08:19:44
Name: 91571, dtype: object
81 / 496
Корни уравнения: 3753 и -8907
Секунд: 3753
datetime    2014-01-07 06:37:02
Name: 91569, dtype: object
datetime    2014-01-07 07:39:35
Name: 91570, dtype: object
datetime    2014-01-07 08:19:44
Name: 91571, dtype: object

datetime    2014-01-13 13:14:05
Name: 91658, dtype: object
datetime    2014-01-13 13:14:05
Name: 91659, dtype: object
datetime    2014-01-13 14:56:47
Name: 91660, dtype: object
82 / 496
Корни уравнения: 1690 и 686
Секунд: 686
datetime    2014-01-13 13:14:05
Name: 91658, dtype: object
datetime    2014-01-13 13:25:31
Name: 91659, dtype: object
datetime    2014-01-13 14:56:47
Name: 91660, dtype: object

datetime    2014-01-19 19:51:08
Name: 91747, dtype: object
datetime    2014-01-19 19:51:08
Name: 91748, dtype: object
datetime    2014-01-19 21:33:50
Name: 91749, dtype: object
83 / 496
Корни уравнения: -11497 и 3925
Секунд: 3925
datetime    2014-01-19 19:51:08
Name: 91747, dtype: object
datetime    2014-01-19 20:56:33
Name: 91748, dtype: object
datetime    2014-01-19 21:33:50
Name: 91749, dtype: object

datetime    2014-01-29 05:46:43
Name: 91880, dtype: object
datetime    2014-01-29 05:46:43
Name: 91881, dtype: object
datetime    2014-01-29 07:29:24
Name: 91882, dtype: object
84 / 496
Корни уравнения: 3730 и -8587
Секунд: 3730
datetime    2014-01-29 05:46:43
Name: 91880, dtype: object
datetime    2014-01-29 06:48:53
Name: 91881, dtype: object
datetime    2014-01-29 07:29:24
Name: 91882, dtype: object

datetime    2014-01-25 14:31:06
Name: 92933, dtype: object
datetime    2014-01-25 14:31:06
Name: 92934, dtype: object
datetime    2014-01-25 15:41:24
Name: 92935, dtype: object
85 / 496
Корни уравнения: -5991 и 2674
Секунд: 2674
datetime    2014-01-25 14:31:06
Name: 92933, dtype: object
datetime    2014-01-25 15:15:40
Name: 92934, dtype: object
datetime    2014-01-25 15:41:24
Name: 92935, dtype: object

datetime    2014-01-10 18:02:42
Name: 93826, dtype: object
datetime    2014-01-10 18:02:42
Name: 93827, dtype: object
datetime    2014-01-10 21:12:28
Name: 93828, dtype: object
86 / 496
Корни уравнения: 8310 и 140135
Секунд: 8310
datetime    2014-01-10 18:02:42
Name: 93826, dtype: object
datetime    2014-01-10 20:21:12
Name: 93827, dtype: object
datetime    2014-01-10 21:12:28
Name: 93828, dtype: object

datetime    2014-01-20 12:05:25
Name: 93901, dtype: object
datetime    2014-01-20 12:05:25
Name: 93902, dtype: object
datetime    2014-01-20 15:15:10
Name: 93903, dtype: object
87 / 496
Корни уравнения: -10380 и 6513
Секунд: 6513
datetime    2014-01-20 12:05:25
Name: 93901, dtype: object
datetime    2014-01-20 13:53:58
Name: 93902, dtype: object
datetime    2014-01-20 15:15:10
Name: 93903, dtype: object

datetime    2014-01-30 06:08:07
Name: 93976, dtype: object
datetime    2014-01-30 06:08:07
Name: 93977, dtype: object
datetime    2014-01-30 09:17:53
Name: 93978, dtype: object
88 / 496
Корни уравнения: -16138 и 6920
Секунд: 6920
datetime    2014-01-30 06:08:07
Name: 93976, dtype: object
datetime    2014-01-30 08:03:27
Name: 93977, dtype: object
datetime    2014-01-30 09:17:53
Name: 93978, dtype: object

datetime    2014-01-08 13:36:04
Name: 95467, dtype: object
datetime    2014-01-08 13:36:04
Name: 95468, dtype: object
datetime    2014-01-08 14:07:12
Name: 95469, dtype: object
89 / 496
Корни уравнения: -2654 и 1135
Секунд: 1135
datetime    2014-01-08 13:36:04
Name: 95467, dtype: object
datetime    2014-01-08 13:54:59
Name: 95468, dtype: object
datetime    2014-01-08 14:07:12
Name: 95469, dtype: object

datetime    2014-01-16 03:12:08
Name: 95818, dtype: object
datetime    2014-01-16 03:12:08
Name: 95819, dtype: object
datetime    2014-01-16 03:43:16
Name: 95820, dtype: object
90 / 496
Корни уравнения: 1240 и -5442
Секунд: 1240
datetime    2014-01-16 03:12:08
Name: 95818, dtype: object
datetime    2014-01-16 03:32:48
Name: 95819, dtype: object
datetime    2014-01-16 03:43:16
Name: 95820, dtype: object

datetime    2014-01-27 11:36:14
Name: 96344, dtype: object
datetime    2014-01-27 11:36:14
Name: 96345, dtype: object
datetime    2014-01-27 12:07:22
Name: 96346, dtype: object
91 / 496
Корни уравнения: 1202 и -3912
Секунд: 1202
datetime    2014-01-27 11:36:14
Name: 96344, dtype: object
datetime    2014-01-27 11:56:16
Name: 96345, dtype: object
datetime    2014-01-27 12:07:22
Name: 96346, dtype: object

datetime    2014-01-06 20:45:37
Name: 98574, dtype: object
datetime    2014-01-06 20:45:37
Name: 98575, dtype: object
datetime    2014-01-06 22:26:09
Name: 98576, dtype: object
92 / 496
Корни уравнения: 38037 и 4896
Секунд: 4896
datetime    2014-01-06 20:45:37
Name: 98574, dtype: object
datetime    2014-01-06 22:07:13
Name: 98575, dtype: object
datetime    2014-01-06 22:26:09
Name: 98576, dtype: object

datetime    2014-01-12 17:31:14
Name: 98659, dtype: object
datetime    2014-01-12 17:31:14
Name: 98660, dtype: object
datetime    2014-01-12 19:11:47
Name: 98661, dtype: object
93 / 496
Корни уравнения: -4517 и 3465
Секунд: 3465
datetime    2014-01-12 17:31:14
Name: 98659, dtype: object
datetime    2014-01-12 18:28:59

Name: 98660, dtype: object
datetime    2014-01-12 19:11:47
Name: 98661, dtype: object

datetime    2014-01-18 14:16:51
Name: 98744, dtype: object
datetime    2014-01-18 14:16:51
Name: 98745, dtype: object
datetime    2014-01-18 15:57:24
Name: 98746, dtype: object
94 / 496
Корни уравнения: 3144 и -3832
Секунд: 3144
datetime    2014-01-18 14:16:51
Name: 98744, dtype: object
datetime    2014-01-18 15:09:15
Name: 98745, dtype: object
datetime    2014-01-18 15:57:24
Name: 98746, dtype: object

datetime    2014-01-24 11:02:28
Name: 98829, dtype: object
datetime    2014-01-24 11:02:28
Name: 98830, dtype: object
datetime    2014-01-24 12:43:01
Name: 98831, dtype: object
95 / 496
Корни уравнения: -9391 и 3748
Секунд: 3748
datetime    2014-01-24 11:02:28
Name: 98829, dtype: object
datetime    2014-01-24 12:04:56
Name: 98830, dtype: object
datetime    2014-01-24 12:43:01
Name: 98831, dtype: object

datetime    2014-01-16 03:19:20
Name: 99529, dtype: object
datetime    2014-01-16 03:19:20
Name: 99530, dtype: object
datetime    2014-01-16 03:56:13
Name: 99531, dtype: object
D < 0 в строке: 99529
datetime    2014-01-16 03:19:20
Name: 99529, dtype: object
datetime    2014-01-16 03:19:20
Name: 99530, dtype: object
datetime    2014-01-16 03:56:13
Name: 99531, dtype: object

datetime    2014-01-18 10:58:50
Name: 100405, dtype: object
datetime    2014-01-18 10:58:50
Name: 100406, dtype: object
datetime    2014-01-18 12:37:25
Name: 100407, dtype: object
96 / 496
Корни уравнения: 3657 и -9432
Секунд: 3657
datetime    2014-01-18 10:58:50
Name: 100405, dtype: object
datetime    2014-01-18 11:59:47
Name: 100406, dtype: object
datetime    2014-01-18 12:37:25
Name: 100407, dtype: object

datetime    2014-01-10 05:31:13
Name: 100774, dtype: object
datetime    2014-01-10 05:31:13
Name: 100775, dtype: object
datetime    2014-01-10 06:49:24
Name: 100776, dtype: object
97 / 496
Корни уравнения: 2702 и -3914
Секунд: 2702
datetime    2014-01-10 05:31:13
Name: 100774, dtype: object
datetime    2014-01-10 06:16:15
Name: 100775, dtype: object
datetime    2014-01-10 06:49:24
Name: 100776, dtype: object

datetime    2014-01-24 01:48:04
Name: 101030, dtype: object
datetime    2014-01-24 01:48:04
Name: 101031, dtype: object
datetime    2014-01-24 03:06:15
Name: 101032, dtype: object
98 / 496
Корни уравнения: -5053 и 2703
Секунд: 2703
datetime    2014-01-24 01:48:04
Name: 101030, dtype: object
datetime    2014-01-24 02:33:07
Name: 101031, dtype: object
datetime    2014-01-24 03:06:15
Name: 101032, dtype: object

datetime    2014-01-13 01:35:41
Name: 105945, dtype: object
datetime    2014-01-13 01:35:41
Name: 105946, dtype: object
datetime    2014-01-13 02:45:45
Name: 105947, dtype: object
99 / 496
Корни уравнения: -785 и 1804
Секунд: 1804
datetime    2014-01-13 01:35:41
Name: 105945, dtype: object
datetime    2014-01-13 02:05:45
Name: 105946, dtype: object
datetime    2014-01-13 02:45:45
Name: 105947, dtype: object

datetime    2014-01-25 03:11:22
Name: 106194, dtype: object
datetime    2014-01-25 03:11:22
Name: 106195, dtype: object
datetime    2014-01-25 04:21:26
Name: 106196, dtype: object
100 / 496
Корни уравнения: -6642 и 2600
Секунд: 2600
datetime    2014-01-25 03:11:22
Name: 106194, dtype: object
datetime    2014-01-25 03:54:42
Name: 106195, dtype: object
datetime    2014-01-25 04:21:26
Name: 106196, dtype: object

datetime    2014-01-05 00:29:12
Name: 108292, dtype: object
datetime    2014-01-05 00:29:12
Name: 108293, dtype: object
datetime    2014-01-05 01:08:19
Name: 108294, dtype: object
101 / 496
Корни уравнения: 26789 и 1757
Секунд: 1757
datetime    2014-01-05 00:29:12
Name: 108292, dtype: object
datetime    2014-01-05 00:58:29
Name: 108293, dtype: object
datetime    2014-01-05 01:08:19
Name: 108294, dtype: object

datetime    2014-01-13 01:27:36
Name: 108589, dtype: object
datetime    2014-01-13 01:27:36
Name: 108590, dtype: object
datetime    2014-01-13 02:06:43
Name: 108591, dtype: object
102 / 496
Корни уравнения: 1434 и -3494
Секунд: 1434
datetime    2014-01-13 01:27:36
Name: 108589, dtype: object
datetime    2014-01-13 01:51:30
Name: 108590, dtype: object
datetime    2014-01-13 02:06:43
Name: 108591, dtype: object

datetime    2014-01-21 02:26:00
Name: 108886, dtype: object
datetime    2014-01-21 02:26:00
Name: 108887, dtype: object
datetime    2014-01-21 03:05:07
Name: 108888, dtype: object
103 / 496
Корни уравнения: -640 и 827
Секунд: 827
datetime    2014-01-21 02:26:00
Name: 108886, dtype: object
datetime    2014-01-21 02:39:47
Name: 108887, dtype: object
datetime    2014-01-21 03:05:07
Name: 108888, dtype: object

datetime    2014-01-29 03:24:24
Name: 109183, dtype: object
datetime    2014-01-29 03:24:24
Name: 109184, dtype: object
datetime    2014-01-29 04:03:31
Name: 109185, dtype: object
104 / 496
Корни уравнения: 1348 и -2298
Секунд: 1348
datetime    2014-01-29 03:24:24
Name: 109183, dtype: object
datetime    2014-01-29 03:46:52
Name: 109184, dtype: object
datetime    2014-01-29 04:03:31
Name: 109185, dtype: object

datetime    2014-01-07 15:57:12
Name: 112373, dtype: object
datetime    2014-01-07 15:57:12
Name: 112374, dtype: object
datetime    2014-01-07 16:52:21
Name: 112375, dtype: object
105 / 496
Корни уравнения: 2098 и -6462
Секунд: 2098
datetime    2014-01-07 15:57:12
Name: 112373, dtype: object
datetime    2014-01-07 16:32:10
Name: 112374, dtype: object
datetime    2014-01-07 16:52:21
Name: 112375, dtype: object

datetime    2014-01-14 07:54:24
Name: 112548, dtype: object
datetime    2014-01-14 07:54:24
Name: 112549, dtype: object
datetime    2014-01-14 08:49:33
Name: 112550, dtype: object
D < 0 в строке: 112548
datetime    2014-01-14 07:54:24
Name: 112548, dtype: object
datetime    2014-01-14 07:54:24
Name: 112549, dtype: object
datetime    2014-01-14 08:49:33
Name: 112550, dtype: object

datetime    2014-01-24 07:50:12
Name: 112810, dtype: object
datetime    2014-01-24 07:50:12
Name: 112811, dtype: object
datetime    2014-01-24 08:45:21
Name: 112812, dtype: object
106 / 496
Корни уравнения: 2216 и -10257
Секунд: 2216
datetime    2014-01-24 07:50:12
Name: 112810, dtype: object
datetime    2014-01-24 08:27:08
Name: 112811, dtype: object
datetime    2014-01-24 08:45:21
Name: 112812, dtype: object

datetime    2014-01-08 03:05:35
Name: 116278, dtype: object
datetime    2014-01-08 03:05:35
Name: 116279, dtype: object
datetime    2014-01-08 03:35:16
Name: 116280, dtype: object
107 / 496
Корни уравнения: 1137 и -3563
Секунд: 1137
datetime    2014-01-08 03:05:35
Name: 116278, dtype: object
datetime    2014-01-08 03:24:32
Name: 116279, dtype: object
datetime    2014-01-08 03:35:16
Name: 116280, dtype: object

datetime    2014-01-18 19:43:59
Name: 116798, dtype: object
datetime    2014-01-18 19:43:59
Name: 116799, dtype: object
datetime    2014-01-18 20:13:40
Name: 116800, dtype: object
108 / 496
Корни уравнения: 902 и -769
Секунд: 902
datetime    2014-01-18 19:43:59
Name: 116798, dtype: object
datetime    2014-01-18 19:59:01
Name: 116799, dtype: object
datetime    2014-01-18 20:13:40
Name: 116800, dtype: object

datetime    2014-01-29 12:22:23
Name: 117318, dtype: object
datetime    2014-01-29 12:22:23
Name: 117319, dtype: object
datetime    2014-01-29 12:52:03
Name: 117320, dtype: object
109 / 496
Корни уравнения: -2036 и 1042
Секунд: 1042
datetime    2014-01-29 12:22:23
Name: 117318, dtype: object
datetime    2014-01-29 12:39:45
Name: 117319, dtype: object
datetime    2014-01-29 12:52:03
Name: 117320, dtype: object

datetime    2014-01-11 03:06:20
Name: 118090, dtype: object
datetime    2014-01-11 03:06:20
Name: 118091, dtype: object
datetime    2014-01-11 03:28:47
Name: 118092, dtype: object
110 / 496
Корни уравнения: -2313 и 849
Секунд: 849
datetime    2014-01-11 03:06:20
Name: 118090, dtype: object
datetime    2014-01-11 03:20:29
Name: 118091, dtype: object
datetime    2014-01-11 03:28:47
Name: 118092, dtype: object

datetime    2014-01-21 06:12:41
Name: 118741, dtype: object
datetime    2014-01-21 06:12:41
Name: 118742, dtype: object
datetime    2014-01-21 06:35:08
Name: 118743, dtype: object
111 / 496
Корни уравнения: -3307 и 878
Секунд: 878
datetime    2014-01-21 06:12:41
Name: 118741, dtype: object
datetime    2014-01-21 06:27:19
Name: 118742, dtype: object
datetime    2014-01-21 06:35:08
Name: 118743, dtype: object

datetime    2014-01-31 09:19:02
Name: 119392, dtype: object
datetime    2014-01-31 09:19:02
Name: 119393, dtype: object
datetime    2014-01-31 09:41:29
Name: 119394, dtype: object
112 / 496
Корни уравнения: 11068 и 1057
Секунд: 1057
datetime    2014-01-31 09:19:02
Name: 119392, dtype: object
datetime    2014-01-31 09:36:39
Name: 119393, dtype: object
datetime    2014-01-31 09:41:29
Name: 119394, dtype: object

datetime    2014-01-09 01:44:30
Name: 119703, dtype: object
datetime    2014-01-09 01:44:30
Name: 119704, dtype: object
datetime    2014-01-09 02:27:34
Name: 119705, dtype: object
113 / 496
Корни уравнения: -2234 и 1459
Секунд: 1459
datetime    2014-01-09 01:44:30
Name: 119703, dtype: object
datetime    2014-01-09 02:08:49
Name: 119704, dtype: object
datetime    2014-01-09 02:27:34
Name: 119705, dtype: object

datetime    2014-01-17 03:29:01
Name: 119974, dtype: object
datetime    2014-01-17 03:29:01
Name: 119975, dtype: object
datetime    2014-01-17 04:12:04
Name: 119976, dtype: object
114 / 496
Корни уравнения: -4458 и 1618
Секунд: 1618
datetime    2014-01-17 03:29:01
Name: 119974, dtype: object
datetime    2014-01-17 03:55:59
Name: 119975, dtype: object
datetime    2014-01-17 04:12:04
Name: 119976, dtype: object

datetime    2014-01-25 05:13:32
Name: 120245, dtype: object
datetime    2014-01-25 05:13:32
Name: 120246, dtype: object
datetime    2014-01-25 05:56:35
Name: 120247, dtype: object
115 / 496
Корни уравнения: 1406 и -2054
Секунд: 1406
datetime    2014-01-25 05:13:32
Name: 120245, dtype: object
datetime    2014-01-25 05:36:58
Name: 120246, dtype: object
datetime    2014-01-25 05:56:35
Name: 120247, dtype: object

datetime    2014-01-10 20:58:11
Name: 120656, dtype: object
datetime    2014-01-10 20:58:11
Name: 120657, dtype: object
datetime    2014-01-10 22:15:53
Name: 120658, dtype: object
116 / 496
Корни уравнения: -8599 и 2954
Секунд: 2954
datetime    2014-01-10 20:58:11
Name: 120656, dtype: object
datetime    2014-01-10 21:47:25
Name: 120657, dtype: object
datetime    2014-01-10 22:15:53
Name: 120658, dtype: object

datetime    2014-01-30 14:54:34
Name: 121023, dtype: object
datetime    2014-01-30 14:54:34
Name: 121024, dtype: object
datetime    2014-01-30 16:12:16
Name: 121025, dtype: object
117 / 496
Корни уравнения: 2743 и -5224
Секунд: 2743
datetime    2014-01-30 14:54:34
Name: 121023, dtype: object
datetime    2014-01-30 15:40:17
Name: 121024, dtype: object
datetime    2014-01-30 16:12:16
Name: 121025, dtype: object

datetime    2014-01-12 09:15:58
Name: 121860, dtype: object
datetime    2014-01-12 09:15:58
Name: 121861, dtype: object
datetime    2014-01-12 09:36:13
Name: 121862, dtype: object
118 / 496
Корни уравнения: -2359 и 777
Секунд: 777
datetime    2014-01-12 09:15:58
Name: 121860, dtype: object
datetime    2014-01-12 09:28:55
Name: 121861, dtype: object
datetime    2014-01-12 09:36:13
Name: 121862, dtype: object

datetime    2014-01-31 08:42:36
Name: 123211, dtype: object
datetime    2014-01-31 08:42:36
Name: 123212, dtype: object
datetime    2014-01-31 09:02:51
Name: 123213, dtype: object
119 / 496
Корни уравнения: 814 и -4235
Секунд: 814
datetime    2014-01-31 08:42:36
Name: 123211, dtype: object
datetime    2014-01-31 08:56:10
Name: 123212, dtype: object
datetime    2014-01-31 09:02:51
Name: 123213, dtype: object

datetime    2014-01-06 21:18:29
Name: 124756, dtype: object
datetime    2014-01-06 21:18:29
Name: 124757, dtype: object
datetime    2014-01-06 22:48:40
Name: 124758, dtype: object
120 / 496
Корни уравнения: 3367 и -7752
Секунд: 3367
datetime    2014-01-06 21:18:29
Name: 124756, dtype: object
datetime    2014-01-06 22:14:36
Name: 124757, dtype: object
datetime    2014-01-06 22:48:40
Name: 124758, dtype: object

datetime    2014-01-12 18:36:58
Name: 124851, dtype: object
datetime    2014-01-12 18:36:58
Name: 124852, dtype: object
datetime    2014-01-12 20:07:10
Name: 124853, dtype: object
121 / 496
Корни уравнения: 3208 и -6511
Секунд: 3208
datetime    2014-01-12 18:36:58
Name: 124851, dtype: object
datetime    2014-01-12 19:30:26
Name: 124852, dtype: object
datetime    2014-01-12 20:07:10
Name: 124853, dtype: object

datetime    2014-01-21 14:34:42
Name: 124993, dtype: object
datetime    2014-01-21 14:34:42
Name: 124994, dtype: object
datetime    2014-01-21 16:04:53
Name: 124995, dtype: object
122 / 496
Корни уравнения: 3071 и -5464
Секунд: 3071
datetime    2014-01-21 14:34:42
Name: 124993, dtype: object
datetime    2014-01-21 15:25:53
Name: 124994, dtype: object
datetime    2014-01-21 16:04:53
Name: 124995, dtype: object

datetime    2014-01-27 11:53:11
Name: 125088, dtype: object
datetime    2014-01-27 11:53:11
Name: 125089, dtype: object
datetime    2014-01-27 13:23:23
Name: 125090, dtype: object
123 / 496
Корни уравнения: 2980 и -4717
Секунд: 2980
datetime    2014-01-27 11:53:11
Name: 125088, dtype: object
datetime    2014-01-27 12:42:51
Name: 125089, dtype: object
datetime    2014-01-27 13:23:23
Name: 125090, dtype: object

datetime    2014-01-07 16:06:42
Name: 125809, dtype: object
datetime    2014-01-07 16:06:42
Name: 125810, dtype: object
datetime    2014-01-07 17:16:19
Name: 125811, dtype: object
124 / 496
Корни уравнения: -4855 и 2454
Секунд: 2454
datetime    2014-01-07 16:06:42
Name: 125809, dtype: object
datetime    2014-01-07 16:47:36
Name: 125810, dtype: object
datetime    2014-01-07 17:16:19
Name: 125811, dtype: object

datetime    2014-01-14 08:13:25
Name: 125948, dtype: object
datetime    2014-01-14 08:13:25
Name: 125949, dtype: object
datetime    2014-01-14 09:23:02
Name: 125950, dtype: object
125 / 496
Корни уравнения: 3011 и -33768
Секунд: 3011
datetime    2014-01-14 08:13:25
Name: 125948, dtype: object
datetime    2014-01-14 09:03:36
Name: 125949, dtype: object
datetime    2014-01-14 09:23:02
Name: 125950, dtype: object

datetime    2014-01-24 08:23:29
Name: 126156, dtype: object
datetime    2014-01-24 08:23:29
Name: 126157, dtype: object
datetime    2014-01-24 09:33:06
Name: 126158, dtype: object
126 / 496
Корни уравнения: 2555 и -5965
Секунд: 2555
datetime    2014-01-24 08:23:29
Name: 126156, dtype: object
datetime    2014-01-24 09:06:04
Name: 126157, dtype: object
datetime    2014-01-24 09:33:06
Name: 126158, dtype: object

datetime    2014-01-13 02:23:44
Name: 126614, dtype: object
datetime    2014-01-13 02:23:44
Name: 126615, dtype: object
datetime    2014-01-13 03:22:12
Name: 126616, dtype: object
D < 0 в строке: 126614
datetime    2014-01-13 02:23:44
Name: 126614, dtype: object
datetime    2014-01-13 02:23:44
Name: 126615, dtype: object
datetime    2014-01-13 03:22:12
Name: 126616, dtype: object

datetime    2014-01-25 04:47:29
Name: 126913, dtype: object
datetime    2014-01-25 04:47:29
Name: 126914, dtype: object
datetime    2014-01-25 05:45:57
Name: 126915, dtype: object
127 / 496
Корни уравнения: -9970 и 2413
Секунд: 2413
datetime    2014-01-25 04:47:29
Name: 126913, dtype: object
datetime    2014-01-25 05:27:42
Name: 126914, dtype: object
datetime    2014-01-25 05:45:57
Name: 126915, dtype: object

datetime    2014-01-23 03:20:30
Name: 132343, dtype: object
datetime    2014-01-23 03:20:30
Name: 132344, dtype: object
datetime    2014-01-23 03:33:17
Name: 132345, dtype: object
128 / 496
Корни уравнения: -2334 и 526
Секунд: 526
datetime    2014-01-23 03:20:30
Name: 132343, dtype: object
datetime    2014-01-23 03:29:16
Name: 132344, dtype: object
datetime    2014-01-23 03:33:17
Name: 132345, dtype: object

datetime    2014-01-10 06:41:19
Name: 148413, dtype: object
datetime    2014-01-10 06:41:19
Name: 148414, dtype: object
datetime    2014-01-10 07:24:42
Name: 148415, dtype: object
129 / 496
Корни уравнения: -5127 и 1686
Секунд: 1686
datetime    2014-01-10 06:41:19
Name: 148413, dtype: object
datetime    2014-01-10 07:09:25
Name: 148414, dtype: object
datetime    2014-01-10 07:24:42
Name: 148415, dtype: object

datetime    2014-01-24 04:43:19
Name: 148876, dtype: object
datetime    2014-01-24 04:43:19
Name: 148877, dtype: object
datetime    2014-01-24 05:26:41
Name: 148878, dtype: object
130 / 496
Корни уравнения: 1712 и -7610
Секунд: 1712
datetime    2014-01-24 04:43:19
Name: 148876, dtype: object
datetime    2014-01-24 05:11:51
Name: 148877, dtype: object
datetime    2014-01-24 05:26:41
Name: 148878, dtype: object

datetime    2014-01-07 15:07:44
Name: 149275, dtype: object
datetime    2014-01-07 15:07:44
Name: 149276, dtype: object
datetime    2014-01-07 16:16:55
Name: 149277, dtype: object
131 / 496
Корни уравнения: 2596 и -7049
Секунд: 2596
datetime    2014-01-07 15:07:44
Name: 149275, dtype: object
datetime    2014-01-07 15:51:00
Name: 149276, dtype: object
datetime    2014-01-07 16:16:55
Name: 149277, dtype: object

datetime    2014-01-20 21:23:13
Name: 149552, dtype: object
datetime    2014-01-20 21:23:13
Name: 149553, dtype: object
datetime    2014-01-20 22:32:24
Name: 149554, dtype: object
132 / 496
Корни уравнения: 2381 и -4023
Секунд: 2381
datetime    2014-01-20 21:23:13
Name: 149552, dtype: object
datetime    2014-01-20 22:02:54
Name: 149553, dtype: object
datetime    2014-01-20 22:32:24
Name: 149554, dtype: object

datetime    2014-01-30 20:04:50
Name: 149760, dtype: object
datetime    2014-01-30 20:04:50
Name: 149761, dtype: object
datetime    2014-01-30 21:14:01
Name: 149762, dtype: object
133 / 496
Корни уравнения: -3232 и 2456
Секунд: 2456
datetime    2014-01-30 20:04:50
Name: 149760, dtype: object
datetime    2014-01-30 20:45:46
Name: 149761, dtype: object
datetime    2014-01-30 21:14:01
Name: 149762, dtype: object

datetime    2014-01-06 21:52:41
Name: 149906, dtype: object
datetime    2014-01-06 21:52:41
Name: 149907, dtype: object
datetime    2014-01-06 23:03:38
Name: 149908, dtype: object
134 / 496
Корни уравнения: 2641 и -6358
Секунд: 2641
datetime    2014-01-06 21:52:41
Name: 149906, dtype: object
datetime    2014-01-06 22:36:42
Name: 149907, dtype: object
datetime    2014-01-06 23:03:38
Name: 149908, dtype: object

datetime    2014-01-18 17:38:05
Name: 150147, dtype: object
datetime    2014-01-18 17:38:05
Name: 150148, dtype: object
datetime    2014-01-18 18:49:02
Name: 150149, dtype: object
135 / 496
Корни уравнения: 2702 и -7567
Секунд: 2702
datetime    2014-01-18 17:38:05
Name: 150147, dtype: object
datetime    2014-01-18 18:23:07
Name: 150148, dtype: object
datetime    2014-01-18 18:49:02
Name: 150149, dtype: object

datetime    2014-01-27 14:27:08
Name: 150328, dtype: object
datetime    2014-01-27 14:27:08
Name: 150329, dtype: object
datetime    2014-01-27 15:38:05
Name: 150330, dtype: object
136 / 496
Корни уравнения: -6918 и 2645
Секунд: 2645
datetime    2014-01-27 14:27:08
Name: 150328, dtype: object
datetime    2014-01-27 15:11:13
Name: 150329, dtype: object
datetime    2014-01-27 15:38:05
Name: 150330, dtype: object

datetime    2014-01-30 01:58:44
Name: 151427, dtype: object
datetime    2014-01-30 01:58:44
Name: 151428, dtype: object
datetime    2014-01-30 06:57:52
Name: 151429, dtype: object
137 / 496
Корни уравнения: -21175 и 10461
Секунд: 10461
datetime    2014-01-30 01:58:44
Name: 151427, dtype: object
datetime    2014-01-30 04:53:05
Name: 151428, dtype: object
datetime    2014-01-30 06:57:52
Name: 151429, dtype: object

datetime    2014-01-31 01:18:34
Name: 152093, dtype: object
datetime    2014-01-31 01:18:34
Name: 152094, dtype: object
datetime    2014-01-31 03:17:08
Name: 152095, dtype: object
138 / 496
Корни уравнения: 23263 и 5998
Секунд: 5998
datetime    2014-01-31 01:18:34
Name: 152093, dtype: object
datetime    2014-01-31 02:58:32
Name: 152094, dtype: object
datetime    2014-01-31 03:17:08
Name: 152095, dtype: object

datetime    2014-01-10 08:50:37
Name: 162209, dtype: object
datetime    2014-01-10 08:50:37
Name: 162210, dtype: object
datetime    2014-01-10 09:01:39
Name: 162211, dtype: object
D < 0 в строке: 162209
datetime    2014-01-10 08:50:37
Name: 162209, dtype: object
datetime    2014-01-10 08:50:37
Name: 162210, dtype: object
datetime    2014-01-10 09:01:39
Name: 162211, dtype: object

datetime    2014-01-19 17:41:14
Name: 163432, dtype: object
datetime    2014-01-19 17:41:14
Name: 163433, dtype: object
datetime    2014-01-19 17:52:16
Name: 163434, dtype: object
139 / 496
Корни уравнения: 3223 и 561
Секунд: 561
datetime    2014-01-19 17:41:14
Name: 163432, dtype: object
datetime    2014-01-19 17:50:35
Name: 163433, dtype: object
datetime    2014-01-19 17:52:16
Name: 163434, dtype: object

datetime    2014-01-16 12:34:34

Name: 165268, dtype: object
datetime    2014-01-16 12:34:34
Name: 165269, dtype: object
datetime    2014-01-16 14:09:42
Name: 165270, dtype: object
D < 0 в строке: 165268
datetime    2014-01-16 12:34:34
Name: 165268, dtype: object
datetime    2014-01-16 12:34:34
Name: 165269, dtype: object
datetime    2014-01-16 14:09:42
Name: 165270, dtype: object

datetime    2014-01-21 03:14:45
Name: 169939, dtype: object
datetime    2014-01-21 03:14:45
Name: 169940, dtype: object
datetime    2014-01-21 03:56:47
Name: 169941, dtype: object
140 / 496
Корни уравнения: 1595 и -4513
Секунд: 1595
datetime    2014-01-21 03:14:45
Name: 169939, dtype: object
datetime    2014-01-21 03:41:20
Name: 169940, dtype: object
datetime    2014-01-21 03:56:47
Name: 169941, dtype: object

datetime    2014-01-12 00:33:59
Name: 170769, dtype: object
datetime    2014-01-12 00:33:59
Name: 170770, dtype: object
datetime    2014-01-12 01:08:48
Name: 170771, dtype: object
141 / 496
Корни уравнения: 1307 и -2426
Секунд: 1307
datetime    2014-01-12 00:33:59
Name: 170769, dtype: object
datetime    2014-01-12 00:55:46
Name: 170770, dtype: object
datetime    2014-01-12 01:08:48
Name: 170771, dtype: object

datetime    2014-01-23 01:07:58
Name: 171226, dtype: object
datetime    2014-01-23 01:07:58
Name: 171227, dtype: object
datetime    2014-01-23 01:42:47
Name: 171228, dtype: object
142 / 496
Корни уравнения: 1344 и -3943
Секунд: 1344
datetime    2014-01-23 01:07:58
Name: 171226, dtype: object
datetime    2014-01-23 01:30:22
Name: 171227, dtype: object
datetime    2014-01-23 01:42:47
Name: 171228, dtype: object

datetime    2014-01-10 18:10:14
Name: 171656, dtype: object
datetime    2014-01-10 18:10:14
Name: 171657, dtype: object
datetime    2014-01-10 22:12:29
Name: 171658, dtype: object
143 / 496
Корни уравнения: -22064 и 8918
Секунд: 8918
datetime    2014-01-10 18:10:14
Name: 171656, dtype: object
datetime    2014-01-10 20:38:52
Name: 171657, dtype: object
datetime    2014-01-10 22:12:29
Name: 171658, dtype: object

datetime    2014-01-20 12:20:29
Name: 171715, dtype: object
datetime    2014-01-20 12:20:29
Name: 171716, dtype: object
datetime    2014-01-20 16:22:44
Name: 171717, dtype: object
144 / 496
Корни уравнения: 2850 и 453
Секунд: 453
datetime    2014-01-20 12:20:29
Name: 171715, dtype: object
datetime    2014-01-20 12:28:02
Name: 171716, dtype: object
datetime    2014-01-20 16:22:44
Name: 171717, dtype: object

datetime    2014-01-23 00:50:57
Name: 172798, dtype: object
datetime    2014-01-23 00:50:57
Name: 172799, dtype: object
datetime    2014-01-23 03:17:51
Name: 172800, dtype: object
145 / 496
Корни уравнения: -8371 и 5298
Секунд: 5298
datetime    2014-01-23 00:50:57
Name: 172798, dtype: object
datetime    2014-01-23 02:19:15
Name: 172799, dtype: object
datetime    2014-01-23 03:17:51
Name: 172800, dtype: object

datetime    2014-01-12 23:42:21
Name: 173366, dtype: object
datetime    2014-01-12 23:42:21
Name: 173367, dtype: object
datetime    2014-01-13 01:45:39
Name: 173368, dtype: object
146 / 496
Корни уравнения: 5388 и -38257
Секунд: 5388
datetime    2014-01-12 23:42:21
Name: 173366, dtype: object
datetime    2014-01-13 01:12:09
Name: 173367, dtype: object
datetime    2014-01-13 01:45:39
Name: 173368, dtype: object

datetime    2014-01-30 23:15:54
Name: 173577, dtype: object
datetime    2014-01-30 23:15:54
Name: 173578, dtype: object
datetime    2014-01-31 01:19:12
Name: 173579, dtype: object
147 / 496
Корни уравнения: 4541 и -11228
Секунд: 4541
datetime    2014-01-30 23:15:54
Name: 173577, dtype: object
datetime    2014-01-31 00:31:35
Name: 173578, dtype: object
datetime    2014-01-31 01:19:12
Name: 173579, dtype: object

datetime    2014-01-08 14:28:53
Name: 177598, dtype: object
datetime    2014-01-08 14:28:53
Name: 177599, dtype: object
datetime    2014-01-08 14:38:10
Name: 177600, dtype: object
148 / 496
Корни уравнения: -541 и 320
Секунд: 320
datetime    2014-01-08 14:28:53
Name: 177598, dtype: object
datetime    2014-01-08 14:34:13
Name: 177599, dtype: object
datetime    2014-01-08 14:38:10
Name: 177600, dtype: object

datetime    2014-01-20 00:12:13
Name: 179369, dtype: object
datetime    2014-01-20 00:12:13
Name: 179370, dtype: object
datetime    2014-01-20 00:21:30
Name: 179371, dtype: object
149 / 496
Корни уравнения: 365 и -1319
Секунд: 365
datetime    2014-01-20 00:12:13
Name: 179369, dtype: object
datetime    2014-01-20 00:18:18
Name: 179370, dtype: object
datetime    2014-01-20 00:21:30
Name: 179371, dtype: object

datetime    2014-01-27 14:41:07
Name: 180550, dtype: object
datetime    2014-01-27 14:41:07
Name: 180551, dtype: object
datetime    2014-01-27 14:50:24
Name: 180552, dtype: object
150 / 496
Корни уравнения: -595 и 325
Секунд: 325
datetime    2014-01-27 14:41:07
Name: 180550, dtype: object
datetime    2014-01-27 14:46:32
Name: 180551, dtype: object
datetime    2014-01-27 14:50:24
Name: 180552, dtype: object

datetime    2014-01-23 03:37:03
Name: 185972, dtype: object
datetime    2014-01-23 03:37:03
Name: 185973, dtype: object
datetime    2014-01-23 03:44:14
Name: 185974, dtype: object
151 / 496
Корни уравнения: 261 и -591
Секунд: 261
datetime    2014-01-23 03:37:03
Name: 185972, dtype: object
datetime    2014-01-23 03:41:24
Name: 185973, dtype: object
datetime    2014-01-23 03:44:14
Name: 185974, dtype: object

datetime    2014-01-15 20:30:58
Name: 189857, dtype: object
datetime    2014-01-15 20:30:58
Name: 189858, dtype: object
datetime    2014-01-15 22:24:45
Name: 189859, dtype: object
152 / 496
Корни уравнения: 2610 и -1342
Секунд: 2610
datetime    2014-01-15 20:30:58
Name: 189857, dtype: object
datetime    2014-01-15 21:14:28
Name: 189858, dtype: object
datetime    2014-01-15 22:24:45
Name: 189859, dtype: object

datetime    2014-01-15 01:22:03
Name: 190456, dtype: object
datetime    2014-01-15 01:22:03
Name: 190457, dtype: object
datetime    2014-01-15 03:05:20
Name: 190458, dtype: object
153 / 496
Корни уравнения: 74859 и 4727
Секунд: 4727
datetime    2014-01-15 01:22:03
Name: 190456, dtype: object
datetime    2014-01-15 02:40:50
Name: 190457, dtype: object
datetime    2014-01-15 03:05:20
Name: 190458, dtype: object

datetime    2014-01-09 05:15:27
Name: 192991, dtype: object
datetime    2014-01-09 05:15:27
Name: 192992, dtype: object
datetime    2014-01-09 09:12:09
Name: 192993, dtype: object
154 / 496
Корни уравнения: 9089 и -30324
Секунд: 9089
datetime    2014-01-09 05:15:27
Name: 192991, dtype: object
datetime    2014-01-09 07:46:56
Name: 192992, dtype: object
datetime    2014-01-09 09:12:09
Name: 192993, dtype: object

datetime    2014-01-21 13:08:38
Name: 193067, dtype: object
datetime    2014-01-21 13:08:38
Name: 193068, dtype: object
datetime    2014-01-21 17:05:21
Name: 193069, dtype: object
155 / 496
Корни уравнения: 9199 и -33642
Секунд: 9199
datetime    2014-01-21 13:08:38
Name: 193067, dtype: object
datetime    2014-01-21 15:41:57
Name: 193068, dtype: object
datetime    2014-01-21 17:05:21
Name: 193069, dtype: object

datetime    2014-01-29 18:24:05
Name: 193118, dtype: object
datetime    2014-01-29 18:24:05
Name: 193119, dtype: object
datetime    2014-01-29 22:20:48
Name: 193120, dtype: object
156 / 496
Корни уравнения: 9962 и -83283
Секунд: 9962
datetime    2014-01-29 18:24:05
Name: 193118, dtype: object
datetime    2014-01-29 21:10:07
Name: 193119, dtype: object
datetime    2014-01-29 22:20:48
Name: 193120, dtype: object

datetime    2014-01-10 16:12:18
Name: 193203, dtype: object
datetime    2014-01-10 16:12:18
Name: 193204, dtype: object
datetime    2014-01-10 19:31:20
Name: 193205, dtype: object
157 / 496
Корни уравнения: 36454 и 13266
Секунд: 13266
datetime    2014-01-10 16:12:18
Name: 193203, dtype: object
datetime    2014-01-10 19:53:24
Name: 193204, dtype: object
datetime    2014-01-10 19:31:20
Name: 193205, dtype: object

datetime    2014-01-20 08:24:37
Name: 193274, dtype: object
datetime    2014-01-20 08:24:37
Name: 193275, dtype: object
datetime    2014-01-20 11:43:39
Name: 193276, dtype: object
158 / 496
Корни уравнения: -24235 и 7882
Секунд: 7882
datetime    2014-01-20 08:24:37
Name: 193274, dtype: object
datetime    2014-01-20 10:35:59
Name: 193275, dtype: object
datetime    2014-01-20 11:43:39
Name: 193276, dtype: object

datetime    2014-01-30 00:36:56
Name: 193345, dtype: object
datetime    2014-01-30 00:36:56
Name: 193346, dtype: object
datetime    2014-01-30 03:55:58
Name: 193347, dtype: object
159 / 496
Корни уравнения: -18764 и 7420
Секунд: 7420
datetime    2014-01-30 00:36:56
Name: 193345, dtype: object
datetime    2014-01-30 02:40:36
Name: 193346, dtype: object
datetime    2014-01-30 03:55:58
Name: 193347, dtype: object

datetime    2014-01-30 00:04:16
Name: 196330, dtype: object
datetime    2014-01-30 00:04:16
Name: 196331, dtype: object
datetime    2014-01-30 02:24:54
Name: 196332, dtype: object
D < 0 в строке: 196330
datetime    2014-01-30 00:04:16
Name: 196330, dtype: object
datetime    2014-01-30 00:04:16
Name: 196331, dtype: object
datetime    2014-01-30 02:24:54
Name: 196332, dtype: object

datetime    2014-01-18 00:24:07
Name: 197326, dtype: object
datetime    2014-01-18 00:24:07
Name: 197327, dtype: object
datetime    2014-01-18 02:02:56
Name: 197328, dtype: object
160 / 496
Корни уравнения: 3819 и -13145
Секунд: 3819
datetime    2014-01-18 00:24:07
Name: 197326, dtype: object
datetime    2014-01-18 01:27:46
Name: 197327, dtype: object
datetime    2014-01-18 02:02:56
Name: 197328, dtype: object

datetime    2014-01-15 00:30:57
Name: 199253, dtype: object
datetime    2014-01-15 00:30:57
Name: 199254, dtype: object
datetime    2014-01-15 00:46:17
Name: 199255, dtype: object
D < 0 в строке: 199253
datetime    2014-01-15 00:30:57
Name: 199253, dtype: object
datetime    2014-01-15 00:30:57
Name: 199254, dtype: object
datetime    2014-01-15 00:46:17
Name: 199255, dtype: object

datetime    2014-01-08 09:18:16
Name: 204373, dtype: object
datetime    2014-01-08 09:18:16
Name: 204374, dtype: object
datetime    2014-01-08 10:44:03
Name: 204375, dtype: object
161 / 496
Корни уравнения: -26455 и 3565
Секунд: 3565
datetime    2014-01-08 09:18:16
Name: 204373, dtype: object
datetime    2014-01-08 10:17:41
Name: 204374, dtype: object
datetime    2014-01-08 10:44:03
Name: 204375, dtype: object

datetime    2014-01-19 11:15:40
Name: 204560, dtype: object
datetime    2014-01-19 11:15:40
Name: 204561, dtype: object
datetime    2014-01-19 12:41:27
Name: 204562, dtype: object
162 / 496
Корни уравнения: -6303 и 3100
Секунд: 3100
datetime    2014-01-19 11:15:40
Name: 204560, dtype: object
datetime    2014-01-19 12:07:20
Name: 204561, dtype: object
datetime    2014-01-19 12:41:27
Name: 204562, dtype: object

datetime    2014-01-30 13:13:04
Name: 204747, dtype: object
datetime    2014-01-30 13:13:04
Name: 204748, dtype: object
datetime    2014-01-30 14:38:51
Name: 204749, dtype: object
163 / 496
Корни уравнения: 3500 и -15839
Секунд: 3500
datetime    2014-01-30 13:13:04
Name: 204747, dtype: object
datetime    2014-01-30 14:11:24
Name: 204748, dtype: object
datetime    2014-01-30 14:38:51

Name: 204749, dtype: object

datetime    2014-01-07 09:28:56
Name: 205703, dtype: object
datetime    2014-01-07 09:28:56
Name: 205704, dtype: object
datetime    2014-01-07 09:38:50
Name: 205705, dtype: object
164 / 496
Корни уравнения: -472 и 322
Секунд: 322
datetime    2014-01-07 09:28:56
Name: 205703, dtype: object
datetime    2014-01-07 09:34:18
Name: 205704, dtype: object
datetime    2014-01-07 09:38:50
Name: 205705, dtype: object

datetime    2014-01-16 23:42:21
Name: 207099, dtype: object
datetime    2014-01-16 23:42:21
Name: 207100, dtype: object
datetime    2014-01-16 23:52:15
Name: 207101, dtype: object
165 / 496
Корни уравнения: -967 и 374
Секунд: 374
datetime    2014-01-16 23:42:21
Name: 207099, dtype: object
datetime    2014-01-16 23:48:35
Name: 207100, dtype: object
datetime    2014-01-16 23:52:15
Name: 207101, dtype: object

datetime    2014-01-29 18:40:14
Name: 208960, dtype: object
datetime    2014-01-29 18:40:14
Name: 208961, dtype: object
datetime    2014-01-29 18:50:08
Name: 208962, dtype: object
166 / 496
Корни уравнения: 385 и -1356
Секунд: 385
datetime    2014-01-29 18:40:14
Name: 208960, dtype: object
datetime    2014-01-29 18:46:39
Name: 208961, dtype: object
datetime    2014-01-29 18:50:08
Name: 208962, dtype: object

datetime    2014-01-07 04:06:56
Name: 215407, dtype: object
datetime    2014-01-07 04:06:56
Name: 215408, dtype: object
datetime    2014-01-07 05:41:29
Name: 215409, dtype: object
167 / 496
Корни уравнения: -38537 и 4379
Секунд: 4379
datetime    2014-01-07 04:06:56
Name: 215407, dtype: object
datetime    2014-01-07 05:19:55
Name: 215408, dtype: object
datetime    2014-01-07 05:41:29
Name: 215409, dtype: object

datetime    2014-01-16 10:17:22
Name: 215549, dtype: object
datetime    2014-01-16 10:17:22
Name: 215550, dtype: object
datetime    2014-01-16 11:51:54
Name: 215551, dtype: object
168 / 496
Корни уравнения: -8585 и 3502
Секунд: 3502
datetime    2014-01-16 10:17:22
Name: 215549, dtype: object
datetime    2014-01-16 11:15:44
Name: 215550, dtype: object
datetime    2014-01-16 11:51:54
Name: 215551, dtype: object

datetime    2014-01-25 16:27:47
Name: 215691, dtype: object
datetime    2014-01-25 16:27:47
Name: 215692, dtype: object
datetime    2014-01-25 18:02:20
Name: 215693, dtype: object
169 / 496
Корни уравнения: -7745 и 3419
Секунд: 3419
datetime    2014-01-25 16:27:47
Name: 215691, dtype: object
datetime    2014-01-25 17:24:46
Name: 215692, dtype: object
datetime    2014-01-25 18:02:20
Name: 215693, dtype: object

datetime    2014-01-08 23:53:27
Name: 218112, dtype: object
datetime    2014-01-08 23:53:27
Name: 218113, dtype: object
datetime    2014-01-09 00:49:20
Name: 218114, dtype: object
170 / 496
Корни уравнения: -5084 и 2058
Секунд: 2058
datetime    2014-01-08 23:53:27
Name: 218112, dtype: object
datetime    2014-01-09 00:27:45
Name: 218113, dtype: object
datetime    2014-01-09 00:49:20
Name: 218114, dtype: object

datetime    2014-01-20 23:43:37
Name: 218422, dtype: object
datetime    2014-01-20 23:43:37
Name: 218423, dtype: object
datetime    2014-01-21 00:39:30
Name: 218424, dtype: object
171 / 496
Корни уравнения: -4723 и 2034
Секунд: 2034
datetime    2014-01-20 23:43:37
Name: 218422, dtype: object
datetime    2014-01-21 00:17:31
Name: 218423, dtype: object
datetime    2014-01-21 00:39:30
Name: 218424, dtype: object

datetime    2014-01-10 08:12:30
Name: 222507, dtype: object
datetime    2014-01-10 08:12:30
Name: 222508, dtype: object
datetime    2014-01-10 08:40:39
Name: 222509, dtype: object
D < 0 в строке: 222507
datetime    2014-01-10 08:12:30
Name: 222507, dtype: object
datetime    2014-01-10 08:12:30
Name: 222508, dtype: object
datetime    2014-01-10 08:40:39
Name: 222509, dtype: object

datetime    2014-01-29 00:37:31
Name: 223464, dtype: object
datetime    2014-01-29 00:37:31
Name: 223465, dtype: object
datetime    2014-01-29 01:05:40
Name: 223466, dtype: object
172 / 496
Корни уравнения: 1084 и -3287
Секунд: 1084
datetime    2014-01-29 00:37:31
Name: 223464, dtype: object
datetime    2014-01-29 00:55:35
Name: 223465, dtype: object
datetime    2014-01-29 01:05:40
Name: 223466, dtype: object

datetime    2014-01-07 12:20:28
Name: 223676, dtype: object
datetime    2014-01-07 12:20:28
Name: 223677, dtype: object
datetime    2014-01-07 15:02:12
Name: 223678, dtype: object
173 / 496
Корни уравнения: 5642 и -10481
Секунд: 5642
datetime    2014-01-07 12:20:28
Name: 223676, dtype: object
datetime    2014-01-07 13:54:30
Name: 223677, dtype: object
datetime    2014-01-07 15:02:12
Name: 223678, dtype: object

datetime    2014-01-14 00:40:56
Name: 223735, dtype: object
datetime    2014-01-14 00:40:56
Name: 223736, dtype: object
datetime    2014-01-14 03:22:40
Name: 223737, dtype: object
174 / 496
Корни уравнения: 11690 и 19171
Секунд: 11690
datetime    2014-01-14 00:40:56
Name: 223735, dtype: object
datetime    2014-01-14 03:55:46
Name: 223736, dtype: object
datetime    2014-01-14 03:22:40
Name: 223737, dtype: object

datetime    2014-01-20 13:01:24
Name: 223794, dtype: object
datetime    2014-01-20 13:01:24
Name: 223795, dtype: object
datetime    2014-01-20 15:43:08
Name: 223796, dtype: object
175 / 496
Корни уравнения: 4417 и -2634
Секунд: 4417
datetime    2014-01-20 13:01:24
Name: 223794, dtype: object
datetime    2014-01-20 14:15:01
Name: 223795, dtype: object
datetime    2014-01-20 15:43:08
Name: 223796, dtype: object

datetime    2014-01-30 07:32:07
Name: 223882, dtype: object
datetime    2014-01-30 07:32:07
Name: 223883, dtype: object
datetime    2014-01-30 10:13:51
Name: 223884, dtype: object
176 / 496
Корни уравнения: -12803 и 6073
Секунд: 6073
datetime    2014-01-30 07:32:07
Name: 223882, dtype: object
datetime    2014-01-30 09:13:20
Name: 223883, dtype: object
datetime    2014-01-30 10:13:51
Name: 223884, dtype: object

datetime    2014-01-08 21:36:55
Name: 227746, dtype: object
datetime    2014-01-08 21:36:55
Name: 227747, dtype: object
datetime    2014-01-08 23:05:48
Name: 227748, dtype: object
177 / 496
Корни уравнения: -74661 и 3859
Секунд: 3859
datetime    2014-01-08 21:36:55
Name: 227746, dtype: object
datetime    2014-01-08 22:41:14
Name: 227747, dtype: object
datetime    2014-01-08 23:05:48
Name: 227748, dtype: object

datetime    2014-01-16 19:13:51
Name: 227875, dtype: object
datetime    2014-01-16 19:13:51
Name: 227876, dtype: object
datetime    2014-01-16 20:42:43
Name: 227877, dtype: object
178 / 496
Корни уравнения: 3223 и -7417
Секунд: 3223
datetime    2014-01-16 19:13:51
Name: 227875, dtype: object
datetime    2014-01-16 20:07:34
Name: 227876, dtype: object
datetime    2014-01-16 20:42:43
Name: 227877, dtype: object

datetime    2014-01-24 16:50:46
Name: 228004, dtype: object
datetime    2014-01-24 16:50:46
Name: 228005, dtype: object
datetime    2014-01-24 18:19:39
Name: 228006, dtype: object
179 / 496
Корни уравнения: -11126 и 3422
Секунд: 3422
datetime    2014-01-24 16:50:46
Name: 228004, dtype: object
datetime    2014-01-24 17:47:48
Name: 228005, dtype: object
datetime    2014-01-24 18:19:39
Name: 228006, dtype: object

datetime    2014-01-07 13:14:32
Name: 235021, dtype: object
datetime    2014-01-07 13:14:32
Name: 235022, dtype: object
datetime    2014-01-07 15:22:01
Name: 235023, dtype: object
180 / 496
Корни уравнения: -10148 и 4696
Секунд: 4696
datetime    2014-01-07 13:14:32
Name: 235021, dtype: object
datetime    2014-01-07 14:32:48
Name: 235022, dtype: object
datetime    2014-01-07 15:22:01
Name: 235023, dtype: object

datetime    2014-01-14 02:29:04
Name: 235096, dtype: object
datetime    2014-01-14 02:29:04
Name: 235097, dtype: object
datetime    2014-01-14 04:36:34
Name: 235098, dtype: object
181 / 496
Корни уравнения: -13549 и 4798
Секунд: 4798
datetime    2014-01-14 02:29:04
Name: 235096, dtype: object
datetime    2014-01-14 03:49:02
Name: 235097, dtype: object
datetime    2014-01-14 04:36:34
Name: 235098, dtype: object

datetime    2014-01-20 15:43:36
Name: 235171, dtype: object
datetime    2014-01-20 15:43:36
Name: 235172, dtype: object
datetime    2014-01-20 17:51:06
Name: 235173, dtype: object
182 / 496
Корни уравнения: -14764 и 4848
Секунд: 4848
datetime    2014-01-20 15:43:36
Name: 235171, dtype: object
datetime    2014-01-20 17:04:24
Name: 235172, dtype: object
datetime    2014-01-20 17:51:06
Name: 235173, dtype: object

datetime    2014-01-27 04:58:08
Name: 235246, dtype: object
datetime    2014-01-27 04:58:08
Name: 235247, dtype: object
datetime    2014-01-27 07:05:38
Name: 235248, dtype: object
183 / 496
Корни уравнения: -18153 и 4981
Секунд: 4981
datetime    2014-01-27 04:58:08
Name: 235246, dtype: object
datetime    2014-01-27 06:21:09
Name: 235247, dtype: object
datetime    2014-01-27 07:05:38
Name: 235248, dtype: object

datetime    2014-01-19 17:21:56
Name: 235657, dtype: object
datetime    2014-01-19 17:21:56
Name: 235658, dtype: object
datetime    2014-01-19 18:37:53
Name: 235659, dtype: object
184 / 496
Корни уравнения: 3237 и -22190
Секунд: 3237
datetime    2014-01-19 17:21:56
Name: 235657, dtype: object
datetime    2014-01-19 18:15:53
Name: 235658, dtype: object
datetime    2014-01-19 18:37:53
Name: 235659, dtype: object

datetime    2014-01-28 22:20:10
Name: 241470, dtype: object
datetime    2014-01-28 22:20:10
Name: 241471, dtype: object
datetime    2014-01-28 23:10:57
Name: 241472, dtype: object
185 / 496
Корни уравнения: 3151 и 5036
Секунд: 3151
datetime    2014-01-28 22:20:10
Name: 241470, dtype: object
datetime    2014-01-28 23:12:41
Name: 241471, dtype: object
datetime    2014-01-28 23:10:57
Name: 241472, dtype: object

datetime    2014-01-21 00:08:30
Name: 242047, dtype: object
datetime    2014-01-21 00:08:30
Name: 242048, dtype: object
datetime    2014-01-21 01:07:32
Name: 242049, dtype: object
186 / 496
Корни уравнения: 2260 и -7040
Секунд: 2260
datetime    2014-01-21 00:08:30
Name: 242047, dtype: object
datetime    2014-01-21 00:46:10
Name: 242048, dtype: object
datetime    2014-01-21 01:07:32
Name: 242049, dtype: object

datetime    2014-01-12 08:22:52
Name: 242959, dtype: object
datetime    2014-01-12 08:22:52
Name: 242960, dtype: object
datetime    2014-01-12 08:48:19
Name: 242961, dtype: object
187 / 496
Корни уравнения: -1887 и 910
Секунд: 910
datetime    2014-01-12 08:22:52
Name: 242959, dtype: object
datetime    2014-01-12 08:38:02
Name: 242960, dtype: object
datetime    2014-01-12 08:48:19

Name: 242961, dtype: object

datetime    2014-01-23 04:58:07
Name: 244800, dtype: object
datetime    2014-01-23 04:58:07
Name: 244801, dtype: object
datetime    2014-01-23 05:42:02
Name: 244802, dtype: object
188 / 496
Корни уравнения: -5270 и 1680
Секунд: 1680
datetime    2014-01-23 04:58:07
Name: 244800, dtype: object
datetime    2014-01-23 05:26:07
Name: 244801, dtype: object
datetime    2014-01-23 05:42:02
Name: 244802, dtype: object

datetime    2014-01-08 20:12:33
Name: 245638, dtype: object
datetime    2014-01-08 20:12:33
Name: 245639, dtype: object
datetime    2014-01-08 22:07:46
Name: 245640, dtype: object
189 / 496
Корни уравнения: -19686 и 4595
Секунд: 4595
datetime    2014-01-08 20:12:33
Name: 245638, dtype: object
datetime    2014-01-08 21:29:08
Name: 245639, dtype: object
datetime    2014-01-08 22:07:46
Name: 245640, dtype: object

datetime    2014-01-20 14:31:22
Name: 245786, dtype: object
datetime    2014-01-20 14:31:22
Name: 245787, dtype: object
datetime    2014-01-20 16:26:36
Name: 245788, dtype: object
190 / 496
Корни уравнения: 3495 и -3165
Секунд: 3495
datetime    2014-01-20 14:31:22
Name: 245786, dtype: object
datetime    2014-01-20 15:29:37
Name: 245787, dtype: object
datetime    2014-01-20 16:26:36
Name: 245788, dtype: object

datetime    2014-01-08 00:36:50
Name: 246046, dtype: object
datetime    2014-01-08 00:36:50
Name: 246047, dtype: object
datetime    2014-01-08 02:04:03
Name: 246048, dtype: object
191 / 496
Корни уравнения: 3374 и -10313
Секунд: 3374
datetime    2014-01-08 00:36:50
Name: 246046, dtype: object
datetime    2014-01-08 01:33:04
Name: 246047, dtype: object
datetime    2014-01-08 02:04:03
Name: 246048, dtype: object

datetime    2014-01-15 01:13:40
Name: 246163, dtype: object
datetime    2014-01-15 01:13:40
Name: 246164, dtype: object
datetime    2014-01-15 02:40:53
Name: 246165, dtype: object
192 / 496
Корни уравнения: 3188 и -7471
Секунд: 3188
datetime    2014-01-15 01:13:40
Name: 246163, dtype: object
datetime    2014-01-15 02:06:48
Name: 246164, dtype: object
datetime    2014-01-15 02:40:53
Name: 246165, dtype: object

datetime    2014-01-25 14:08:56
Name: 246338, dtype: object
datetime    2014-01-25 14:08:56
Name: 246339, dtype: object
datetime    2014-01-25 15:36:08
Name: 246340, dtype: object
193 / 496
Корни уравнения: -3592 и 2848
Секунд: 2848
datetime    2014-01-25 14:08:56
Name: 246338, dtype: object
datetime    2014-01-25 14:56:24
Name: 246339, dtype: object
datetime    2014-01-25 15:36:08
Name: 246340, dtype: object

datetime    2014-01-10 20:07:43
Name: 246549, dtype: object
datetime    2014-01-10 20:07:43
Name: 246550, dtype: object
datetime    2014-01-10 22:23:57
Name: 246551, dtype: object
194 / 496
Корни уравнения: 5061 и -13150
Секунд: 5061
datetime    2014-01-10 20:07:43
Name: 246549, dtype: object
datetime    2014-01-10 21:32:04
Name: 246550, dtype: object
datetime    2014-01-10 22:23:57
Name: 246551, dtype: object

datetime    2014-01-20 16:15:26
Name: 246654, dtype: object
datetime    2014-01-20 16:15:26
Name: 246655, dtype: object
datetime    2014-01-20 18:31:40
Name: 246656, dtype: object
D < 0 в строке: 246654
datetime    2014-01-20 16:15:26
Name: 246654, dtype: object
datetime    2014-01-20 16:15:26
Name: 246655, dtype: object
datetime    2014-01-20 18:31:40
Name: 246656, dtype: object

datetime    2014-01-30 12:23:10
Name: 246759, dtype: object
datetime    2014-01-30 12:23:10
Name: 246760, dtype: object
datetime    2014-01-30 14:39:24
Name: 246761, dtype: object
D < 0 в строке: 246759
datetime    2014-01-30 12:23:10
Name: 246759, dtype: object
datetime    2014-01-30 12:23:10
Name: 246760, dtype: object
datetime    2014-01-30 14:39:24
Name: 246761, dtype: object

datetime    2014-01-22 12:42:40
Name: 250032, dtype: object
datetime    2014-01-22 12:42:40
Name: 250033, dtype: object
datetime    2014-01-22 13:53:07
Name: 250034, dtype: object
195 / 496
Корни уравнения: -7466 и 2652
Секунд: 2652
datetime    2014-01-22 12:42:40
Name: 250032, dtype: object
datetime    2014-01-22 13:26:52
Name: 250033, dtype: object
datetime    2014-01-22 13:53:07
Name: 250034, dtype: object

datetime    2014-01-13 17:11:45
Name: 255668, dtype: object
datetime    2014-01-13 17:11:45
Name: 255669, dtype: object
datetime    2014-01-13 17:54:56
Name: 255670, dtype: object
196 / 496
Корни уравнения: -3965 и 1590
Секунд: 1590
datetime    2014-01-13 17:11:45
Name: 255668, dtype: object
datetime    2014-01-13 17:38:15
Name: 255669, dtype: object
datetime    2014-01-13 17:54:56
Name: 255670, dtype: object

datetime    2014-01-09 01:39:31
Name: 256619, dtype: object
datetime    2014-01-09 01:39:31
Name: 256620, dtype: object
datetime    2014-01-09 02:13:41
Name: 256621, dtype: object
197 / 496
Корни уравнения: -2650 и 1239
Секунд: 1239
datetime    2014-01-09 01:39:31
Name: 256619, dtype: object
datetime    2014-01-09 02:00:10
Name: 256620, dtype: object
datetime    2014-01-09 02:13:41
Name: 256621, dtype: object

datetime    2014-01-17 03:19:02
Name: 256960, dtype: object
datetime    2014-01-17 03:19:02
Name: 256961, dtype: object
datetime    2014-01-17 03:53:13
Name: 256962, dtype: object
198 / 496
Корни уравнения: -3776 и 1294
Секунд: 1294
datetime    2014-01-17 03:19:02
Name: 256960, dtype: object
datetime    2014-01-17 03:40:36
Name: 256961, dtype: object
datetime    2014-01-17 03:53:13
Name: 256962, dtype: object

datetime    2014-01-25 04:58:33
Name: 257301, dtype: object
datetime    2014-01-25 04:58:33
Name: 257302, dtype: object
datetime    2014-01-25 05:32:44
Name: 257303, dtype: object
199 / 496
Корни уравнения: 46477 и 1590
Секунд: 1590
datetime    2014-01-25 04:58:33
Name: 257301, dtype: object
datetime    2014-01-25 05:25:03
Name: 257302, dtype: object
datetime    2014-01-25 05:32:44
Name: 257303, dtype: object

datetime    2014-01-08 00:02:54
Name: 257697, dtype: object
datetime    2014-01-08 00:02:54
Name: 257698, dtype: object
datetime    2014-01-08 01:36:15
Name: 257699, dtype: object
200 / 496
Корни уравнения: 3633 и -12669
Секунд: 3633
datetime    2014-01-08 00:02:54
Name: 257697, dtype: object
datetime    2014-01-08 01:03:27
Name: 257698, dtype: object
datetime    2014-01-08 01:36:15
Name: 257699, dtype: object

datetime    2014-01-18 12:07:15
Name: 257860, dtype: object
datetime    2014-01-18 12:07:15
Name: 257861, dtype: object
datetime    2014-01-18 13:40:36
Name: 257862, dtype: object
201 / 496
Корни уравнения: 3491 и -9381
Секунд: 3491
datetime    2014-01-18 12:07:15
Name: 257860, dtype: object
datetime    2014-01-18 13:05:26
Name: 257861, dtype: object
datetime    2014-01-18 13:40:36
Name: 257862, dtype: object

datetime    2014-01-25 12:10:09
Name: 257969, dtype: object
datetime    2014-01-25 12:10:09
Name: 257970, dtype: object
datetime    2014-01-25 13:43:30
Name: 257971, dtype: object
202 / 496
Корни уравнения: -6599 и 3294
Секунд: 3294
datetime    2014-01-25 12:10:09
Name: 257969, dtype: object
datetime    2014-01-25 13:05:03
Name: 257970, dtype: object
datetime    2014-01-25 13:43:30
Name: 257971, dtype: object

datetime    2014-01-07 13:18:08
Name: 258165, dtype: object
datetime    2014-01-07 13:18:08
Name: 258166, dtype: object
datetime    2014-01-07 14:58:33
Name: 258167, dtype: object
203 / 496
Корни уравнения: 3460 и -6032
Секунд: 3460
datetime    2014-01-07 13:18:08
Name: 258165, dtype: object
datetime    2014-01-07 14:15:48
Name: 258166, dtype: object
datetime    2014-01-07 14:58:33
Name: 258167, dtype: object

datetime    2014-01-14 02:36:17
Name: 258260, dtype: object
datetime    2014-01-14 02:36:17
Name: 258261, dtype: object
datetime    2014-01-14 04:16:42
Name: 258262, dtype: object
204 / 496
Корни уравнения: 3252 и -5069
Секунд: 3252
datetime    2014-01-14 02:36:17
Name: 258260, dtype: object
datetime    2014-01-14 03:30:29
Name: 258261, dtype: object
datetime    2014-01-14 04:16:42
Name: 258262, dtype: object

datetime    2014-01-20 15:54:26
Name: 258355, dtype: object
datetime    2014-01-20 15:54:26
Name: 258356, dtype: object
datetime    2014-01-20 17:34:51
Name: 258357, dtype: object
205 / 496
Корни уравнения: 3050 и -3930
Секунд: 3050
datetime    2014-01-20 15:54:26
Name: 258355, dtype: object
datetime    2014-01-20 16:45:16
Name: 258356, dtype: object
datetime    2014-01-20 17:34:51
Name: 258357, dtype: object

datetime    2014-01-30 11:51:40
Name: 258497, dtype: object
datetime    2014-01-30 11:51:40
Name: 258498, dtype: object
datetime    2014-01-30 13:32:04
Name: 258499, dtype: object
206 / 496
Корни уравнения: 14707 и 6069
Секунд: 6069
datetime    2014-01-30 11:51:40
Name: 258497, dtype: object
datetime    2014-01-30 13:32:49
Name: 258498, dtype: object
datetime    2014-01-30 13:32:04
Name: 258499, dtype: object

datetime    2014-01-09 21:47:23
Name: 261551, dtype: object
datetime    2014-01-09 21:47:23
Name: 261552, dtype: object
datetime    2014-01-10 01:58:54
Name: 261553, dtype: object
207 / 496
Корни уравнения: -32588 и 9667
Секунд: 9667
datetime    2014-01-09 21:47:23
Name: 261551, dtype: object
datetime    2014-01-10 00:28:30
Name: 261552, dtype: object
datetime    2014-01-10 01:58:54
Name: 261553, dtype: object

datetime    2014-01-21 18:50:34
Name: 261620, dtype: object
datetime    2014-01-21 18:50:34
Name: 261621, dtype: object
datetime    2014-01-21 23:02:05
Name: 261622, dtype: object
208 / 496
Корни уравнения: -11251 и 9241
Секунд: 9241
datetime    2014-01-21 18:50:34
Name: 261620, dtype: object
datetime    2014-01-21 21:24:35
Name: 261621, dtype: object
datetime    2014-01-21 23:02:05
Name: 261622, dtype: object

datetime    2014-01-22 11:05:50
Name: 262275, dtype: object
datetime    2014-01-22 11:05:50
Name: 262276, dtype: object
datetime    2014-01-22 12:12:18
Name: 262277, dtype: object
209 / 496
Корни уравнения: -4320 и 2327
Секунд: 2327
datetime    2014-01-22 11:05:50
Name: 262275, dtype: object
datetime    2014-01-22 11:44:37
Name: 262276, dtype: object
datetime    2014-01-22 12:12:18
Name: 262277, dtype: object

datetime    2014-01-17 02:22:13
Name: 263787, dtype: object
datetime    2014-01-17 02:22:13
Name: 263788, dtype: object
datetime    2014-01-17 03:22:35
Name: 263789, dtype: object
210 / 496
Корни уравнения: -1493 и 1897
Секунд: 1897
datetime    2014-01-17 02:22:13
Name: 263787, dtype: object
datetime    2014-01-17 02:53:50
Name: 263788, dtype: object
datetime    2014-01-17 03:22:35
Name: 263789, dtype: object

datetime    2014-01-10 05:28:29
Name: 270869, dtype: object
datetime    2014-01-10 05:28:29
Name: 270870, dtype: object
datetime    2014-01-10 06:57:04
Name: 270871, dtype: object
211 / 496
Корни уравнения: 3339 и -9309
Секунд: 3339
datetime    2014-01-10 05:28:29
Name: 270869, dtype: object
datetime    2014-01-10 06:24:08
Name: 270870, dtype: object
datetime    2014-01-10 06:57:04
Name: 270871, dtype: object

datetime    2014-01-19 10:56:59
Name: 271020, dtype: object
datetime    2014-01-19 10:56:59
Name: 271021, dtype: object
datetime    2014-01-19 12:25:34
Name: 271022, dtype: object
D < 0 в строке: 271020
datetime    2014-01-19 10:56:59
Name: 271020, dtype: object
datetime    2014-01-19 10:56:59
Name: 271021, dtype: object
datetime    2014-01-19 12:25:34
Name: 271022, dtype: object

datetime    2014-01-28 16:25:28
Name: 271171, dtype: object
datetime    2014-01-28 16:25:28
Name: 271172, dtype: object
datetime    2014-01-28 17:54:04
Name: 271173, dtype: object
212 / 496
Корни уравнения: -8429 и 3311
Секунд: 3311
datetime    2014-01-28 16:25:28
Name: 271171, dtype: object
datetime    2014-01-28 17:20:39
Name: 271172, dtype: object
datetime    2014-01-28 17:54:04
Name: 271173, dtype: object

datetime    2014-01-17 03:45:36
Name: 272234, dtype: object
datetime    2014-01-17 03:45:36
Name: 272235, dtype: object
datetime    2014-01-17 04:08:41
Name: 272236, dtype: object
213 / 496
Корни уравнения: 942 и -4163
Секунд: 942
datetime    2014-01-17 03:45:36
Name: 272234, dtype: object
datetime    2014-01-17 04:01:18
Name: 272235, dtype: object
datetime    2014-01-17 04:08:41
Name: 272236, dtype: object

datetime    2014-01-12 18:43:41
Name: 275410, dtype: object
datetime    2014-01-12 18:43:41
Name: 275411, dtype: object
datetime    2014-01-12 19:59:24
Name: 275412, dtype: object
214 / 496
Корни уравнения: 2869 и -8393
Секунд: 2869
datetime    2014-01-12 18:43:41
Name: 275410, dtype: object
datetime    2014-01-12 19:31:30
Name: 275411, dtype: object
datetime    2014-01-12 19:59:24
Name: 275412, dtype: object

datetime    2014-01-07 00:11:18
Name: 276487, dtype: object
datetime    2014-01-07 00:11:18
Name: 276488, dtype: object
datetime    2014-01-07 01:11:23
Name: 276489, dtype: object
215 / 496
Корни уравнения: -5412 и 2324
Секунд: 2324
datetime    2014-01-07 00:11:18
Name: 276487, dtype: object
datetime    2014-01-07 00:50:02
Name: 276488, dtype: object
datetime    2014-01-07 01:11:23
Name: 276489, dtype: object

datetime    2014-01-19 00:33:55
Name: 276776, dtype: object
datetime    2014-01-19 00:33:55
Name: 276777, dtype: object
datetime    2014-01-19 01:34:00
Name: 276778, dtype: object
216 / 496
Корни уравнения: -8709 и 2368
Секунд: 2368
datetime    2014-01-19 00:33:55
Name: 276776, dtype: object
datetime    2014-01-19 01:13:23
Name: 276777, dtype: object
datetime    2014-01-19 01:34:00
Name: 276778, dtype: object

datetime    2014-01-31 00:56:33
Name: 277065, dtype: object
datetime    2014-01-31 00:56:33
Name: 277066, dtype: object
datetime    2014-01-31 01:56:37
Name: 277067, dtype: object
217 / 496
Корни уравнения: -10733 и 2379
Секунд: 2379
datetime    2014-01-31 00:56:33
Name: 277065, dtype: object
datetime    2014-01-31 01:36:12
Name: 277066, dtype: object
datetime    2014-01-31 01:56:37
Name: 277067, dtype: object

datetime    2014-01-15 17:15:16
Name: 278100, dtype: object
datetime    2014-01-15 17:15:16
Name: 278101, dtype: object
datetime    2014-01-15 19:05:39
Name: 278102, dtype: object
218 / 496
Корни уравнения: 3854 и -6304
Секунд: 3854
datetime    2014-01-15 17:15:16
Name: 278100, dtype: object
datetime    2014-01-15 18:19:30
Name: 278101, dtype: object
datetime    2014-01-15 19:05:39
Name: 278102, dtype: object

datetime    2014-01-16 04:00:29
Name: 279738, dtype: object
datetime    2014-01-16 04:00:29
Name: 279739, dtype: object
datetime    2014-01-16 04:15:49
Name: 279740, dtype: object
219 / 496
Корни уравнения: -1511 и 573
Секунд: 573
datetime    2014-01-16 04:00:29
Name: 279738, dtype: object
datetime    2014-01-16 04:10:02
Name: 279739, dtype: object
datetime    2014-01-16 04:15:49
Name: 279740, dtype: object

datetime    2014-01-31 06:52:06
Name: 283826, dtype: object
datetime    2014-01-31 06:52:06
Name: 283827, dtype: object
datetime    2014-01-31 07:08:53
Name: 283828, dtype: object
220 / 496
Корни уравнения: -1609 и 624
Секунд: 624
datetime    2014-01-31 06:52:06
Name: 283826, dtype: object
datetime    2014-01-31 07:02:30
Name: 283827, dtype: object
datetime    2014-01-31 07:08:53
Name: 283828, dtype: object

datetime    2014-01-17 02:22:08
Name: 289579, dtype: object
datetime    2014-01-17 02:22:08
Name: 289580, dtype: object
datetime    2014-01-17 03:20:40
Name: 289581, dtype: object
221 / 496
Корни уравнения: 2222 и -6546
Секунд: 2222
datetime    2014-01-17 02:22:08
Name: 289579, dtype: object
datetime    2014-01-17 02:59:10
Name: 289580, dtype: object
datetime    2014-01-17 03:20:40
Name: 289581, dtype: object

datetime    2014-01-16 04:48:04
Name: 291537, dtype: object
datetime    2014-01-16 04:48:04
Name: 291538, dtype: object
datetime    2014-01-16 05:01:50
Name: 291539, dtype: object
222 / 496
Корни уравнения: -389 и 420
Секунд: 420
datetime    2014-01-16 04:48:04
Name: 291537, dtype: object
datetime    2014-01-16 04:55:04
Name: 291538, dtype: object
datetime    2014-01-16 05:01:50
Name: 291539, dtype: object

datetime    2014-01-28 13:11:22
Name: 318034, dtype: object
datetime    2014-01-28 13:11:22
Name: 318035, dtype: object
datetime    2014-01-28 13:39:54
Name: 318036, dtype: object
223 / 496
Корни уравнения: -1271 и 926
Секунд: 926
datetime    2014-01-28 13:11:22
Name: 318034, dtype: object
datetime    2014-01-28 13:26:48
Name: 318035, dtype: object
datetime    2014-01-28 13:39:54
Name: 318036, dtype: object

datetime    2014-01-10 17:30:34
Name: 329649, dtype: object
datetime    2014-01-10 17:30:34
Name: 329650, dtype: object
datetime    2014-01-10 19:30:19
Name: 329651, dtype: object
224 / 496
Корни уравнения: -7267 и 4004
Секунд: 4004
datetime    2014-01-10 17:30:34
Name: 329649, dtype: object
datetime    2014-01-10 18:37:18
Name: 329650, dtype: object
datetime    2014-01-10 19:30:19
Name: 329651, dtype: object

datetime    2014-01-23 16:51:20
Name: 329806, dtype: object
datetime    2014-01-23 16:51:20
Name: 329807, dtype: object
datetime    2014-01-23 18:51:05
Name: 329808, dtype: object
225 / 496
Корни уравнения: 4565 и -14109
Секунд: 4565
datetime    2014-01-23 16:51:20
Name: 329806, dtype: object
datetime    2014-01-23 18:07:25
Name: 329807, dtype: object
datetime    2014-01-23 18:51:05
Name: 329808, dtype: object

datetime    2014-01-20 21:52:20
Name: 331587, dtype: object
datetime    2014-01-20 21:52:20
Name: 331588, dtype: object
datetime    2014-01-20 23:33:17
Name: 331589, dtype: object
226 / 496
Корни уравнения: 3434 и -6385
Секунд: 3434
datetime    2014-01-20 21:52:20
Name: 331587, dtype: object
datetime    2014-01-20 22:49:34
Name: 331588, dtype: object
datetime    2014-01-20 23:33:17
Name: 331589, dtype: object

datetime    2014-01-08 00:42:12
Name: 332318, dtype: object
datetime    2014-01-08 00:42:12
Name: 332319, dtype: object
datetime    2014-01-08 01:45:28
Name: 332320, dtype: object
227 / 496
Корни уравнения: 2019 и -2504
Секунд: 2019
datetime    2014-01-08 00:42:12
Name: 332318, dtype: object
datetime    2014-01-08 01:15:51
Name: 332319, dtype: object
datetime    2014-01-08 01:45:28
Name: 332320, dtype: object

datetime    2014-01-22 02:06:38
Name: 332639, dtype: object
datetime    2014-01-22 02:06:38
Name: 332640, dtype: object
datetime    2014-01-22 03:09:54
Name: 332641, dtype: object
228 / 496
Корни уравнения: 2615 и -14894
Секунд: 2615
datetime    2014-01-22 02:06:38
Name: 332639, dtype: object
datetime    2014-01-22 02:50:13
Name: 332640, dtype: object
datetime    2014-01-22 03:09:54
Name: 332641, dtype: object

datetime    2014-01-23 03:47:09
Name: 342938, dtype: object
datetime    2014-01-23 03:47:09
Name: 342939, dtype: object
datetime    2014-01-23 03:55:46
Name: 342940, dtype: object
229 / 496
Корни уравнения: 324 и -909
Секунд: 324
datetime    2014-01-23 03:47:09
Name: 342938, dtype: object
datetime    2014-01-23 03:52:33
Name: 342939, dtype: object
datetime    2014-01-23 03:55:46
Name: 342940, dtype: object

datetime    2014-01-16 22:27:21
Name: 346073, dtype: object
datetime    2014-01-16 22:27:21
Name: 346074, dtype: object
datetime    2014-01-16 22:47:29
Name: 346075, dtype: object
230 / 496
Корни уравнения: 857 и -7347
Секунд: 857
datetime    2014-01-16 22:27:21
Name: 346073, dtype: object
datetime    2014-01-16 22:41:38
Name: 346074, dtype: object
datetime    2014-01-16 22:47:29
Name: 346075, dtype: object

datetime    2014-01-07 16:04:19
Name: 348038, dtype: object
datetime    2014-01-07 16:04:19
Name: 348039, dtype: object
datetime    2014-01-07 17:02:10
Name: 348040, dtype: object
231 / 496
Корни уравнения: 2330 и -8387
Секунд: 2330
datetime    2014-01-07 16:04:19
Name: 348038, dtype: object
datetime    2014-01-07 16:43:09
Name: 348039, dtype: object
datetime    2014-01-07 17:02:10
Name: 348040, dtype: object

datetime    2014-01-17 16:10:48
Name: 348288, dtype: object
datetime    2014-01-17 16:10:48
Name: 348289, dtype: object
datetime    2014-01-17 17:08:40
Name: 348290, dtype: object
232 / 496
Корни уравнения: -7141 и 2221
Секунд: 2221
datetime    2014-01-17 16:10:48
Name: 348288, dtype: object
datetime    2014-01-17 16:47:49
Name: 348289, dtype: object
datetime    2014-01-17 17:08:40
Name: 348290, dtype: object

datetime    2014-01-27 16:17:18
Name: 348538, dtype: object
datetime    2014-01-27 16:17:18
Name: 348539, dtype: object
datetime    2014-01-27 17:15:09
Name: 348540, dtype: object
233 / 496
Корни уравнения: 2067 и -4389
Секунд: 2067
datetime    2014-01-27 16:17:18
Name: 348538, dtype: object
datetime    2014-01-27 16:51:45
Name: 348539, dtype: object
datetime    2014-01-27 17:15:09
Name: 348540, dtype: object

datetime    2014-01-07 01:48:46
Name: 349141, dtype: object
datetime    2014-01-07 01:48:46
Name: 349142, dtype: object
datetime    2014-01-07 02:06:28
Name: 349143, dtype: object
234 / 496
Корни уравнения: 614 и -1122
Секунд: 614
datetime    2014-01-07 01:48:46
Name: 349141, dtype: object
datetime    2014-01-07 01:59:00
Name: 349142, dtype: object
datetime    2014-01-07 02:06:28
Name: 349143, dtype: object

datetime    2014-01-19 05:26:18
Name: 350130, dtype: object
datetime    2014-01-19 05:26:18
Name: 350131, dtype: object
datetime    2014-01-19 05:44:01
Name: 350132, dtype: object
235 / 496
Корни уравнения: 666 и -1778
Секунд: 666
datetime    2014-01-19 05:26:18
Name: 350130, dtype: object
datetime    2014-01-19 05:37:24
Name: 350131, dtype: object
datetime    2014-01-19 05:44:01
Name: 350132, dtype: object

datetime    2014-01-31 09:03:50
Name: 351119, dtype: object
datetime    2014-01-31 09:03:50
Name: 351120, dtype: object
datetime    2014-01-31 09:21:33
Name: 351121, dtype: object
236 / 496
Корни уравнения: -108 и 416
Секунд: 416
datetime    2014-01-31 09:03:50
Name: 351119, dtype: object
datetime    2014-01-31 09:10:46
Name: 351120, dtype: object
datetime    2014-01-31 09:21:33
Name: 351121, dtype: object

datetime    2014-01-20 00:10:33
Name: 356940, dtype: object
datetime    2014-01-20 00:10:33
Name: 356941, dtype: object
datetime    2014-01-20 00:25:04
Name: 356942, dtype: object
237 / 496
Корни уравнения: 541 и -1435
Секунд: 541
datetime    2014-01-20 00:10:33
Name: 356940, dtype: object
datetime    2014-01-20 00:19:34
Name: 356941, dtype: object
datetime    2014-01-20 00:25:04
Name: 356942, dtype: object

datetime    2014-01-12 20:23:25
Name: 362249, dtype: object
datetime    2014-01-12 20:23:25
Name: 362250, dtype: object
datetime    2014-01-12 21:48:19
Name: 362251, dtype: object
238 / 496
Корни уравнения: -6377 и 3041
Секунд: 3041
datetime    2014-01-12 20:23:25
Name: 362249, dtype: object
datetime    2014-01-12 21:14:06
Name: 362250, dtype: object
datetime    2014-01-12 21:48:19
Name: 362251, dtype: object

datetime    2014-01-28 15:34:39
Name: 362518, dtype: object
datetime    2014-01-28 15:34:39
Name: 362519, dtype: object
datetime    2014-01-28 16:59:33
Name: 362520, dtype: object
239 / 496
Корни уравнения: -8435 и 3172
Секунд: 3172
datetime    2014-01-28 15:34:39
Name: 362518, dtype: object
datetime    2014-01-28 16:27:31
Name: 362519, dtype: object
datetime    2014-01-28 16:59:33
Name: 362520, dtype: object

datetime    2014-01-09 11:08:23
Name: 368009, dtype: object
datetime    2014-01-09 11:08:23
Name: 368010, dtype: object
datetime    2014-01-09 12:51:40
Name: 368011, dtype: object
240 / 496
Корни уравнения: -10988 и 4067
Секунд: 4067
datetime    2014-01-09 11:08:23
Name: 368009, dtype: object
datetime    2014-01-09 12:16:10
Name: 368010, dtype: object
datetime    2014-01-09 12:51:40
Name: 368011, dtype: object

datetime    2014-01-26 09:25:10
Name: 368246, dtype: object
datetime    2014-01-26 09:25:10
Name: 368247, dtype: object
datetime    2014-01-26 11:08:27
Name: 368248, dtype: object
241 / 496
Корни уравнения: -7481 и 3644
Секунд: 3644
datetime    2014-01-26 09:25:10
Name: 368246, dtype: object
datetime    2014-01-26 10:25:54
Name: 368247, dtype: object
datetime    2014-01-26 11:08:27
Name: 368248, dtype: object

datetime    2014-01-13 01:10:22
Name: 370471, dtype: object
datetime    2014-01-13 01:10:22
Name: 370472, dtype: object
datetime    2014-01-13 02:05:59
Name: 370473, dtype: object
242 / 496
Корни уравнения: -5020 и 2111
Секунд: 2111
datetime    2014-01-13 01:10:22
Name: 370471, dtype: object
datetime    2014-01-13 01:45:33
Name: 370472, dtype: object
datetime    2014-01-13 02:05:59
Name: 370473, dtype: object

datetime    2014-01-25 02:20:44
Name: 370784, dtype: object
datetime    2014-01-25 02:20:44
Name: 370785, dtype: object
datetime    2014-01-25 03:16:21
Name: 370786, dtype: object
243 / 496
Корни уравнения: -6990 и 2167
Секунд: 2167
datetime    2014-01-25 02:20:44
Name: 370784, dtype: object
datetime    2014-01-25 02:56:51
Name: 370785, dtype: object
datetime    2014-01-25 03:16:21
Name: 370786, dtype: object

datetime    2014-01-11 21:49:41
Name: 372170, dtype: object
datetime    2014-01-11 21:49:41
Name: 372171, dtype: object
datetime    2014-01-11 23:16:58
Name: 372172, dtype: object
244 / 496
Корни уравнения: 3311 и -9778
Секунд: 3311
datetime    2014-01-11 21:49:41
Name: 372170, dtype: object
datetime    2014-01-11 22:44:52
Name: 372171, dtype: object
datetime    2014-01-11 23:16:58
Name: 372172, dtype: object

datetime    2014-01-22 19:39:23
Name: 372351, dtype: object
datetime    2014-01-22 19:39:23
Name: 372352, dtype: object
datetime    2014-01-22 21:06:40
Name: 372353, dtype: object
245 / 496
Корни уравнения: 18411 и 4227
Секунд: 4227
datetime    2014-01-22 19:39:23
Name: 372351, dtype: object
datetime    2014-01-22 20:49:50
Name: 372352, dtype: object
datetime    2014-01-22 21:06:40
Name: 372353, dtype: object

datetime    2014-01-10 22:40:02
Name: 384766, dtype: object
datetime    2014-01-10 22:40:02
Name: 384767, dtype: object
datetime    2014-01-11 00:07:21
Name: 384768, dtype: object
246 / 496
Корни уравнения: -2265 и 2337
Секунд: 2337
datetime    2014-01-10 22:40:02
Name: 384766, dtype: object
datetime    2014-01-10 23:18:59
Name: 384767, dtype: object
datetime    2014-01-11 00:07:21
Name: 384768, dtype: object

datetime    2014-01-30 20:00:07
Name: 385095, dtype: object
datetime    2014-01-30 20:00:07
Name: 385096, dtype: object
datetime    2014-01-30 21:27:26
Name: 385097, dtype: object
247 / 496
Корни уравнения: 3283 и -9210
Секунд: 3283
datetime    2014-01-30 20:00:07
Name: 385095, dtype: object
datetime    2014-01-30 20:54:50
Name: 385096, dtype: object
datetime    2014-01-30 21:27:26
Name: 385097, dtype: object

datetime    2014-01-07 18:07:53
Name: 385784, dtype: object
datetime    2014-01-07 18:07:53
Name: 385785, dtype: object
datetime    2014-01-07 18:22:27
Name: 385786, dtype: object
248 / 496
Корни уравнения: 442 и -474
Секунд: 442
datetime    2014-01-07 18:07:53
Name: 385784, dtype: object
datetime    2014-01-07 18:15:15
Name: 385785, dtype: object
datetime    2014-01-07 18:22:27
Name: 385786, dtype: object

datetime    2014-01-14 12:15:46
Name: 386453, dtype: object
datetime    2014-01-14 12:15:46
Name: 386454, dtype: object
datetime    2014-01-14 12:30:20
Name: 386455, dtype: object
249 / 496
Корни уравнения: -2691 и 591
Секунд: 591
datetime    2014-01-14 12:15:46
Name: 386453, dtype: object
datetime    2014-01-14 12:25:37
Name: 386454, dtype: object
datetime    2014-01-14 12:30:20
Name: 386455, dtype: object

datetime    2014-01-21 06:23:39
Name: 387122, dtype: object
datetime    2014-01-21 06:23:39
Name: 387123, dtype: object
datetime    2014-01-21 06:38:13
Name: 387124, dtype: object
250 / 496
Корни уравнения: -1517 и 548
Секунд: 548
datetime    2014-01-21 06:23:39
Name: 387122, dtype: object
datetime    2014-01-21 06:32:47
Name: 387123, dtype: object
datetime    2014-01-21 06:38:13
Name: 387124, dtype: object

datetime    2014-01-31 09:35:29
Name: 388125, dtype: object
datetime    2014-01-31 09:35:29
Name: 388126, dtype: object
datetime    2014-01-31 09:50:03
Name: 388127, dtype: object
251 / 496
Корни уравнения: -1047 и 518
Секунд: 518
datetime    2014-01-31 09:35:29
Name: 388125, dtype: object
datetime    2014-01-31 09:44:07
Name: 388126, dtype: object
datetime    2014-01-31 09:50:03
Name: 388127, dtype: object

datetime    2014-01-09 04:26:13
Name: 388226, dtype: object
datetime    2014-01-09 04:26:13
Name: 388227, dtype: object
datetime    2014-01-09 09:20:52
Name: 388228, dtype: object
252 / 496
Корни уравнения: 12637 и -105163
Секунд: 12637
datetime    2014-01-09 04:26:13
Name: 388226, dtype: object
datetime    2014-01-09 07:56:50
Name: 388227, dtype: object
datetime    2014-01-09 09:20:52
Name: 388228, dtype: object

datetime    2014-01-21 11:05:32
Name: 388287, dtype: object
datetime    2014-01-21 11:05:32
Name: 388288, dtype: object
datetime    2014-01-21 16:00:12
Name: 388289, dtype: object
253 / 496
Корни уравнения: 10951 и -28519
Секунд: 10951
datetime    2014-01-21 11:05:32
Name: 388287, dtype: object
datetime    2014-01-21 14:08:03
Name: 388288, dtype: object
datetime    2014-01-21 16:00:12
Name: 388289, dtype: object

datetime    2014-01-10 00:51:34
Name: 388637, dtype: object
datetime    2014-01-10 00:51:34
Name: 388638, dtype: object
datetime    2014-01-10 01:35:22
Name: 388639, dtype: object
254 / 496
Корни уравнения: 1580 и -3416
Секунд: 1580
datetime    2014-01-10 00:51:34
Name: 388637, dtype: object
datetime    2014-01-10 01:17:54
Name: 388638, dtype: object
datetime    2014-01-10 01:35:22
Name: 388639, dtype: object

datetime    2014-01-25 02:17:31
Name: 389133, dtype: object
datetime    2014-01-25 02:17:31
Name: 389134, dtype: object
datetime    2014-01-25 03:01:19
Name: 389135, dtype: object
255 / 496
Корни уравнения: -5138 и 1686
Секунд: 1686
datetime    2014-01-25 02:17:31
Name: 389133, dtype: object
datetime    2014-01-25 02:45:37
Name: 389134, dtype: object
datetime    2014-01-25 03:01:19
Name: 389135, dtype: object

datetime    2014-01-07 23:33:29
Name: 389770, dtype: object
datetime    2014-01-07 23:33:29
Name: 389771, dtype: object
datetime    2014-01-08 01:22:46
Name: 389772, dtype: object
256 / 496
Корни уравнения: -46912 и 4838
Секунд: 4838
datetime    2014-01-07 23:33:29
Name: 389770, dtype: object
datetime    2014-01-08 00:54:07
Name: 389771, dtype: object
datetime    2014-01-08 01:22:46
Name: 389772, dtype: object

datetime    2014-01-14 23:06:58
Name: 389863, dtype: object
datetime    2014-01-14 23:06:58
Name: 389864, dtype: object
datetime    2014-01-15 00:56:15
Name: 389865, dtype: object
257 / 496
Корни уравнения: -11001 и 4100
Секунд: 4100
datetime    2014-01-14 23:06:58
Name: 389863, dtype: object
datetime    2014-01-15 00:15:18
Name: 389864, dtype: object
datetime    2014-01-15 00:56:15
Name: 389865, dtype: object

datetime    2014-01-21 22:40:28
Name: 389956, dtype: object
datetime    2014-01-21 22:40:28
Name: 389957, dtype: object
datetime    2014-01-22 00:29:45
Name: 389958, dtype: object
258 / 496
Корни уравнения: -9481 и 3996
Секунд: 3996
datetime    2014-01-21 22:40:28
Name: 389956, dtype: object
datetime    2014-01-21 23:47:04
Name: 389957, dtype: object
datetime    2014-01-22 00:29:45
Name: 389958, dtype: object

datetime    2014-01-28 22:13:57
Name: 390049, dtype: object
datetime    2014-01-28 22:13:57
Name: 390050, dtype: object
datetime    2014-01-29 00:03:14
Name: 390051, dtype: object
259 / 496
Корни уравнения: -7928 и 3885
Секунд: 3885
datetime    2014-01-28 22:13:57
Name: 390049, dtype: object
datetime    2014-01-28 23:18:42
Name: 390050, dtype: object
datetime    2014-01-29 00:03:14
Name: 390051, dtype: object

datetime    2014-01-15 22:56:46
Name: 392304, dtype: object
datetime    2014-01-15 22:56:46
Name: 392305, dtype: object
datetime    2014-01-16 00:45:32
Name: 392306, dtype: object
260 / 496
Корни уравнения: 4009 и -9762
Секунд: 4009
datetime    2014-01-15 22:56:46
Name: 392304, dtype: object
datetime    2014-01-16 00:03:35
Name: 392305, dtype: object
datetime    2014-01-16 00:45:32
Name: 392306, dtype: object

datetime    2014-01-19 17:46:18
Name: 396338, dtype: object
datetime    2014-01-19 17:46:18
Name: 396339, dtype: object
datetime    2014-01-19 17:53:22
Name: 396340, dtype: object
261 / 496
Корни уравнения: -685 и 264
Секунд: 264
datetime    2014-01-19 17:46:18
Name: 396338, dtype: object
datetime    2014-01-19 17:50:42

Name: 396339, dtype: object
datetime    2014-01-19 17:53:22
Name: 396340, dtype: object

datetime    2014-01-10 21:26:58
Name: 401445, dtype: object
datetime    2014-01-10 21:26:58
Name: 401446, dtype: object
datetime    2014-01-10 23:41:23
Name: 401447, dtype: object
262 / 496
Корни уравнения: 5004 и -13178
Секунд: 5004
datetime    2014-01-10 21:26:58
Name: 401445, dtype: object
datetime    2014-01-10 22:50:22
Name: 401446, dtype: object
datetime    2014-01-10 23:41:23
Name: 401447, dtype: object

datetime    2014-01-20 18:53:57
Name: 401552, dtype: object
datetime    2014-01-20 18:53:57
Name: 401553, dtype: object
datetime    2014-01-20 21:08:22
Name: 401554, dtype: object
263 / 496
Корни уравнения: -7536 и 4494
Секунд: 4494
datetime    2014-01-20 18:53:57
Name: 401552, dtype: object
datetime    2014-01-20 20:08:51
Name: 401553, dtype: object
datetime    2014-01-20 21:08:22
Name: 401554, dtype: object

datetime    2014-01-09 00:22:56
Name: 401852, dtype: object
datetime    2014-01-09 00:22:56
Name: 401853, dtype: object
datetime    2014-01-09 01:27:47
Name: 401854, dtype: object
264 / 496
Корни уравнения: 2450 и -6936
Секунд: 2450
datetime    2014-01-09 00:22:56
Name: 401852, dtype: object
datetime    2014-01-09 01:03:46
Name: 401853, dtype: object
datetime    2014-01-09 01:27:47
Name: 401854, dtype: object

datetime    2014-01-21 00:57:20
Name: 402120, dtype: object
datetime    2014-01-21 00:57:20
Name: 402121, dtype: object
datetime    2014-01-21 02:02:11
Name: 402122, dtype: object
265 / 496
Корни уравнения: 2742 и -20324
Секунд: 2742
datetime    2014-01-21 00:57:20
Name: 402120, dtype: object
datetime    2014-01-21 01:43:02
Name: 402121, dtype: object
datetime    2014-01-21 02:02:11
Name: 402122, dtype: object

datetime    2014-01-24 03:10:15
Name: 406130, dtype: object
datetime    2014-01-24 03:10:15
Name: 406131, dtype: object
datetime    2014-01-24 04:31:29
Name: 406132, dtype: object
266 / 496
Корни уравнения: 18566 и 4039
Секунд: 4039
datetime    2014-01-24 03:10:15
Name: 406130, dtype: object
datetime    2014-01-24 04:17:34
Name: 406131, dtype: object
datetime    2014-01-24 04:31:29
Name: 406132, dtype: object

datetime    2014-01-08 10:25:56
Name: 406421, dtype: object
datetime    2014-01-08 10:25:56
Name: 406422, dtype: object
datetime    2014-01-08 11:37:18
Name: 406423, dtype: object
267 / 496
Корни уравнения: -6152 и 2618
Секунд: 2618
datetime    2014-01-08 10:25:56
Name: 406421, dtype: object
datetime    2014-01-08 11:09:34
Name: 406422, dtype: object
datetime    2014-01-08 11:37:18
Name: 406423, dtype: object

datetime    2014-01-19 14:04:50
Name: 406647, dtype: object
datetime    2014-01-19 14:04:50
Name: 406648, dtype: object
datetime    2014-01-19 15:16:12
Name: 406649, dtype: object
D < 0 в строке: 406647
datetime    2014-01-19 14:04:50
Name: 406647, dtype: object
datetime    2014-01-19 14:04:50
Name: 406648, dtype: object
datetime    2014-01-19 15:16:12
Name: 406649, dtype: object

datetime    2014-01-30 17:43:44
Name: 406873, dtype: object
datetime    2014-01-30 17:43:44
Name: 406874, dtype: object
datetime    2014-01-30 18:55:07
Name: 406875, dtype: object
D < 0 в строке: 406873
datetime    2014-01-30 17:43:44
Name: 406873, dtype: object
datetime    2014-01-30 17:43:44
Name: 406874, dtype: object
datetime    2014-01-30 18:55:07
Name: 406875, dtype: object

datetime    2014-01-08 13:42:21
Name: 407214, dtype: object
datetime    2014-01-08 13:42:21
Name: 407215, dtype: object
datetime    2014-01-08 14:17:04
Name: 407216, dtype: object
268 / 496
Корни уравнения: 1266 и -2837
Секунд: 1266
datetime    2014-01-08 13:42:21
Name: 407214, dtype: object
datetime    2014-01-08 14:03:27
Name: 407215, dtype: object
datetime    2014-01-08 14:17:04
Name: 407216, dtype: object

datetime    2014-01-23 17:07:03
Name: 407843, dtype: object
datetime    2014-01-23 17:07:03
Name: 407844, dtype: object
datetime    2014-01-23 17:41:46
Name: 407845, dtype: object
269 / 496
Корни уравнения: 1370 и -5243
Секунд: 1370
datetime    2014-01-23 17:07:03
Name: 407843, dtype: object
datetime    2014-01-23 17:29:53
Name: 407844, dtype: object
datetime    2014-01-23 17:41:46
Name: 407845, dtype: object

datetime    2014-01-24 09:21:03
Name: 411923, dtype: object
datetime    2014-01-24 09:21:03
Name: 411924, dtype: object
datetime    2014-01-24 10:01:49
Name: 411925, dtype: object
270 / 496
Корни уравнения: 1593 и -5781
Секунд: 1593
datetime    2014-01-24 09:21:03
Name: 411923, dtype: object
datetime    2014-01-24 09:47:36
Name: 411924, dtype: object
datetime    2014-01-24 10:01:49
Name: 411925, dtype: object

datetime    2014-01-07 16:46:14
Name: 418362, dtype: object
datetime    2014-01-07 16:46:14
Name: 418363, dtype: object
datetime    2014-01-07 17:25:46
Name: 418364, dtype: object
271 / 496
Корни уравнения: -4530 и 1506
Секунд: 1506
datetime    2014-01-07 16:46:14
Name: 418362, dtype: object
datetime    2014-01-07 17:11:20
Name: 418363, dtype: object
datetime    2014-01-07 17:25:46
Name: 418364, dtype: object

datetime    2014-01-17 17:55:36
Name: 418729, dtype: object
datetime    2014-01-17 17:55:36
Name: 418730, dtype: object
datetime    2014-01-17 18:35:08
Name: 418731, dtype: object
272 / 496
Корни уравнения: 1021 и -527
Секунд: 1021
datetime    2014-01-17 17:55:36
Name: 418729, dtype: object
datetime    2014-01-17 18:12:37
Name: 418730, dtype: object
datetime    2014-01-17 18:35:08
Name: 418731, dtype: object

datetime    2014-01-24 10:41:51
Name: 418974, dtype: object
datetime    2014-01-24 10:41:51
Name: 418975, dtype: object
datetime    2014-01-24 11:21:23
Name: 418976, dtype: object
273 / 496
Корни уравнения: 1424 и -3150
Секунд: 1424
datetime    2014-01-24 10:41:51
Name: 418974, dtype: object
datetime    2014-01-24 11:05:35
Name: 418975, dtype: object
datetime    2014-01-24 11:21:23
Name: 418976, dtype: object

datetime    2014-01-12 08:31:53
Name: 419992, dtype: object
datetime    2014-01-12 08:31:53
Name: 419993, dtype: object
datetime    2014-01-12 08:59:25
Name: 419994, dtype: object
274 / 496
Корни уравнения: -7028 и 1159
Секунд: 1159
datetime    2014-01-12 08:31:53
Name: 419992, dtype: object
datetime    2014-01-12 08:51:12
Name: 419993, dtype: object
datetime    2014-01-12 08:59:25
Name: 419994, dtype: object

datetime    2014-01-31 06:45:03
Name: 420983, dtype: object
datetime    2014-01-31 06:45:03
Name: 420984, dtype: object
datetime    2014-01-31 07:12:35
Name: 420985, dtype: object
275 / 496
Корни уравнения: 1062 и -3243
Секунд: 1062
datetime    2014-01-31 06:45:03
Name: 420983, dtype: object
datetime    2014-01-31 07:02:45
Name: 420984, dtype: object
datetime    2014-01-31 07:12:35
Name: 420985, dtype: object

datetime    2014-01-08 20:27:30
Name: 426153, dtype: object
datetime    2014-01-08 20:27:30
Name: 426154, dtype: object
datetime    2014-01-09 02:44:25
Name: 426155, dtype: object
276 / 496
Корни уравнения: -41402 и 14215
Секунд: 14215
datetime    2014-01-08 20:27:30
Name: 426153, dtype: object
datetime    2014-01-09 00:24:25
Name: 426154, dtype: object
datetime    2014-01-09 02:44:25
Name: 426155, dtype: object

datetime    2014-01-20 15:08:45
Name: 426199, dtype: object
datetime    2014-01-20 15:08:45
Name: 426200, dtype: object
datetime    2014-01-20 21:25:40
Name: 426201, dtype: object
277 / 496
Корни уравнения: -39873 и 14170
Секунд: 14170
datetime    2014-01-20 15:08:45
Name: 426199, dtype: object
datetime    2014-01-20 19:04:55
Name: 426200, dtype: object
datetime    2014-01-20 21:25:40
Name: 426201, dtype: object

datetime    2014-01-10 07:42:19
Name: 429194, dtype: object
datetime    2014-01-10 07:42:19
Name: 429195, dtype: object
datetime    2014-01-10 08:22:01
Name: 429196, dtype: object
278 / 496
Корни уравнения: -4611 и 1524
Секунд: 1524
datetime    2014-01-10 07:42:19
Name: 429194, dtype: object
datetime    2014-01-10 08:07:43
Name: 429195, dtype: object
datetime    2014-01-10 08:22:01
Name: 429196, dtype: object

datetime    2014-01-28 23:06:57
Name: 429871, dtype: object
datetime    2014-01-28 23:06:57
Name: 429872, dtype: object
datetime    2014-01-28 23:46:40
Name: 429873, dtype: object
D < 0 в строке: 429871
datetime    2014-01-28 23:06:57
Name: 429871, dtype: object
datetime    2014-01-28 23:06:57
Name: 429872, dtype: object
datetime    2014-01-28 23:46:40
Name: 429873, dtype: object

datetime    2014-01-09 16:21:23
Name: 430761, dtype: object
datetime    2014-01-09 16:21:23
Name: 430762, dtype: object
datetime    2014-01-09 16:37:27
Name: 430763, dtype: object
279 / 496
Корни уравнения: 548 и -918
Секунд: 548
datetime    2014-01-09 16:21:23
Name: 430761, dtype: object
datetime    2014-01-09 16:30:31
Name: 430762, dtype: object
datetime    2014-01-09 16:37:27
Name: 430763, dtype: object

datetime    2014-01-27 01:04:09
Name: 432318, dtype: object
datetime    2014-01-27 01:04:09
Name: 432319, dtype: object
datetime    2014-01-27 01:20:13
Name: 432320, dtype: object
280 / 496
Корни уравнения: 5919 и 767
Секунд: 767
datetime    2014-01-27 01:04:09
Name: 432318, dtype: object
datetime    2014-01-27 01:16:56
Name: 432319, dtype: object
datetime    2014-01-27 01:20:13
Name: 432320, dtype: object

datetime    2014-01-16 18:15:19
Name: 434182, dtype: object
datetime    2014-01-16 18:15:19
Name: 434183, dtype: object
datetime    2014-01-16 18:58:33
Name: 434184, dtype: object
281 / 496
Корни уравнения: -2694 и 1500
Секунд: 1500
datetime    2014-01-16 18:15:19
Name: 434182, dtype: object
datetime    2014-01-16 18:40:19
Name: 434183, dtype: object
datetime    2014-01-16 18:58:33
Name: 434184, dtype: object

datetime    2014-01-08 14:22:48
Name: 436490, dtype: object
datetime    2014-01-08 14:22:48
Name: 436491, dtype: object
datetime    2014-01-08 14:32:50
Name: 436492, dtype: object
282 / 496
Корни уравнения: 380 и -1104
Секунд: 380
datetime    2014-01-08 14:22:48
Name: 436490, dtype: object
datetime    2014-01-08 14:29:08
Name: 436491, dtype: object
datetime    2014-01-08 14:32:50
Name: 436492, dtype: object

datetime    2014-01-23 19:08:25
Name: 438671, dtype: object
datetime    2014-01-23 19:08:25
Name: 438672, dtype: object
datetime    2014-01-23 19:18:27
Name: 438673, dtype: object
283 / 496
Корни уравнения: 367 и -853
Секунд: 367
datetime    2014-01-23 19:08:25
Name: 438671, dtype: object
datetime    2014-01-23 19:14:32
Name: 438672, dtype: object
datetime    2014-01-23 19:18:27
Name: 438673, dtype: object

datetime    2014-01-09 12:23:59
Name: 441305, dtype: object
datetime    2014-01-09 12:23:59
Name: 441306, dtype: object
datetime    2014-01-09 14:04:31
Name: 441307, dtype: object
284 / 496
Корни уравнения: 14593 и 5010
Секунд: 5010
datetime    2014-01-09 12:23:59
Name: 441305, dtype: object
datetime    2014-01-09 13:47:29
Name: 441306, dtype: object
datetime    2014-01-09 14:04:31

Name: 441307, dtype: object

datetime    2014-01-26 13:11:59
Name: 441550, dtype: object
datetime    2014-01-26 13:11:59
Name: 441551, dtype: object
datetime    2014-01-26 14:52:31
Name: 441552, dtype: object
285 / 496
Корни уравнения: 3672 и -8570
Секунд: 3672
datetime    2014-01-26 13:11:59
Name: 441550, dtype: object
datetime    2014-01-26 14:13:11
Name: 441551, dtype: object
datetime    2014-01-26 14:52:31
Name: 441552, dtype: object

datetime    2014-01-08 01:08:31
Name: 441808, dtype: object
datetime    2014-01-08 01:08:31
Name: 441809, dtype: object
datetime    2014-01-08 02:05:32
Name: 441810, dtype: object
286 / 496
Корни уравнения: 2377 и -16666
Секунд: 2377
datetime    2014-01-08 01:08:31
Name: 441808, dtype: object
datetime    2014-01-08 01:48:08
Name: 441809, dtype: object
datetime    2014-01-08 02:05:32
Name: 441810, dtype: object

datetime    2014-01-15 02:17:02
Name: 441987, dtype: object
datetime    2014-01-15 02:17:02
Name: 441988, dtype: object
datetime    2014-01-15 03:14:03
Name: 441989, dtype: object
287 / 496
Корни уравнения: -6196 и 2198
Секунд: 2198
datetime    2014-01-15 02:17:02
Name: 441987, dtype: object
datetime    2014-01-15 02:53:40
Name: 441988, dtype: object
datetime    2014-01-15 03:14:03
Name: 441989, dtype: object

datetime    2014-01-25 15:59:49
Name: 442255, dtype: object
datetime    2014-01-25 15:59:49
Name: 442256, dtype: object
datetime    2014-01-25 16:56:49
Name: 442257, dtype: object
288 / 496
Корни уравнения: 2031 и -3405
Секунд: 2031
datetime    2014-01-25 15:59:49
Name: 442255, dtype: object
datetime    2014-01-25 16:33:40
Name: 442256, dtype: object
datetime    2014-01-25 16:56:49
Name: 442257, dtype: object

datetime    2014-01-13 02:52:07
Name: 443390, dtype: object
datetime    2014-01-13 02:52:07
Name: 443391, dtype: object
datetime    2014-01-13 03:48:46
Name: 443392, dtype: object
289 / 496
Корни уравнения: 1972 и -3613
Секунд: 1972
datetime    2014-01-13 02:52:07
Name: 443390, dtype: object
datetime    2014-01-13 03:24:59
Name: 443391, dtype: object
datetime    2014-01-13 03:48:46
Name: 443392, dtype: object

datetime    2014-01-25 05:44:14
Name: 443699, dtype: object
datetime    2014-01-25 05:44:14
Name: 443700, dtype: object
datetime    2014-01-25 06:40:53
Name: 443701, dtype: object
D < 0 в строке: 443699
datetime    2014-01-25 05:44:14
Name: 443699, dtype: object
datetime    2014-01-25 05:44:14
Name: 443700, dtype: object
datetime    2014-01-25 06:40:53
Name: 443701, dtype: object

datetime    2014-01-08 18:12:15
Name: 445282, dtype: object
datetime    2014-01-08 18:12:15
Name: 445283, dtype: object
datetime    2014-01-08 21:12:27
Name: 445284, dtype: object
290 / 496
Корни уравнения: -18413 и 6746
Секунд: 6746
datetime    2014-01-08 18:12:15
Name: 445282, dtype: object
datetime    2014-01-08 20:04:41
Name: 445283, dtype: object
datetime    2014-01-08 21:12:27
Name: 445284, dtype: object

datetime    2014-01-20 09:30:39
Name: 445376, dtype: object
datetime    2014-01-20 09:30:39
Name: 445377, dtype: object
datetime    2014-01-20 12:30:51
Name: 445378, dtype: object
291 / 496
Корни уравнения: -17617 и 6698
Секунд: 6698
datetime    2014-01-20 09:30:39
Name: 445376, dtype: object
datetime    2014-01-20 11:22:17
Name: 445377, dtype: object
datetime    2014-01-20 12:30:51
Name: 445378, dtype: object

datetime    2014-01-20 20:06:16
Name: 445782, dtype: object
datetime    2014-01-20 20:06:16
Name: 445783, dtype: object
datetime    2014-01-20 21:37:50
Name: 445784, dtype: object
292 / 496
Корни уравнения: -6192 и 3591
Секунд: 3591
datetime    2014-01-20 20:06:16
Name: 445782, dtype: object
datetime    2014-01-20 21:06:07
Name: 445783, dtype: object
datetime    2014-01-20 21:37:50
Name: 445784, dtype: object

datetime    2014-01-11 03:04:01
Name: 446713, dtype: object
datetime    2014-01-11 03:04:01
Name: 446714, dtype: object
datetime    2014-01-11 03:23:21
Name: 446715, dtype: object
293 / 496
Корни уравнения: 803 и -5459
Секунд: 803
datetime    2014-01-11 03:04:01
Name: 446713, dtype: object
datetime    2014-01-11 03:17:24
Name: 446714, dtype: object
datetime    2014-01-11 03:23:21
Name: 446715, dtype: object

datetime    2014-01-26 07:40:02
Name: 447845, dtype: object
datetime    2014-01-26 07:40:02
Name: 447846, dtype: object
datetime    2014-01-26 07:59:23
Name: 447847, dtype: object
294 / 496
Корни уравнения: -1014 и 644
Секунд: 644
datetime    2014-01-26 07:40:02
Name: 447845, dtype: object
datetime    2014-01-26 07:50:46
Name: 447846, dtype: object
datetime    2014-01-26 07:59:23
Name: 447847, dtype: object

datetime    2014-01-10 03:06:04
Name: 454260, dtype: object
datetime    2014-01-10 03:06:04
Name: 454261, dtype: object
datetime    2014-01-10 03:13:25
Name: 454262, dtype: object
295 / 496
Корни уравнения: 271 и -674
Секунд: 271
datetime    2014-01-10 03:06:04
Name: 454260, dtype: object
datetime    2014-01-10 03:10:35
Name: 454261, dtype: object
datetime    2014-01-10 03:13:25
Name: 454262, dtype: object

datetime    2014-01-25 08:16:12
Name: 457241, dtype: object
datetime    2014-01-25 08:16:12
Name: 457242, dtype: object
datetime    2014-01-25 08:23:33
Name: 457243, dtype: object
296 / 496
Корни уравнения: 281 и -853
Секунд: 281
datetime    2014-01-25 08:16:12
Name: 457241, dtype: object
datetime    2014-01-25 08:20:53
Name: 457242, dtype: object
datetime    2014-01-25 08:23:33
Name: 457243, dtype: object

datetime    2014-01-07 00:49:13
Name: 464692, dtype: object
datetime    2014-01-07 00:49:13
Name: 464693, dtype: object
datetime    2014-01-07 01:34:01
Name: 464694, dtype: object
297 / 496
Корни уравнения: -5223 и 1720
Секунд: 1720
datetime    2014-01-07 00:49:13
Name: 464692, dtype: object
datetime    2014-01-07 01:17:53
Name: 464693, dtype: object
datetime    2014-01-07 01:34:01
Name: 464694, dtype: object

datetime    2014-01-13 01:38:27
Name: 464887, dtype: object
datetime    2014-01-13 01:38:27
Name: 464888, dtype: object
datetime    2014-01-13 02:23:14
Name: 464889, dtype: object
298 / 496
Корни уравнения: -10410 и 1827
Секунд: 1827
datetime    2014-01-13 01:38:27
Name: 464887, dtype: object
datetime    2014-01-13 02:08:54
Name: 464888, dtype: object
datetime    2014-01-13 02:23:14
Name: 464889, dtype: object

datetime    2014-01-19 02:27:40
Name: 465082, dtype: object
datetime    2014-01-19 02:27:40
Name: 465083, dtype: object
datetime    2014-01-19 03:12:28
Name: 465084, dtype: object
299 / 496
Корни уравнения: 1324 и -1144
Секунд: 1324
datetime    2014-01-19 02:27:40
Name: 465082, dtype: object
datetime    2014-01-19 02:49:44
Name: 465083, dtype: object
datetime    2014-01-19 03:12:28
Name: 465084, dtype: object

datetime    2014-01-25 03:16:54
Name: 465277, dtype: object
datetime    2014-01-25 03:16:54
Name: 465278, dtype: object
datetime    2014-01-25 04:01:41
Name: 465279, dtype: object
300 / 496
Корни уравнения: 1602 и -3373
Секунд: 1602
datetime    2014-01-25 03:16:54
Name: 465277, dtype: object
datetime    2014-01-25 03:43:36
Name: 465278, dtype: object
datetime    2014-01-25 04:01:41
Name: 465279, dtype: object

datetime    2014-01-12 17:42:21
Name: 465569, dtype: object
datetime    2014-01-12 17:42:21
Name: 465570, dtype: object
datetime    2014-01-12 21:43:48
Name: 465571, dtype: object
D < 0 в строке: 465569
datetime    2014-01-12 17:42:21
Name: 465569, dtype: object
datetime    2014-01-12 17:42:21
Name: 465570, dtype: object
datetime    2014-01-12 21:43:48
Name: 465571, dtype: object

datetime    2014-01-24 11:24:42
Name: 465640, dtype: object
datetime    2014-01-24 11:24:42
Name: 465641, dtype: object
datetime    2014-01-24 15:26:09
Name: 465642, dtype: object
301 / 496
Корни уравнения: 9665 и -30840
Секунд: 9665
datetime    2014-01-24 11:24:42
Name: 465640, dtype: object
datetime    2014-01-24 14:05:47
Name: 465641, dtype: object
datetime    2014-01-24 15:26:09
Name: 465642, dtype: object

datetime    2014-01-08 01:27:45
Name: 465834, dtype: object
datetime    2014-01-08 01:27:45
Name: 465835, dtype: object
datetime    2014-01-08 02:36:27
Name: 465836, dtype: object
302 / 496
Корни уравнения: 2669 и -9337
Секунд: 2669
datetime    2014-01-08 01:27:45
Name: 465834, dtype: object
datetime    2014-01-08 02:12:14
Name: 465835, dtype: object
datetime    2014-01-08 02:36:27
Name: 465836, dtype: object

datetime    2014-01-15 02:55:31
Name: 465983, dtype: object
datetime    2014-01-15 02:55:31
Name: 465984, dtype: object
datetime    2014-01-15 04:04:13
Name: 465985, dtype: object
303 / 496
Корни уравнения: -683 и 1720
Секунд: 1720
datetime    2014-01-15 02:55:31
Name: 465983, dtype: object
datetime    2014-01-15 03:24:11
Name: 465984, dtype: object
datetime    2014-01-15 04:04:13
Name: 465985, dtype: object

datetime    2014-01-22 04:23:17
Name: 466132, dtype: object
datetime    2014-01-22 04:23:17
Name: 466133, dtype: object
datetime    2014-01-22 05:31:59
Name: 466134, dtype: object
304 / 496
Корни уравнения: -5647 и 2490
Секунд: 2490
datetime    2014-01-22 04:23:17
Name: 466132, dtype: object
datetime    2014-01-22 05:04:47
Name: 466133, dtype: object
datetime    2014-01-22 05:31:59
Name: 466134, dtype: object

datetime    2014-01-29 05:51:03
Name: 466281, dtype: object
datetime    2014-01-29 05:51:03
Name: 466282, dtype: object
datetime    2014-01-29 06:59:45
Name: 466283, dtype: object
305 / 496
Корни уравнения: -8185 и 2657
Секунд: 2657
datetime    2014-01-29 05:51:03
Name: 466281, dtype: object
datetime    2014-01-29 06:35:20
Name: 466282, dtype: object
datetime    2014-01-29 06:59:45
Name: 466283, dtype: object

datetime    2014-01-13 11:27:37
Name: 466457, dtype: object
datetime    2014-01-13 11:27:37
Name: 466458, dtype: object
datetime    2014-01-13 14:01:11
Name: 466459, dtype: object
306 / 496
Корни уравнения: -11653 и 5509
Секунд: 5509
datetime    2014-01-13 11:27:37
Name: 466457, dtype: object
datetime    2014-01-13 12:59:26
Name: 466458, dtype: object
datetime    2014-01-13 14:01:11
Name: 466459, dtype: object

datetime    2014-01-10 07:27:05
Name: 466668, dtype: object
datetime    2014-01-10 07:27:05
Name: 466669, dtype: object
datetime    2014-01-10 13:39:30
Name: 466670, dtype: object
307 / 496
Корни уравнения: 14064 и -40441
Секунд: 14064
datetime    2014-01-10 07:27:05
Name: 466668, dtype: object
datetime    2014-01-10 11:21:29
Name: 466669, dtype: object
datetime    2014-01-10 13:39:30
Name: 466670, dtype: object

datetime    2014-01-19 14:54:11
Name: 466705, dtype: object
datetime    2014-01-19 14:54:11
Name: 466706, dtype: object
datetime    2014-01-19 21:06:36
Name: 466707, dtype: object
D < 0 в строке: 466705
datetime    2014-01-19 14:54:11
Name: 466705, dtype: object
datetime    2014-01-19 14:54:11
Name: 466706, dtype: object
datetime    2014-01-19 21:06:36
Name: 466707, dtype: object

datetime    2014-01-28 17:35:20
Name: 467384, dtype: object
datetime    2014-01-28 17:35:20
Name: 467385, dtype: object
datetime    2014-01-28 18:38:43
Name: 467386, dtype: object
308 / 496
Корни уравнения: 2442 и -8315
Секунд: 2442
datetime    2014-01-28 17:35:20
Name: 467384, dtype: object
datetime    2014-01-28 18:16:02

Name: 467385, dtype: object
datetime    2014-01-28 18:38:43
Name: 467386, dtype: object

datetime    2014-01-27 08:09:21
Name: 473389, dtype: object
datetime    2014-01-27 08:09:21
Name: 473390, dtype: object
datetime    2014-01-27 08:46:12
Name: 473391, dtype: object
309 / 496
Корни уравнения: 1181 и -1529
Секунд: 1181
datetime    2014-01-27 08:09:21
Name: 473389, dtype: object
datetime    2014-01-27 08:29:02
Name: 473390, dtype: object
datetime    2014-01-27 08:46:12
Name: 473391, dtype: object

datetime    2014-01-11 02:43:28
Name: 475355, dtype: object
datetime    2014-01-11 02:43:28
Name: 475356, dtype: object
datetime    2014-01-11 03:03:18
Name: 475357, dtype: object
310 / 496
Корни уравнения: -1882 и 738
Секунд: 738
datetime    2014-01-11 02:43:28
Name: 475355, dtype: object
datetime    2014-01-11 02:55:46
Name: 475356, dtype: object
datetime    2014-01-11 03:03:18
Name: 475357, dtype: object

datetime    2014-01-26 06:48:40
Name: 476457, dtype: object
datetime    2014-01-26 06:48:40
Name: 476458, dtype: object
datetime    2014-01-26 07:08:30
Name: 476459, dtype: object
311 / 496
Корни уравнения: -1600 и 719
Секунд: 719
datetime    2014-01-26 06:48:40
Name: 476457, dtype: object
datetime    2014-01-26 07:00:39
Name: 476458, dtype: object
datetime    2014-01-26 07:08:30
Name: 476459, dtype: object

datetime    2014-01-09 14:05:59
Name: 477023, dtype: object
datetime    2014-01-09 14:05:59
Name: 477024, dtype: object
datetime    2014-01-09 15:28:26
Name: 477025, dtype: object
312 / 496
Корни уравнения: -15733 и 3295
Секунд: 3295
datetime    2014-01-09 14:05:59
Name: 477023, dtype: object
datetime    2014-01-09 15:00:54
Name: 477024, dtype: object
datetime    2014-01-09 15:28:26
Name: 477025, dtype: object

datetime    2014-01-18 04:11:59
Name: 477174, dtype: object
datetime    2014-01-18 04:11:59
Name: 477175, dtype: object
datetime    2014-01-18 05:34:26
Name: 477176, dtype: object
313 / 496
Корни уравнения: 2928 и -6064
Секунд: 2928
datetime    2014-01-18 04:11:59
Name: 477174, dtype: object
datetime    2014-01-18 05:00:47
Name: 477175, dtype: object
datetime    2014-01-18 05:34:26
Name: 477176, dtype: object

datetime    2014-01-31 01:20:59
Name: 477400, dtype: object
datetime    2014-01-31 01:20:59
Name: 477401, dtype: object
datetime    2014-01-31 02:43:25
Name: 477402, dtype: object
314 / 496
Корни уравнения: -503 и 1825
Секунд: 1825
datetime    2014-01-31 01:20:59
Name: 477400, dtype: object
datetime    2014-01-31 01:51:24
Name: 477401, dtype: object
datetime    2014-01-31 02:43:25
Name: 477402, dtype: object

datetime    2014-01-13 15:02:38
Name: 477866, dtype: object
datetime    2014-01-13 15:02:38
Name: 477867, dtype: object
datetime    2014-01-13 15:43:13
Name: 477868, dtype: object
315 / 496
Корни уравнения: -3637 и 1490
Секунд: 1490
datetime    2014-01-13 15:02:38
Name: 477866, dtype: object
datetime    2014-01-13 15:27:28
Name: 477867, dtype: object
datetime    2014-01-13 15:43:13
Name: 477868, dtype: object

datetime    2014-01-09 01:41:41
Name: 478728, dtype: object
datetime    2014-01-09 01:41:41
Name: 478729, dtype: object
datetime    2014-01-09 06:18:23
Name: 478730, dtype: object
316 / 496
Корни уравнения: -7706 и 7854
Секунд: 7854
datetime    2014-01-09 01:41:41
Name: 478728, dtype: object
datetime    2014-01-09 03:52:35
Name: 478729, dtype: object
datetime    2014-01-09 06:18:23
Name: 478730, dtype: object

datetime    2014-01-22 12:31:09
Name: 478799, dtype: object
datetime    2014-01-22 12:31:09
Name: 478800, dtype: object
datetime    2014-01-22 17:07:52
Name: 478801, dtype: object
D < 0 в строке: 478799
datetime    2014-01-22 12:31:09
Name: 478799, dtype: object
datetime    2014-01-22 12:31:09
Name: 478800, dtype: object
datetime    2014-01-22 17:07:52
Name: 478801, dtype: object

datetime    2014-01-12 01:18:24
Name: 487568, dtype: object
datetime    2014-01-12 01:18:24
Name: 487569, dtype: object
datetime    2014-01-12 01:37:02
Name: 487570, dtype: object
317 / 496
Корни уравнения: -1917 и 699
Секунд: 699
datetime    2014-01-12 01:18:24
Name: 487568, dtype: object
datetime    2014-01-12 01:30:03
Name: 487569, dtype: object
datetime    2014-01-12 01:37:02
Name: 487570, dtype: object

datetime    2014-01-28 15:16:00
Name: 488850, dtype: object
datetime    2014-01-28 15:16:00
Name: 488851, dtype: object
datetime    2014-01-28 15:34:38
Name: 488852, dtype: object
318 / 496
Корни уравнения: 716 и -2013
Секунд: 716
datetime    2014-01-28 15:16:00
Name: 488850, dtype: object
datetime    2014-01-28 15:27:56
Name: 488851, dtype: object
datetime    2014-01-28 15:34:38
Name: 488852, dtype: object

datetime    2014-01-08 02:25:25
Name: 495098, dtype: object
datetime    2014-01-08 02:25:25
Name: 495099, dtype: object
datetime    2014-01-08 03:03:34
Name: 495100, dtype: object
319 / 496
Корни уравнения: -5000 и 1478
Секунд: 1478
datetime    2014-01-08 02:25:25
Name: 495098, dtype: object
datetime    2014-01-08 02:50:03
Name: 495099, dtype: object
datetime    2014-01-08 03:03:34
Name: 495100, dtype: object

datetime    2014-01-22 07:16:15
Name: 495635, dtype: object
datetime    2014-01-22 07:16:15
Name: 495636, dtype: object
datetime    2014-01-22 07:54:24
Name: 495637, dtype: object
320 / 496
Корни уравнения: 1374 и -3007
Секунд: 1374
datetime    2014-01-22 07:16:15
Name: 495635, dtype: object
datetime    2014-01-22 07:39:09
Name: 495636, dtype: object
datetime    2014-01-22 07:54:24
Name: 495637, dtype: object

datetime    2014-01-22 11:49:57
Name: 500553, dtype: object
datetime    2014-01-22 11:49:57
Name: 500554, dtype: object
datetime    2014-01-22 11:58:09
Name: 500555, dtype: object
D < 0 в строке: 500553
datetime    2014-01-22 11:49:57
Name: 500553, dtype: object
datetime    2014-01-22 11:49:57
Name: 500554, dtype: object
datetime    2014-01-22 11:58:09
Name: 500555, dtype: object

datetime    2014-01-10 16:40:59
Name: 502907, dtype: object
datetime    2014-01-10 16:40:59
Name: 502908, dtype: object
datetime    2014-01-10 21:31:50
Name: 502909, dtype: object
321 / 496
Корни уравнения: 12296 и -92442
Секунд: 12296
datetime    2014-01-10 16:40:59
Name: 502907, dtype: object
datetime    2014-01-10 20:05:55
Name: 502908, dtype: object
datetime    2014-01-10 21:31:50
Name: 502909, dtype: object

datetime    2014-01-20 09:21:58
Name: 502956, dtype: object
datetime    2014-01-20 09:21:58
Name: 502957, dtype: object
datetime    2014-01-20 14:12:49
Name: 502958, dtype: object
322 / 496
Корни уравнения: 11982 и -331296
Секунд: 11982
datetime    2014-01-20 09:21:58
Name: 502956, dtype: object
datetime    2014-01-20 12:41:40
Name: 502957, dtype: object
datetime    2014-01-20 14:12:49
Name: 502958, dtype: object

datetime    2014-01-30 02:02:57
Name: 503005, dtype: object
datetime    2014-01-30 02:02:57
Name: 503006, dtype: object
datetime    2014-01-30 06:53:49
Name: 503007, dtype: object
323 / 496
Корни уравнения: 12454 и 1048348
Секунд: 12454
datetime    2014-01-30 02:02:57
Name: 503005, dtype: object
datetime    2014-01-30 05:30:31
Name: 503006, dtype: object
datetime    2014-01-30 06:53:49
Name: 503007, dtype: object

datetime    2014-01-11 17:00:03
Name: 504129, dtype: object
datetime    2014-01-11 17:00:03
Name: 504130, dtype: object
datetime    2014-01-11 17:13:55
Name: 504131, dtype: object
324 / 496
Корни уравнения: 542 и -1974
Секунд: 542
datetime    2014-01-11 17:00:03
Name: 504129, dtype: object
datetime    2014-01-11 17:09:05
Name: 504130, dtype: object
datetime    2014-01-11 17:13:55
Name: 504131, dtype: object

datetime    2014-01-29 13:20:10
Name: 505985, dtype: object
datetime    2014-01-29 13:20:10
Name: 505986, dtype: object
datetime    2014-01-29 13:34:01
Name: 505987, dtype: object
325 / 496
Корни уравнения: -1055 и 496
Секунд: 496
datetime    2014-01-29 13:20:10
Name: 505985, dtype: object
datetime    2014-01-29 13:28:26
Name: 505986, dtype: object
datetime    2014-01-29 13:34:01
Name: 505987, dtype: object

datetime    2014-01-04 08:57:32
Name: 509240, dtype: object
datetime    2014-01-04 08:57:32
Name: 509241, dtype: object
datetime    2014-01-04 09:11:42
Name: 509242, dtype: object
326 / 496
Корни уравнения: 541 и -1645
Секунд: 541
datetime    2014-01-04 08:57:32
Name: 509240, dtype: object
datetime    2014-01-04 09:06:33
Name: 509241, dtype: object
datetime    2014-01-04 09:11:42
Name: 509242, dtype: object

datetime    2014-01-11 02:52:37
Name: 509927, dtype: object
datetime    2014-01-11 02:52:37
Name: 509928, dtype: object
datetime    2014-01-11 03:06:47
Name: 509929, dtype: object
327 / 496
Корни уравнения: -4533 и 602
Секунд: 602
datetime    2014-01-11 02:52:37
Name: 509927, dtype: object
datetime    2014-01-11 03:02:39
Name: 509928, dtype: object
datetime    2014-01-11 03:06:47
Name: 509929, dtype: object

datetime    2014-01-17 20:47:42
Name: 510614, dtype: object
datetime    2014-01-17 20:47:42
Name: 510615, dtype: object
datetime    2014-01-17 21:01:52
Name: 510616, dtype: object
328 / 496
Корни уравнения: -699 и 470
Секунд: 470
datetime    2014-01-17 20:47:42
Name: 510614, dtype: object
datetime    2014-01-17 20:55:32
Name: 510615, dtype: object
datetime    2014-01-17 21:01:52
Name: 510616, dtype: object

datetime    2014-01-24 14:42:47
Name: 511301, dtype: object
datetime    2014-01-24 14:42:47
Name: 511302, dtype: object
datetime    2014-01-24 14:56:57
Name: 511303, dtype: object
329 / 496
Корни уравнения: 525 и -1303
Секунд: 525
datetime    2014-01-24 14:42:47
Name: 511301, dtype: object
datetime    2014-01-24 14:51:32
Name: 511302, dtype: object
datetime    2014-01-24 14:56:57
Name: 511303, dtype: object

datetime    2014-01-27 23:40:20
Name: 511645, dtype: object
datetime    2014-01-27 23:40:20
Name: 511646, dtype: object
datetime    2014-01-27 23:54:30
Name: 511647, dtype: object
330 / 496
Корни уравнения: -409 и 423
Секунд: 423
datetime    2014-01-27 23:40:20
Name: 511645, dtype: object
datetime    2014-01-27 23:47:23
Name: 511646, dtype: object
datetime    2014-01-27 23:54:30
Name: 511647, dtype: object

datetime    2014-01-09 13:02:22
Name: 512205, dtype: object
datetime    2014-01-09 13:02:22
Name: 512206, dtype: object
datetime    2014-01-09 14:24:23
Name: 512207, dtype: object
331 / 496
Корни уравнения: 3340 и -18413
Секунд: 3340
datetime    2014-01-09 13:02:22
Name: 512205, dtype: object
datetime    2014-01-09 13:58:02
Name: 512206, dtype: object
datetime    2014-01-09 14:24:23
Name: 512207, dtype: object

datetime    2014-01-26 15:07:08
Name: 512506, dtype: object
datetime    2014-01-26 15:07:08
Name: 512507, dtype: object
datetime    2014-01-26 16:29:09
Name: 512508, dtype: object
332 / 496
Корни уравнения: -10769 и 3216
Секунд: 3216
datetime    2014-01-26 15:07:08
Name: 512506, dtype: object
datetime    2014-01-26 16:00:44
Name: 512507, dtype: object
datetime    2014-01-26 16:29:09
Name: 512508, dtype: object

datetime    2014-01-12 00:53:44

Name: 513174, dtype: object
datetime    2014-01-12 00:53:44
Name: 513175, dtype: object
datetime    2014-01-12 01:21:31
Name: 513176, dtype: object
333 / 496
Корни уравнения: 3301 и 1804
Секунд: 1804
datetime    2014-01-12 00:53:44
Name: 513174, dtype: object
datetime    2014-01-12 01:23:48
Name: 513175, dtype: object
datetime    2014-01-12 01:21:31
Name: 513176, dtype: object

datetime    2014-01-28 14:14:20
Name: 514033, dtype: object
datetime    2014-01-28 14:14:20
Name: 514034, dtype: object
datetime    2014-01-28 14:42:07
Name: 514035, dtype: object
334 / 496
Корни уравнения: -2620 и 1030
Секунд: 1030
datetime    2014-01-28 14:14:20
Name: 514033, dtype: object
datetime    2014-01-28 14:31:30
Name: 514034, dtype: object
datetime    2014-01-28 14:42:07
Name: 514035, dtype: object

datetime    2014-01-15 21:11:20
Name: 516509, dtype: object
datetime    2014-01-15 21:11:20
Name: 516510, dtype: object
datetime    2014-01-15 22:49:11
Name: 516511, dtype: object
335 / 496
Корни уравнения: -8017 и 3585
Секунд: 3585
datetime    2014-01-15 21:11:20
Name: 516509, dtype: object
datetime    2014-01-15 22:11:05
Name: 516510, dtype: object
datetime    2014-01-15 22:49:11
Name: 516511, dtype: object

datetime    2014-01-07 10:27:22
Name: 516804, dtype: object
datetime    2014-01-07 10:27:22
Name: 516805, dtype: object
datetime    2014-01-07 13:12:52
Name: 516806, dtype: object
336 / 496
Корни уравнения: -17023 и 6191
Секунд: 6191
datetime    2014-01-07 10:27:22
Name: 516804, dtype: object
datetime    2014-01-07 12:10:33
Name: 516805, dtype: object
datetime    2014-01-07 13:12:52
Name: 516806, dtype: object

datetime    2014-01-17 02:08:27
Name: 516889, dtype: object
datetime    2014-01-17 02:08:27
Name: 516890, dtype: object
datetime    2014-01-17 04:53:56
Name: 516891, dtype: object
337 / 496
Корни уравнения: 5718 и -10782
Секунд: 5718
datetime    2014-01-17 02:08:27
Name: 516889, dtype: object
datetime    2014-01-17 03:43:45
Name: 516890, dtype: object
datetime    2014-01-17 04:53:56
Name: 516891, dtype: object

datetime    2014-01-26 17:49:31
Name: 516974, dtype: object
datetime    2014-01-26 17:49:31
Name: 516975, dtype: object
datetime    2014-01-26 20:35:01
Name: 516976, dtype: object
338 / 496
Корни уравнения: -18226 и 6255
Секунд: 6255
datetime    2014-01-26 17:49:31
Name: 516974, dtype: object
datetime    2014-01-26 19:33:46
Name: 516975, dtype: object
datetime    2014-01-26 20:35:01
Name: 516976, dtype: object

datetime    2014-01-16 02:06:53
Name: 517507, dtype: object
datetime    2014-01-16 02:06:53
Name: 517508, dtype: object
datetime    2014-01-16 02:51:36
Name: 517509, dtype: object
339 / 496
Корни уравнения: -10872 и 1821
Секунд: 1821
datetime    2014-01-16 02:06:53
Name: 517507, dtype: object
datetime    2014-01-16 02:37:14
Name: 517508, dtype: object
datetime    2014-01-16 02:51:36
Name: 517509, dtype: object

datetime    2014-01-22 19:12:12
Name: 518329, dtype: object
datetime    2014-01-22 19:12:12
Name: 518330, dtype: object
datetime    2014-01-22 20:54:08
Name: 518331, dtype: object
340 / 496
Корни уравнения: 3493 и -6592
Секунд: 3493
datetime    2014-01-22 19:12:12
Name: 518329, dtype: object
datetime    2014-01-22 20:10:25
Name: 518330, dtype: object
datetime    2014-01-22 20:54:08
Name: 518331, dtype: object

datetime    2014-01-11 01:54:11
Name: 519545, dtype: object
datetime    2014-01-11 01:54:11
Name: 519546, dtype: object
datetime    2014-01-11 02:15:36
Name: 519547, dtype: object
341 / 496
Корни уравнения: -33098 и 943
Секунд: 943
datetime    2014-01-11 01:54:11
Name: 519545, dtype: object
datetime    2014-01-11 02:09:54
Name: 519546, dtype: object
datetime    2014-01-11 02:15:36
Name: 519547, dtype: object

datetime    2014-01-24 12:26:26
Name: 520450, dtype: object
datetime    2014-01-24 12:26:26
Name: 520451, dtype: object
datetime    2014-01-24 12:47:51
Name: 520452, dtype: object
342 / 496
Корни уравнения: -1459 и 760
Секунд: 760
datetime    2014-01-24 12:26:26
Name: 520450, dtype: object
datetime    2014-01-24 12:39:06
Name: 520451, dtype: object
datetime    2014-01-24 12:47:51
Name: 520452, dtype: object

datetime    2014-01-08 00:46:14
Name: 520979, dtype: object
datetime    2014-01-08 00:46:14
Name: 520980, dtype: object
datetime    2014-01-08 07:48:10
Name: 520981, dtype: object
343 / 496
Корни уравнения: 17896 и -35930
Секунд: 17896
datetime    2014-01-08 00:46:14
Name: 520979, dtype: object
datetime    2014-01-08 05:44:30
Name: 520980, dtype: object
datetime    2014-01-08 07:48:10
Name: 520981, dtype: object

datetime    2014-01-15 01:32:29
Name: 521004, dtype: object
datetime    2014-01-15 01:32:29
Name: 521005, dtype: object
datetime    2014-01-15 08:34:25
Name: 521006, dtype: object
344 / 496
Корни уравнения: 16880 и -125752
Секунд: 16880
datetime    2014-01-15 01:32:29
Name: 521004, dtype: object
datetime    2014-01-15 06:13:49
Name: 521005, dtype: object
datetime    2014-01-15 08:34:25
Name: 521006, dtype: object

datetime    2014-01-22 02:18:44
Name: 521029, dtype: object
datetime    2014-01-22 02:18:44
Name: 521030, dtype: object
datetime    2014-01-22 09:20:40
Name: 521031, dtype: object
345 / 496
Корни уравнения: 16799 и -103085
Секунд: 16799
datetime    2014-01-22 02:18:44
Name: 521029, dtype: object
datetime    2014-01-22 06:58:43
Name: 521030, dtype: object
datetime    2014-01-22 09:20:40
Name: 521031, dtype: object

datetime    2014-01-29 03:04:59
Name: 521054, dtype: object
datetime    2014-01-29 03:04:59
Name: 521055, dtype: object
datetime    2014-01-29 10:06:55
Name: 521056, dtype: object
346 / 496
Корни уравнения: 16904 и -98832
Секунд: 16904
datetime    2014-01-29 03:04:59
Name: 521054, dtype: object
datetime    2014-01-29 07:46:43
Name: 521055, dtype: object
datetime    2014-01-29 10:06:55
Name: 521056, dtype: object

datetime    2014-01-06 23:52:55
Name: 527042, dtype: object
datetime    2014-01-06 23:52:55
Name: 527043, dtype: object
datetime    2014-01-07 00:55:29
Name: 527044, dtype: object
347 / 496
Корни уравнения: 2099 и -3572
Секунд: 2099
datetime    2014-01-06 23:52:55
Name: 527042, dtype: object
datetime    2014-01-07 00:27:54
Name: 527043, dtype: object
datetime    2014-01-07 00:55:29
Name: 527044, dtype: object

datetime    2014-01-12 23:45:51
Name: 527181, dtype: object
datetime    2014-01-12 23:45:51
Name: 527182, dtype: object
datetime    2014-01-13 00:48:25
Name: 527183, dtype: object
348 / 496
Корни уравнения: -10769 и 2501
Секунд: 2501
datetime    2014-01-12 23:45:51
Name: 527181, dtype: object
datetime    2014-01-13 00:27:32
Name: 527182, dtype: object
datetime    2014-01-13 00:48:25
Name: 527183, dtype: object

datetime    2014-01-18 23:38:47
Name: 527320, dtype: object
datetime    2014-01-18 23:38:47
Name: 527321, dtype: object
datetime    2014-01-19 00:41:21
Name: 527322, dtype: object
349 / 496
Корни уравнения: -6957 и 2366
Секунд: 2366
datetime    2014-01-18 23:38:47
Name: 527320, dtype: object
datetime    2014-01-19 00:18:13
Name: 527321, dtype: object
datetime    2014-01-19 00:41:21
Name: 527322, dtype: object

datetime    2014-01-24 23:31:43
Name: 527459, dtype: object
datetime    2014-01-24 23:31:43
Name: 527460, dtype: object
datetime    2014-01-25 00:34:17
Name: 527461, dtype: object
350 / 496
Корни уравнения: -5912 и 2328
Секунд: 2328
datetime    2014-01-24 23:31:43
Name: 527459, dtype: object
datetime    2014-01-25 00:10:31
Name: 527460, dtype: object
datetime    2014-01-25 00:34:17
Name: 527461, dtype: object

datetime    2014-01-30 23:24:39
Name: 527598, dtype: object
datetime    2014-01-30 23:24:39
Name: 527599, dtype: object
datetime    2014-01-31 00:27:13
Name: 527600, dtype: object
351 / 496
Корни уравнения: 2179 и -4067
Секунд: 2179
datetime    2014-01-30 23:24:39
Name: 527598, dtype: object
datetime    2014-01-31 00:00:58
Name: 527599, dtype: object
datetime    2014-01-31 00:27:13
Name: 527600, dtype: object

datetime    2014-01-15 00:28:33
Name: 528862, dtype: object
datetime    2014-01-15 00:28:33
Name: 528863, dtype: object
datetime    2014-01-15 00:44:51
Name: 528864, dtype: object
352 / 496
Корни уравнения: -1445 и 599
Секунд: 599
datetime    2014-01-15 00:28:33
Name: 528862, dtype: object
datetime    2014-01-15 00:38:32
Name: 528863, dtype: object
datetime    2014-01-15 00:44:51
Name: 528864, dtype: object

datetime    2014-01-17 00:05:15
Name: 532335, dtype: object
datetime    2014-01-17 00:05:15
Name: 532336, dtype: object
datetime    2014-01-17 02:59:50
Name: 532337, dtype: object
353 / 496
Корни уравнения: -9723 и 5908
Секунд: 5908
datetime    2014-01-17 00:05:15
Name: 532335, dtype: object
datetime    2014-01-17 01:43:43
Name: 532336, dtype: object
datetime    2014-01-17 02:59:50
Name: 532337, dtype: object

datetime    2014-01-07 17:23:15
Name: 532788, dtype: object
datetime    2014-01-07 17:23:15
Name: 532789, dtype: object
datetime    2014-01-07 17:52:46
Name: 532790, dtype: object
354 / 496
Корни уравнения: 1058 и -2232
Секунд: 1058
datetime    2014-01-07 17:23:15
Name: 532788, dtype: object
datetime    2014-01-07 17:40:53
Name: 532789, dtype: object
datetime    2014-01-07 17:52:46
Name: 532790, dtype: object

datetime    2014-01-14 10:46:30
Name: 533117, dtype: object
datetime    2014-01-14 10:46:30
Name: 533118, dtype: object
datetime    2014-01-14 11:16:01
Name: 533119, dtype: object
355 / 496
Корни уравнения: -4316 и 1160
Секунд: 1160
datetime    2014-01-14 10:46:30
Name: 533117, dtype: object
datetime    2014-01-14 11:05:50
Name: 533118, dtype: object
datetime    2014-01-14 11:16:01
Name: 533119, dtype: object

datetime    2014-01-21 04:09:45
Name: 533446, dtype: object
datetime    2014-01-21 04:09:45
Name: 533447, dtype: object
datetime    2014-01-21 04:39:16
Name: 533448, dtype: object
356 / 496
Корни уравнения: -1805 и 1027
Секунд: 1027
datetime    2014-01-21 04:09:45
Name: 533446, dtype: object
datetime    2014-01-21 04:26:52
Name: 533447, dtype: object
datetime    2014-01-21 04:39:16
Name: 533448, dtype: object

datetime    2014-01-27 21:33:00
Name: 533775, dtype: object
datetime    2014-01-27 21:33:00
Name: 533776, dtype: object
datetime    2014-01-27 22:02:31
Name: 533777, dtype: object
357 / 496
Корни уравнения: 1107 и -2918
Секунд: 1107
datetime    2014-01-27 21:33:00
Name: 533775, dtype: object
datetime    2014-01-27 21:51:27
Name: 533776, dtype: object
datetime    2014-01-27 22:02:31
Name: 533777, dtype: object

datetime    2014-01-19 04:52:10
Name: 535009, dtype: object
datetime    2014-01-19 04:52:10
Name: 535010, dtype: object
datetime    2014-01-19 05:17:34
Name: 535011, dtype: object
358 / 496
Корни уравнения: 925 и -2041
Секунд: 925
datetime    2014-01-19 04:52:10
Name: 535009, dtype: object
datetime    2014-01-19 05:07:35
Name: 535010, dtype: object
datetime    2014-01-19 05:17:34
Name: 535011, dtype: object

datetime    2014-01-06 17:41:20
Name: 537399, dtype: object
datetime    2014-01-06 17:41:20
Name: 537400, dtype: object
datetime    2014-01-06 20:49:05
Name: 537401, dtype: object
359 / 496
Корни уравнения: -16994 и 6918
Секунд: 6918
datetime    2014-01-06 17:41:20
Name: 537399, dtype: object
datetime    2014-01-06 19:36:38
Name: 537400, dtype: object
datetime    2014-01-06 20:49:05
Name: 537401, dtype: object

datetime    2014-01-15 08:13:20
Name: 537466, dtype: object
datetime    2014-01-15 08:13:20
Name: 537467, dtype: object
datetime    2014-01-15 11:21:05
Name: 537468, dtype: object
360 / 496
Корни уравнения: -15489 и 6792
Секунд: 6792
datetime    2014-01-15 08:13:20
Name: 537466, dtype: object
datetime    2014-01-15 10:06:32
Name: 537467, dtype: object
datetime    2014-01-15 11:21:05
Name: 537468, dtype: object

datetime    2014-01-23 22:45:20
Name: 537533, dtype: object
datetime    2014-01-23 22:45:20
Name: 537534, dtype: object
datetime    2014-01-24 01:53:05
Name: 537535, dtype: object
361 / 496
Корни уравнения: -10661 и 6393
Секунд: 6393
datetime    2014-01-23 22:45:20
Name: 537533, dtype: object
datetime    2014-01-24 00:31:53
Name: 537534, dtype: object
datetime    2014-01-24 01:53:05
Name: 537535, dtype: object

datetime    2014-01-13 03:02:22
Name: 539065, dtype: object
datetime    2014-01-13 03:02:22
Name: 539066, dtype: object
datetime    2014-01-13 03:27:21
Name: 539067, dtype: object
362 / 496
Корни уравнения: -3779 и 973
Секунд: 973
datetime    2014-01-13 03:02:22
Name: 539065, dtype: object
datetime    2014-01-13 03:18:35
Name: 539066, dtype: object
datetime    2014-01-13 03:27:21
Name: 539067, dtype: object

datetime    2014-01-19 05:28:55
Name: 541546, dtype: object
datetime    2014-01-19 05:28:55
Name: 541547, dtype: object
datetime    2014-01-19 05:47:47
Name: 541548, dtype: object
363 / 496
Корни уравнения: -2630 и 740
Секунд: 740
datetime    2014-01-19 05:28:55
Name: 541546, dtype: object
datetime    2014-01-19 05:41:15
Name: 541547, dtype: object
datetime    2014-01-19 05:47:47
Name: 541548, dtype: object

datetime    2014-01-11 00:26:37
Name: 542703, dtype: object
datetime    2014-01-11 00:26:37
Name: 542704, dtype: object
datetime    2014-01-11 01:46:46
Name: 542705, dtype: object
364 / 496
Корни уравнения: -9354 и 3063
Секунд: 3063
datetime    2014-01-11 00:26:37
Name: 542703, dtype: object
datetime    2014-01-11 01:17:40
Name: 542704, dtype: object
datetime    2014-01-11 01:46:46
Name: 542705, dtype: object

datetime    2014-01-21 00:53:14
Name: 542884, dtype: object
datetime    2014-01-21 00:53:14
Name: 542885, dtype: object
datetime    2014-01-21 02:13:23
Name: 542886, dtype: object
365 / 496
Корни уравнения: 3369 и -24359
Секунд: 3369
datetime    2014-01-21 00:53:14
Name: 542884, dtype: object
datetime    2014-01-21 01:49:23
Name: 542885, dtype: object
datetime    2014-01-21 02:13:23
Name: 542886, dtype: object

datetime    2014-01-10 06:06:56
Name: 543356, dtype: object
datetime    2014-01-10 06:06:56
Name: 543357, dtype: object
datetime    2014-01-10 06:55:34
Name: 543358, dtype: object
366 / 496
Корни уравнения: -5882 и 1865
Секунд: 1865
datetime    2014-01-10 06:06:56
Name: 543356, dtype: object
datetime    2014-01-10 06:38:01
Name: 543357, dtype: object
datetime    2014-01-10 06:55:34
Name: 543358, dtype: object

datetime    2014-01-24 03:17:21
Name: 543768, dtype: object
datetime    2014-01-24 03:17:21
Name: 543769, dtype: object
datetime    2014-01-24 04:05:59
Name: 543770, dtype: object
D < 0 в строке: 543768
datetime    2014-01-24 03:17:21
Name: 543768, dtype: object
datetime    2014-01-24 03:17:21
Name: 543769, dtype: object
datetime    2014-01-24 04:05:59
Name: 543770, dtype: object

datetime    2014-01-06 14:03:10
Name: 544044, dtype: object
datetime    2014-01-06 14:03:10
Name: 544045, dtype: object
datetime    2014-01-06 17:14:40
Name: 544046, dtype: object
367 / 496
Корни уравнения: 6618 и -12557
Секунд: 6618
datetime    2014-01-06 14:03:10
Name: 544044, dtype: object
datetime    2014-01-06 15:53:28
Name: 544045, dtype: object
datetime    2014-01-06 17:14:40
Name: 544046, dtype: object

datetime    2014-01-12 04:06:21
Name: 544087, dtype: object
datetime    2014-01-12 04:06:21
Name: 544088, dtype: object
datetime    2014-01-12 07:17:51
Name: 544089, dtype: object
368 / 496
Корни уравнения: -262657 и 8536
Секунд: 8536
datetime    2014-01-12 04:06:21
Name: 544087, dtype: object
datetime    2014-01-12 06:28:37
Name: 544088, dtype: object
datetime    2014-01-12 07:17:51
Name: 544089, dtype: object

datetime    2014-01-17 18:09:32
Name: 544130, dtype: object
datetime    2014-01-17 18:09:32
Name: 544131, dtype: object
datetime    2014-01-17 21:21:02
Name: 544132, dtype: object
369 / 496
Корни уравнения: -22743 и 7304
Секунд: 7304
datetime    2014-01-17 18:09:32
Name: 544130, dtype: object
datetime    2014-01-17 20:11:16
Name: 544131, dtype: object
datetime    2014-01-17 21:21:02
Name: 544132, dtype: object

datetime    2014-01-23 08:12:42
Name: 544173, dtype: object
datetime    2014-01-23 08:12:42
Name: 544174, dtype: object
datetime    2014-01-23 11:24:13
Name: 544175, dtype: object
370 / 496
Корни уравнения: -19593 и 7190
Секунд: 7190
datetime    2014-01-23 08:12:42
Name: 544173, dtype: object
datetime    2014-01-23 10:12:32
Name: 544174, dtype: object
datetime    2014-01-23 11:24:13
Name: 544175, dtype: object

datetime    2014-01-28 22:15:53
Name: 544216, dtype: object
datetime    2014-01-28 22:15:53
Name: 544217, dtype: object
datetime    2014-01-29 01:27:23
Name: 544218, dtype: object
371 / 496
Корни уравнения: 6979 и -14491
Секунд: 6979
datetime    2014-01-28 22:15:53
Name: 544216, dtype: object
datetime    2014-01-29 00:12:12
Name: 544217, dtype: object
datetime    2014-01-29 01:27:23
Name: 544218, dtype: object

datetime    2014-01-16 02:16:11
Name: 544637, dtype: object
datetime    2014-01-16 02:16:11
Name: 544638, dtype: object
datetime    2014-01-16 03:11:04
Name: 544639, dtype: object
372 / 496
Корни уравнения: -5420 и 2051
Секунд: 2051
datetime    2014-01-16 02:16:11
Name: 544637, dtype: object
datetime    2014-01-16 02:50:22
Name: 544638, dtype: object
datetime    2014-01-16 03:11:04
Name: 544639, dtype: object

datetime    2014-01-07 03:24:02
Name: 545844, dtype: object
datetime    2014-01-07 03:24:02
Name: 545845, dtype: object
datetime    2014-01-07 06:01:58
Name: 545846, dtype: object
373 / 496
Корни уравнения: -13641 и 5777
Секунд: 5777
datetime    2014-01-07 03:24:02
Name: 545844, dtype: object
datetime    2014-01-07 05:00:19
Name: 545845, dtype: object
datetime    2014-01-07 06:01:58
Name: 545846, dtype: object

datetime    2014-01-16 08:30:06
Name: 545929, dtype: object
datetime    2014-01-16 08:30:06
Name: 545930, dtype: object
datetime    2014-01-16 11:08:02
Name: 545931, dtype: object
374 / 496
Корни уравнения: 5169 и -8047
Секунд: 5169
datetime    2014-01-16 08:30:06
Name: 545929, dtype: object
datetime    2014-01-16 09:56:15
Name: 545930, dtype: object
datetime    2014-01-16 11:08:02
Name: 545931, dtype: object

datetime    2014-01-25 13:36:11
Name: 546014, dtype: object
datetime    2014-01-25 13:36:11
Name: 546015, dtype: object
datetime    2014-01-25 16:14:06
Name: 546016, dtype: object
375 / 496
Корни уравнения: -14780 и 5840
Секунд: 5840
datetime    2014-01-25 13:36:11
Name: 546014, dtype: object
datetime    2014-01-25 15:13:31
Name: 546015, dtype: object
datetime    2014-01-25 16:14:06
Name: 546016, dtype: object

datetime    2014-01-15 00:46:31
Name: 547508, dtype: object
datetime    2014-01-15 00:46:31
Name: 547509, dtype: object
datetime    2014-01-15 01:00:37
Name: 547510, dtype: object
376 / 496
Корни уравнения: -1279 и 519
Секунд: 519
datetime    2014-01-15 00:46:31
Name: 547508, dtype: object
datetime    2014-01-15 00:55:10
Name: 547509, dtype: object
datetime    2014-01-15 01:00:37
Name: 547510, dtype: object

datetime    2014-01-14 00:14:41
Name: 551015, dtype: object
datetime    2014-01-14 00:14:41
Name: 551016, dtype: object
datetime    2014-01-14 00:37:43
Name: 551017, dtype: object
377 / 496
Корни уравнения: -2021 и 852
Секунд: 852
datetime    2014-01-14 00:14:41
Name: 551015, dtype: object
datetime    2014-01-14 00:28:53
Name: 551016, dtype: object
datetime    2014-01-14 00:37:43
Name: 551017, dtype: object

datetime    2014-01-31 08:34:16
Name: 552100, dtype: object
datetime    2014-01-31 08:34:16
Name: 552101, dtype: object
datetime    2014-01-31 08:57:19
Name: 552102, dtype: object
378 / 496
Корни уравнения: 882 и -2768
Секунд: 882
datetime    2014-01-31 08:34:16
Name: 552100, dtype: object
datetime    2014-01-31 08:48:58
Name: 552101, dtype: object
datetime    2014-01-31 08:57:19
Name: 552102, dtype: object

datetime    2014-01-24 03:37:32
Name: 552485, dtype: object
datetime    2014-01-24 03:37:32
Name: 552486, dtype: object
datetime    2014-01-24 05:14:44
Name: 552487, dtype: object
379 / 496
Корни уравнения: -8128 и 3547
Секунд: 3547
datetime    2014-01-24 03:37:32
Name: 552485, dtype: object
datetime    2014-01-24 04:36:39
Name: 552486, dtype: object
datetime    2014-01-24 05:14:44
Name: 552487, dtype: object

datetime    2014-01-12 00:21:23
Name: 556365, dtype: object
datetime    2014-01-12 00:21:23
Name: 556366, dtype: object
datetime    2014-01-12 01:08:36
Name: 556367, dtype: object
380 / 496
Корни уравнения: 1917 и -3598
Секунд: 1917
datetime    2014-01-12 00:21:23
Name: 556365, dtype: object
datetime    2014-01-12 00:53:20
Name: 556366, dtype: object
datetime    2014-01-12 01:08:36
Name: 556367, dtype: object

datetime    2014-01-28 12:53:29
Name: 556870, dtype: object
datetime    2014-01-28 12:53:29
Name: 556871, dtype: object
datetime    2014-01-28 13:40:42
Name: 556872, dtype: object
381 / 496
Корни уравнения: 1852 и -8078
Секунд: 1852
datetime    2014-01-28 12:53:29
Name: 556870, dtype: object
datetime    2014-01-28 13:24:21
Name: 556871, dtype: object
datetime    2014-01-28 13:40:42

Name: 556872, dtype: object

datetime    2014-01-10 03:06:37
Name: 558136, dtype: object
datetime    2014-01-10 03:06:37
Name: 558137, dtype: object
datetime    2014-01-10 04:46:13
Name: 558138, dtype: object
382 / 496
Корни уравнения: 3811 и -11889
Секунд: 3811
datetime    2014-01-10 03:06:37
Name: 558136, dtype: object
datetime    2014-01-10 04:10:08
Name: 558137, dtype: object
datetime    2014-01-10 04:46:13
Name: 558138, dtype: object

datetime    2014-01-19 06:13:15
Name: 558269, dtype: object
datetime    2014-01-19 06:13:15
Name: 558270, dtype: object
datetime    2014-01-19 07:52:51
Name: 558271, dtype: object
D < 0 в строке: 558269
datetime    2014-01-19 06:13:15
Name: 558269, dtype: object
datetime    2014-01-19 06:13:15
Name: 558270, dtype: object
datetime    2014-01-19 07:52:51
Name: 558271, dtype: object

datetime    2014-01-09 11:17:40
Name: 563326, dtype: object
datetime    2014-01-09 11:17:40
Name: 563327, dtype: object
datetime    2014-01-09 17:38:51
Name: 563328, dtype: object
383 / 496
Корни уравнения: 13005 и -21381
Секунд: 13005
datetime    2014-01-09 11:17:40
Name: 563326, dtype: object
datetime    2014-01-09 14:54:25
Name: 563327, dtype: object
datetime    2014-01-09 17:38:51
Name: 563328, dtype: object

datetime    2014-01-17 22:35:20
Name: 563359, dtype: object
datetime    2014-01-17 22:35:20
Name: 563360, dtype: object
datetime    2014-01-18 04:56:31
Name: 563361, dtype: object
384 / 496
Корни уравнения: 14041 и -35147
Секунд: 14041
datetime    2014-01-17 22:35:20
Name: 563359, dtype: object
datetime    2014-01-18 02:29:21
Name: 563360, dtype: object
datetime    2014-01-18 04:56:31
Name: 563361, dtype: object

datetime    2014-01-26 09:53:01
Name: 563392, dtype: object
datetime    2014-01-26 09:53:01
Name: 563393, dtype: object
datetime    2014-01-26 16:14:11
Name: 563394, dtype: object
385 / 496
Корни уравнения: -82496 и 15174
Секунд: 15174
datetime    2014-01-26 09:53:01
Name: 563392, dtype: object
datetime    2014-01-26 14:05:55
Name: 563393, dtype: object
datetime    2014-01-26 16:14:11
Name: 563394, dtype: object

datetime    2014-01-07 08:53:04
Name: 567367, dtype: object
datetime    2014-01-07 08:53:04
Name: 567368, dtype: object
datetime    2014-01-07 09:17:52
Name: 567369, dtype: object
D < 0 в строке: 567367
datetime    2014-01-07 08:53:04
Name: 567367, dtype: object
datetime    2014-01-07 08:53:04
Name: 567368, dtype: object
datetime    2014-01-07 09:17:52
Name: 567369, dtype: object

datetime    2014-01-13 17:46:09
Name: 567738, dtype: object
datetime    2014-01-13 17:46:09
Name: 567739, dtype: object
datetime    2014-01-13 18:10:57
Name: 567740, dtype: object
386 / 496
Корни уравнения: -3367 и 991
Секунд: 991
datetime    2014-01-13 17:46:09
Name: 567738, dtype: object
datetime    2014-01-13 18:02:40
Name: 567739, dtype: object
datetime    2014-01-13 18:10:57
Name: 567740, dtype: object

datetime    2014-01-23 07:05:47
Name: 568294, dtype: object
datetime    2014-01-23 07:05:47
Name: 568295, dtype: object
datetime    2014-01-23 07:30:34
Name: 568296, dtype: object
387 / 496
Корни уравнения: 912 и -1889
Секунд: 912
datetime    2014-01-23 07:05:47
Name: 568294, dtype: object
datetime    2014-01-23 07:20:59
Name: 568295, dtype: object
datetime    2014-01-23 07:30:34
Name: 568296, dtype: object

datetime    2014-01-29 15:58:52
Name: 568665, dtype: object
datetime    2014-01-29 15:58:52
Name: 568666, dtype: object
datetime    2014-01-29 16:23:39
Name: 568667, dtype: object
388 / 496
Корни уравнения: -1299 и 830
Секунд: 830
datetime    2014-01-29 15:58:52
Name: 568665, dtype: object
datetime    2014-01-29 16:12:42
Name: 568666, dtype: object
datetime    2014-01-29 16:23:39
Name: 568667, dtype: object

datetime    2014-01-16 05:13:49
Name: 571995, dtype: object
datetime    2014-01-16 05:13:49
Name: 571996, dtype: object
datetime    2014-01-16 05:21:42
Name: 571997, dtype: object
389 / 496
Корни уравнения: -1068 и 308
Секунд: 308
datetime    2014-01-16 05:13:49
Name: 571995, dtype: object
datetime    2014-01-16 05:18:57
Name: 571996, dtype: object
datetime    2014-01-16 05:21:42
Name: 571997, dtype: object

datetime    2014-01-07 16:24:59
Name: 575084, dtype: object
datetime    2014-01-07 16:24:59
Name: 575085, dtype: object
datetime    2014-01-07 17:12:10
Name: 575086, dtype: object
390 / 496
Корни уравнения: -6487 и 1837
Секунд: 1837
datetime    2014-01-07 16:24:59
Name: 575084, dtype: object
datetime    2014-01-07 16:55:36
Name: 575085, dtype: object
datetime    2014-01-07 17:12:10
Name: 575086, dtype: object

datetime    2014-01-17 17:02:29
Name: 575391, dtype: object
datetime    2014-01-17 17:02:29
Name: 575392, dtype: object
datetime    2014-01-17 17:49:40
Name: 575393, dtype: object
391 / 496
Корни уравнения: -4983 и 1774
Секунд: 1774
datetime    2014-01-17 17:02:29
Name: 575391, dtype: object
datetime    2014-01-17 17:32:03
Name: 575392, dtype: object
datetime    2014-01-17 17:49:40
Name: 575393, dtype: object

datetime    2014-01-27 17:39:59
Name: 575698, dtype: object
datetime    2014-01-27 17:39:59
Name: 575699, dtype: object
datetime    2014-01-27 18:27:10
Name: 575700, dtype: object
392 / 496
Корни уравнения: -2693 и 1674
Секунд: 1674
datetime    2014-01-27 17:39:59
Name: 575698, dtype: object
datetime    2014-01-27 18:07:53
Name: 575699, dtype: object
datetime    2014-01-27 18:27:10
Name: 575700, dtype: object

datetime    2014-01-08 00:07:59
Name: 575960, dtype: object
datetime    2014-01-08 00:07:59
Name: 575961, dtype: object
datetime    2014-01-08 01:25:35
Name: 575962, dtype: object
393 / 496
Корни уравнения: -9459 и 2984
Секунд: 2984
datetime    2014-01-08 00:07:59
Name: 575960, dtype: object
datetime    2014-01-08 00:57:43
Name: 575961, dtype: object
datetime    2014-01-08 01:25:35
Name: 575962, dtype: object

datetime    2014-01-15 00:15:58
Name: 576091, dtype: object
datetime    2014-01-15 00:15:58
Name: 576092, dtype: object
datetime    2014-01-15 01:33:34
Name: 576093, dtype: object
394 / 496
Корни уравнения: 2926 и -7854
Секунд: 2926
datetime    2014-01-15 00:15:58
Name: 576091, dtype: object
datetime    2014-01-15 01:04:44
Name: 576092, dtype: object
datetime    2014-01-15 01:33:34
Name: 576093, dtype: object

datetime    2014-01-25 12:27:56
Name: 576287, dtype: object
datetime    2014-01-25 12:27:56
Name: 576288, dtype: object
datetime    2014-01-25 13:45:32
Name: 576289, dtype: object
D < 0 в строке: 576287
datetime    2014-01-25 12:27:56
Name: 576287, dtype: object
datetime    2014-01-25 12:27:56
Name: 576288, dtype: object
datetime    2014-01-25 13:45:32
Name: 576289, dtype: object

datetime    2014-01-26 23:49:59
Name: 578684, dtype: object
datetime    2014-01-26 23:49:59
Name: 578685, dtype: object
datetime    2014-01-27 00:08:33
Name: 578686, dtype: object
395 / 496
Корни уравнения: 688 и -1655
Секунд: 688
datetime    2014-01-26 23:49:59
Name: 578684, dtype: object
datetime    2014-01-27 00:01:27
Name: 578685, dtype: object
datetime    2014-01-27 00:08:33
Name: 578686, dtype: object

datetime    2014-01-13 04:30:46
Name: 583104, dtype: object
datetime    2014-01-13 04:30:46
Name: 583105, dtype: object
datetime    2014-01-13 04:39:01
Name: 583106, dtype: object
396 / 496
Корни уравнения: 306 и -789
Секунд: 306
datetime    2014-01-13 04:30:46
Name: 583104, dtype: object
datetime    2014-01-13 04:35:52
Name: 583105, dtype: object
datetime    2014-01-13 04:39:01
Name: 583106, dtype: object

datetime    2014-01-31 11:16:56
Name: 586297, dtype: object
datetime    2014-01-31 11:16:56
Name: 586298, dtype: object
datetime    2014-01-31 11:25:11
Name: 586299, dtype: object
397 / 496
Корни уравнения: 310 и -849
Секунд: 310
datetime    2014-01-31 11:16:56
Name: 586297, dtype: object
datetime    2014-01-31 11:22:06
Name: 586298, dtype: object
datetime    2014-01-31 11:25:11
Name: 586299, dtype: object

datetime    2014-01-10 05:14:29
Name: 586445, dtype: object
datetime    2014-01-10 05:14:29
Name: 586446, dtype: object
datetime    2014-01-10 09:20:18
Name: 586447, dtype: object
398 / 496
Корни уравнения: -25710 и 9226
Секунд: 9226
datetime    2014-01-10 05:14:29
Name: 586445, dtype: object
datetime    2014-01-10 07:48:15
Name: 586446, dtype: object
datetime    2014-01-10 09:20:18
Name: 586447, dtype: object

datetime    2014-01-28 15:43:27
Name: 586554, dtype: object
datetime    2014-01-28 15:43:27
Name: 586555, dtype: object
datetime    2014-01-28 19:49:16
Name: 586556, dtype: object
399 / 496
Корни уравнения: 8274 и -14528
Секунд: 8274
datetime    2014-01-28 15:43:27
Name: 586554, dtype: object
datetime    2014-01-28 18:01:21
Name: 586555, dtype: object
datetime    2014-01-28 19:49:16
Name: 586556, dtype: object

datetime    2014-01-09 14:31:33
Name: 587279, dtype: object
datetime    2014-01-09 14:31:33
Name: 587280, dtype: object
datetime    2014-01-09 15:36:06
Name: 587281, dtype: object
400 / 496
Корни уравнения: -1892 и 2045
Секунд: 2045
datetime    2014-01-09 14:31:33
Name: 587279, dtype: object
datetime    2014-01-09 15:05:38
Name: 587280, dtype: object
datetime    2014-01-09 15:36:06
Name: 587281, dtype: object

datetime    2014-01-22 12:18:54
Name: 587568, dtype: object
datetime    2014-01-22 12:18:54
Name: 587569, dtype: object
datetime    2014-01-22 13:23:26
Name: 587570, dtype: object
401 / 496
Корни уравнения: -4235 и 2330
Секунд: 2330
datetime    2014-01-22 12:18:54
Name: 587568, dtype: object
datetime    2014-01-22 12:57:44
Name: 587569, dtype: object
datetime    2014-01-22 13:23:26
Name: 587570, dtype: object

datetime    2014-01-31 02:50:28
Name: 587761, dtype: object
datetime    2014-01-31 02:50:28
Name: 587762, dtype: object
datetime    2014-01-31 03:55:00
Name: 587763, dtype: object
402 / 496
Корни уравнения: -5744 и 2403
Секунд: 2403
datetime    2014-01-31 02:50:28
Name: 587761, dtype: object
datetime    2014-01-31 03:30:31
Name: 587762, dtype: object
datetime    2014-01-31 03:55:00
Name: 587763, dtype: object

datetime    2014-01-17 21:20:23
Name: 587954, dtype: object
datetime    2014-01-17 21:20:23
Name: 587955, dtype: object
datetime    2014-01-17 23:41:47
Name: 587956, dtype: object
403 / 496
Корни уравнения: -17097 и 5409
Секунд: 5409
datetime    2014-01-17 21:20:23

Name: 587954, dtype: object
datetime    2014-01-17 22:50:32
Name: 587955, dtype: object
datetime    2014-01-17 23:41:47
Name: 587956, dtype: object

datetime    2014-01-06 21:35:39
Name: 589010, dtype: object
datetime    2014-01-06 21:35:39
Name: 589011, dtype: object
datetime    2014-01-06 23:33:39
Name: 589012, dtype: object
404 / 496
Корни уравнения: 4950 и -21484
Секунд: 4950
datetime    2014-01-06 21:35:39
Name: 589010, dtype: object
datetime    2014-01-06 22:58:09
Name: 589011, dtype: object
datetime    2014-01-06 23:33:39
Name: 589012, dtype: object

datetime    2014-01-12 19:11:19
Name: 589083, dtype: object
datetime    2014-01-12 19:11:19
Name: 589084, dtype: object
datetime    2014-01-12 21:09:19
Name: 589085, dtype: object
405 / 496
Корни уравнения: 4809 и -59419
Секунд: 4809
datetime    2014-01-12 19:11:19
Name: 589083, dtype: object
datetime    2014-01-12 20:31:28
Name: 589084, dtype: object
datetime    2014-01-12 21:09:19
Name: 589085, dtype: object

datetime    2014-01-21 15:34:48
Name: 589192, dtype: object
datetime    2014-01-21 15:34:48
Name: 589193, dtype: object
datetime    2014-01-21 17:32:48
Name: 589194, dtype: object
406 / 496
Корни уравнения: -11104 и 4362
Секунд: 4362
datetime    2014-01-21 15:34:48
Name: 589192, dtype: object
datetime    2014-01-21 16:47:30
Name: 589193, dtype: object
datetime    2014-01-21 17:32:48
Name: 589194, dtype: object

datetime    2014-01-30 11:58:18
Name: 589301, dtype: object
datetime    2014-01-30 11:58:18
Name: 589302, dtype: object
datetime    2014-01-30 13:56:18
Name: 589303, dtype: object
407 / 496
Корни уравнения: 5213 и 93493
Секунд: 5213
datetime    2014-01-30 11:58:18
Name: 589301, dtype: object
datetime    2014-01-30 13:25:11
Name: 589302, dtype: object
datetime    2014-01-30 13:56:18
Name: 589303, dtype: object

datetime    2014-01-07 21:58:38
Name: 589405, dtype: object
datetime    2014-01-07 21:58:38
Name: 589406, dtype: object
datetime    2014-01-07 23:57:11
Name: 589407, dtype: object
408 / 496
Корни уравнения: -11120 и 4384
Секунд: 4384
datetime    2014-01-07 21:58:38
Name: 589405, dtype: object
datetime    2014-01-07 23:11:42
Name: 589406, dtype: object
datetime    2014-01-07 23:57:11
Name: 589407, dtype: object

datetime    2014-01-14 19:57:17
Name: 589490, dtype: object
datetime    2014-01-14 19:57:17
Name: 589491, dtype: object
datetime    2014-01-14 21:55:50
Name: 589492, dtype: object
409 / 496
Корни уравнения: 4796 и -23901
Секунд: 4796
datetime    2014-01-14 19:57:17
Name: 589490, dtype: object
datetime    2014-01-14 21:17:13
Name: 589491, dtype: object
datetime    2014-01-14 21:55:50
Name: 589492, dtype: object

datetime    2014-01-21 17:55:55
Name: 589575, dtype: object
datetime    2014-01-21 17:55:55
Name: 589576, dtype: object
datetime    2014-01-21 19:54:29
Name: 589577, dtype: object
410 / 496
Корни уравнения: -11818 и 4426
Секунд: 4426
datetime    2014-01-21 17:55:55
Name: 589575, dtype: object
datetime    2014-01-21 19:09:41
Name: 589576, dtype: object
datetime    2014-01-21 19:54:29
Name: 589577, dtype: object

datetime    2014-01-08 10:33:04
Name: 591167, dtype: object
datetime    2014-01-08 10:33:04
Name: 591168, dtype: object
datetime    2014-01-08 11:41:44
Name: 591169, dtype: object
411 / 496
Корни уравнения: -7247 и 2585
Секунд: 2585
datetime    2014-01-08 10:33:04
Name: 591167, dtype: object
datetime    2014-01-08 11:16:09
Name: 591168, dtype: object
datetime    2014-01-08 11:41:44
Name: 591169, dtype: object

datetime    2014-01-19 14:22:40
Name: 591402, dtype: object
datetime    2014-01-19 14:22:40
Name: 591403, dtype: object
datetime    2014-01-19 15:31:20
Name: 591404, dtype: object
412 / 496
Корни уравнения: -5841 и 2509
Секунд: 2509
datetime    2014-01-19 14:22:40
Name: 591402, dtype: object
datetime    2014-01-19 15:04:29
Name: 591403, dtype: object
datetime    2014-01-19 15:31:20
Name: 591404, dtype: object

datetime    2014-01-27 00:55:44
Name: 591559, dtype: object
datetime    2014-01-27 00:55:44
Name: 591560, dtype: object
datetime    2014-01-27 02:04:24
Name: 591561, dtype: object
413 / 496
Корни уравнения: 2281 и -3683
Секунд: 2281
datetime    2014-01-27 00:55:44
Name: 591559, dtype: object
datetime    2014-01-27 01:33:45
Name: 591560, dtype: object
datetime    2014-01-27 02:04:24
Name: 591561, dtype: object

datetime    2014-01-08 06:21:37
Name: 592153, dtype: object
datetime    2014-01-08 06:21:37
Name: 592154, dtype: object
datetime    2014-01-08 08:55:28
Name: 592155, dtype: object
414 / 496
Корни уравнения: 5553 и -12235
Секунд: 5553
datetime    2014-01-08 06:21:37
Name: 592153, dtype: object
datetime    2014-01-08 07:54:10
Name: 592154, dtype: object
datetime    2014-01-08 08:55:28
Name: 592155, dtype: object

datetime    2014-01-19 03:54:03
Name: 592256, dtype: object
datetime    2014-01-19 03:54:03
Name: 592257, dtype: object
datetime    2014-01-19 06:27:54
Name: 592258, dtype: object
415 / 496
Корни уравнения: -14342 и 5733
Секунд: 5733
datetime    2014-01-19 03:54:03
Name: 592256, dtype: object
datetime    2014-01-19 05:29:36
Name: 592257, dtype: object
datetime    2014-01-19 06:27:54
Name: 592258, dtype: object

datetime    2014-01-30 01:26:29
Name: 592359, dtype: object
datetime    2014-01-30 01:26:29
Name: 592360, dtype: object
datetime    2014-01-30 04:00:20
Name: 592361, dtype: object
416 / 496
Корни уравнения: -23808 и 6067
Секунд: 6067
datetime    2014-01-30 01:26:29
Name: 592359, dtype: object
datetime    2014-01-30 03:07:36
Name: 592360, dtype: object
datetime    2014-01-30 04:00:20
Name: 592361, dtype: object

datetime    2014-01-07 09:21:14
Name: 592433, dtype: object
datetime    2014-01-07 09:21:14
Name: 592434, dtype: object
datetime    2014-01-07 12:11:38
Name: 592435, dtype: object
417 / 496
Корни уравнения: -16211 и 6319
Секунд: 6319
datetime    2014-01-07 09:21:14
Name: 592433, dtype: object
datetime    2014-01-07 11:06:33
Name: 592434, dtype: object
datetime    2014-01-07 12:11:38
Name: 592435, dtype: object

datetime    2014-01-13 18:42:29
Name: 592488, dtype: object
datetime    2014-01-13 18:42:29
Name: 592489, dtype: object
datetime    2014-01-13 21:32:53
Name: 592490, dtype: object
418 / 496
Корни уравнения: -20563 и 6530
Секунд: 6530
datetime    2014-01-13 18:42:29
Name: 592488, dtype: object
datetime    2014-01-13 20:31:19
Name: 592489, dtype: object
datetime    2014-01-13 21:32:53
Name: 592490, dtype: object

datetime    2014-01-20 04:03:44
Name: 592543, dtype: object
datetime    2014-01-20 04:03:44
Name: 592544, dtype: object
datetime    2014-01-20 06:54:08
Name: 592545, dtype: object
419 / 496
Корни уравнения: 5599 и -9248
Секунд: 5599
datetime    2014-01-20 04:03:44
Name: 592543, dtype: object
datetime    2014-01-20 05:37:03
Name: 592544, dtype: object
datetime    2014-01-20 06:54:08
Name: 592545, dtype: object

datetime    2014-01-26 13:24:59
Name: 592598, dtype: object
datetime    2014-01-26 13:24:59
Name: 592599, dtype: object
datetime    2014-01-26 16:15:23
Name: 592600, dtype: object
420 / 496
Корни уравнения: -11529 и 6099
Секунд: 6099
datetime    2014-01-26 13:24:59
Name: 592598, dtype: object
datetime    2014-01-26 15:06:38
Name: 592599, dtype: object
datetime    2014-01-26 16:15:23
Name: 592600, dtype: object

datetime    2014-01-19 03:34:15
Name: 593290, dtype: object
datetime    2014-01-19 03:34:15
Name: 593291, dtype: object
datetime    2014-01-19 04:14:46
Name: 593292, dtype: object
421 / 496
Корни уравнения: 1469 и -3190
Секунд: 1469
datetime    2014-01-19 03:34:15
Name: 593290, dtype: object
datetime    2014-01-19 03:58:44
Name: 593291, dtype: object
datetime    2014-01-19 04:14:46
Name: 593292, dtype: object

datetime    2014-01-06 19:47:02
Name: 594051, dtype: object
datetime    2014-01-06 19:47:02
Name: 594052, dtype: object
datetime    2014-01-06 21:54:07
Name: 594053, dtype: object
422 / 496
Корни уравнения: 4609 и -10652
Секунд: 4609
datetime    2014-01-06 19:47:02
Name: 594051, dtype: object
datetime    2014-01-06 21:03:51
Name: 594052, dtype: object
datetime    2014-01-06 21:54:07
Name: 594053, dtype: object

datetime    2014-01-12 15:34:05
Name: 594118, dtype: object
datetime    2014-01-12 15:34:05
Name: 594119, dtype: object
datetime    2014-01-12 17:41:10
Name: 594120, dtype: object
423 / 496
Корни уравнения: 4485 и -9000
Секунд: 4485
datetime    2014-01-12 15:34:05
Name: 594118, dtype: object
datetime    2014-01-12 16:48:50
Name: 594119, dtype: object
datetime    2014-01-12 17:41:10
Name: 594120, dtype: object

datetime    2014-01-21 09:14:39
Name: 594218, dtype: object
datetime    2014-01-21 09:14:39
Name: 594219, dtype: object
datetime    2014-01-21 11:21:44
Name: 594220, dtype: object
424 / 496
Корни уравнения: 4595 и -10478
Секунд: 4595
datetime    2014-01-21 09:14:39
Name: 594218, dtype: object
datetime    2014-01-21 10:31:14
Name: 594219, dtype: object
datetime    2014-01-21 11:21:44
Name: 594220, dtype: object

datetime    2014-01-30 02:55:13
Name: 594318, dtype: object
datetime    2014-01-30 02:55:13
Name: 594319, dtype: object
datetime    2014-01-30 05:02:18
Name: 594320, dtype: object
425 / 496
Корни уравнения: 4856 и -12999
Секунд: 4856
datetime    2014-01-30 02:55:13
Name: 594318, dtype: object
datetime    2014-01-30 04:16:09
Name: 594319, dtype: object
datetime    2014-01-30 05:02:18
Name: 594320, dtype: object

datetime    2014-01-07 09:45:13
Name: 599994, dtype: object
datetime    2014-01-07 09:45:13
Name: 599995, dtype: object
datetime    2014-01-07 09:54:29
Name: 599996, dtype: object
D < 0 в строке: 599994
datetime    2014-01-07 09:45:13
Name: 599994, dtype: object
datetime    2014-01-07 09:45:13
Name: 599995, dtype: object
datetime    2014-01-07 09:54:29
Name: 599996, dtype: object

datetime    2014-01-20 05:15:39
Name: 601983, dtype: object
datetime    2014-01-20 05:15:39

Name: 601984, dtype: object
datetime    2014-01-20 05:24:56
Name: 601985, dtype: object
426 / 496
Корни уравнения: -1522 и 367
Секунд: 367
datetime    2014-01-20 05:15:39
Name: 601983, dtype: object
datetime    2014-01-20 05:21:46
Name: 601984, dtype: object
datetime    2014-01-20 05:24:56
Name: 601985, dtype: object

datetime    2014-01-29 19:53:29
Name: 603475, dtype: object
datetime    2014-01-29 19:53:29
Name: 603476, dtype: object
datetime    2014-01-29 20:02:45
Name: 603477, dtype: object
427 / 496
Корни уравнения: 293 и -358
Секунд: 293
datetime    2014-01-29 19:53:29
Name: 603475, dtype: object
datetime    2014-01-29 19:58:22
Name: 603476, dtype: object
datetime    2014-01-29 20:02:45
Name: 603477, dtype: object

datetime    2014-01-07 21:23:41
Name: 603867, dtype: object
datetime    2014-01-07 21:23:41
Name: 603868, dtype: object
datetime    2014-01-08 00:27:28
Name: 603869, dtype: object
428 / 496
Корни уравнения: 6693 и -15295
Секунд: 6693
datetime    2014-01-07 21:23:41
Name: 603867, dtype: object
datetime    2014-01-07 23:15:14
Name: 603868, dtype: object
datetime    2014-01-08 00:27:28
Name: 603869, dtype: object

datetime    2014-01-18 05:29:14
Name: 603949, dtype: object
datetime    2014-01-18 05:29:14
Name: 603950, dtype: object
datetime    2014-01-18 08:33:00
Name: 603951, dtype: object
429 / 496
Корни уравнения: 7073 и -22505
Секунд: 7073
datetime    2014-01-18 05:29:14
Name: 603949, dtype: object
datetime    2014-01-18 07:27:07
Name: 603950, dtype: object
datetime    2014-01-18 08:33:00
Name: 603951, dtype: object

datetime    2014-01-28 13:34:46
Name: 604031, dtype: object
datetime    2014-01-28 13:34:46
Name: 604032, dtype: object
datetime    2014-01-28 16:38:33
Name: 604033, dtype: object
D < 0 в строке: 604031
datetime    2014-01-28 13:34:46
Name: 604031, dtype: object
datetime    2014-01-28 13:34:46
Name: 604032, dtype: object
datetime    2014-01-28 16:38:33
Name: 604033, dtype: object

datetime    2014-01-12 23:57:40
Name: 606180, dtype: object
datetime    2014-01-12 23:57:40
Name: 606181, dtype: object
datetime    2014-01-13 01:32:05
Name: 606182, dtype: object
430 / 496
Корни уравнения: 4543 и 53638
Секунд: 4543
datetime    2014-01-12 23:57:40
Name: 606180, dtype: object
datetime    2014-01-13 01:13:23
Name: 606181, dtype: object
datetime    2014-01-13 01:32:05
Name: 606182, dtype: object

datetime    2014-01-28 23:54:34
Name: 606425, dtype: object
datetime    2014-01-28 23:54:34
Name: 606426, dtype: object
datetime    2014-01-29 01:28:59
Name: 606427, dtype: object
431 / 496
Корни уравнения: -6930 и 3371
Секунд: 3371
datetime    2014-01-28 23:54:34
Name: 606425, dtype: object
datetime    2014-01-29 00:50:45
Name: 606426, dtype: object
datetime    2014-01-29 01:28:59
Name: 606427, dtype: object

datetime    2014-01-09 14:40:24
Name: 606666, dtype: object
datetime    2014-01-09 14:40:24
Name: 606667, dtype: object
datetime    2014-01-09 15:44:20
Name: 606668, dtype: object
432 / 496
Корни уравнения: 2468 и -8100
Секунд: 2468
datetime    2014-01-09 14:40:24
Name: 606666, dtype: object
datetime    2014-01-09 15:21:32
Name: 606667, dtype: object
datetime    2014-01-09 15:44:20
Name: 606668, dtype: object

datetime    2014-01-22 12:41:02
Name: 606958, dtype: object
datetime    2014-01-22 12:41:02
Name: 606959, dtype: object
datetime    2014-01-22 13:44:57
Name: 606960, dtype: object
433 / 496
Корни уравнения: 2583 и -13719
Секунд: 2583
datetime    2014-01-22 12:41:02
Name: 606958, dtype: object
datetime    2014-01-22 13:24:05
Name: 606959, dtype: object
datetime    2014-01-22 13:44:57
Name: 606960, dtype: object

datetime    2014-01-13 12:13:22
Name: 607369, dtype: object
datetime    2014-01-13 12:13:22
Name: 607370, dtype: object
datetime    2014-01-13 13:45:16
Name: 607371, dtype: object
434 / 496
Корни уравнения: -7344 и 3345
Секунд: 3345
datetime    2014-01-13 12:13:22
Name: 607369, dtype: object
datetime    2014-01-13 13:09:07
Name: 607370, dtype: object
datetime    2014-01-13 13:45:16
Name: 607371, dtype: object

datetime    2014-01-10 22:17:45
Name: 610207, dtype: object
datetime    2014-01-10 22:17:45
Name: 610208, dtype: object
datetime    2014-01-10 23:44:56
Name: 610209, dtype: object
435 / 496
Корни уравнения: 3126 и -6676
Секунд: 3126
datetime    2014-01-10 22:17:45
Name: 610207, dtype: object
datetime    2014-01-10 23:09:51
Name: 610208, dtype: object
datetime    2014-01-10 23:44:56
Name: 610209, dtype: object

datetime    2014-01-25 19:44:24
Name: 610454, dtype: object
datetime    2014-01-25 19:44:24
Name: 610455, dtype: object
datetime    2014-01-25 21:11:35
Name: 610456, dtype: object
436 / 496
Корни уравнения: -6912 и 3185
Секунд: 3185
datetime    2014-01-25 19:44:24
Name: 610454, dtype: object
datetime    2014-01-25 20:37:29
Name: 610455, dtype: object
datetime    2014-01-25 21:11:35
Name: 610456, dtype: object

datetime    2014-01-13 01:06:37
Name: 612420, dtype: object
datetime    2014-01-13 01:06:37
Name: 612421, dtype: object
datetime    2014-01-13 02:18:00
Name: 612422, dtype: object
437 / 496
Корни уравнения: 2441 и -3373
Секунд: 2441
datetime    2014-01-13 01:06:37
Name: 612420, dtype: object
datetime    2014-01-13 01:47:18
Name: 612421, dtype: object
datetime    2014-01-13 02:18:00
Name: 612422, dtype: object

datetime    2014-01-16 03:10:11
Name: 613644, dtype: object
datetime    2014-01-16 03:10:11
Name: 613645, dtype: object
datetime    2014-01-16 03:36:08
Name: 613646, dtype: object
438 / 496
Корни уравнения: 952 и -1925
Секунд: 952
datetime    2014-01-16 03:10:11
Name: 613644, dtype: object
datetime    2014-01-16 03:26:03
Name: 613645, dtype: object
datetime    2014-01-16 03:36:08
Name: 613646, dtype: object

datetime    2014-01-11 00:13:44
Name: 619300, dtype: object
datetime    2014-01-11 00:13:44
Name: 619301, dtype: object
datetime    2014-01-11 01:47:20
Name: 619302, dtype: object
439 / 496
Корни уравнения: -6833 и 3329
Секунд: 3329
datetime    2014-01-11 00:13:44
Name: 619300, dtype: object
datetime    2014-01-11 01:09:13
Name: 619301, dtype: object
datetime    2014-01-11 01:47:20
Name: 619302, dtype: object

datetime    2014-01-21 00:27:29
Name: 619455, dtype: object
datetime    2014-01-21 00:27:29
Name: 619456, dtype: object
datetime    2014-01-21 02:01:05
Name: 619457, dtype: object
440 / 496
Корни уравнения: 11138 и 7051
Секунд: 7051
datetime    2014-01-21 00:27:29
Name: 619455, dtype: object
datetime    2014-01-21 02:25:00
Name: 619456, dtype: object
datetime    2014-01-21 02:01:05
Name: 619457, dtype: object

datetime    2014-01-31 00:41:14
Name: 619610, dtype: object
datetime    2014-01-31 00:41:14
Name: 619611, dtype: object
datetime    2014-01-31 02:14:49
Name: 619612, dtype: object
441 / 496
Корни уравнения: -4475 и 3109
Секунд: 3109
datetime    2014-01-31 00:41:14
Name: 619610, dtype: object
datetime    2014-01-31 01:33:03
Name: 619611, dtype: object
datetime    2014-01-31 02:14:49
Name: 619612, dtype: object

datetime    2014-01-23 01:58:06
Name: 620158, dtype: object
datetime    2014-01-23 01:58:06
Name: 620159, dtype: object
datetime    2014-01-23 02:57:52
Name: 620160, dtype: object
442 / 496
Корни уравнения: 2686 и 478571
Секунд: 2686
datetime    2014-01-23 01:58:06
Name: 620158, dtype: object
datetime    2014-01-23 02:42:52
Name: 620159, dtype: object
datetime    2014-01-23 02:57:52
Name: 620160, dtype: object

datetime    2014-01-17 15:51:52
Name: 620699, dtype: object
datetime    2014-01-17 15:51:52
Name: 620700, dtype: object
datetime    2014-01-17 17:05:41
Name: 620701, dtype: object
443 / 496
Корни уравнения: -8299 и 2803
Секунд: 2803
datetime    2014-01-17 15:51:52
Name: 620699, dtype: object
datetime    2014-01-17 16:38:35
Name: 620700, dtype: object
datetime    2014-01-17 17:05:41
Name: 620701, dtype: object

datetime    2014-01-11 21:03:59
Name: 623133, dtype: object
datetime    2014-01-11 21:03:59
Name: 623134, dtype: object
datetime    2014-01-11 23:02:39
Name: 623135, dtype: object
444 / 496
Корни уравнения: -13700 и 4519
Секунд: 4519
datetime    2014-01-11 21:03:59
Name: 623133, dtype: object
datetime    2014-01-11 22:19:18
Name: 623134, dtype: object
datetime    2014-01-11 23:02:39
Name: 623135, dtype: object

datetime    2014-01-22 18:07:59
Name: 623266, dtype: object
datetime    2014-01-22 18:07:59
Name: 623267, dtype: object
datetime    2014-01-22 20:06:39
Name: 623268, dtype: object
D < 0 в строке: 623266
datetime    2014-01-22 18:07:59
Name: 623266, dtype: object
datetime    2014-01-22 18:07:59
Name: 623267, dtype: object
datetime    2014-01-22 20:06:39
Name: 623268, dtype: object

datetime    2014-01-20 20:08:58
Name: 623770, dtype: object
datetime    2014-01-20 20:08:58
Name: 623771, dtype: object
datetime    2014-01-20 21:22:13
Name: 623772, dtype: object
445 / 496
Корни уравнения: 2814 и -9047
Секунд: 2814
datetime    2014-01-20 20:08:58
Name: 623770, dtype: object
datetime    2014-01-20 20:55:52
Name: 623771, dtype: object
datetime    2014-01-20 21:22:13
Name: 623772, dtype: object

datetime    2014-01-28 09:04:19
Name: 627457, dtype: object
datetime    2014-01-28 09:04:19
Name: 627458, dtype: object
datetime    2014-01-28 10:06:54
Name: 627459, dtype: object
446 / 496
Корни уравнения: -11104 и 2519
Секунд: 2519
datetime    2014-01-28 09:04:19
Name: 627457, dtype: object
datetime    2014-01-28 09:46:18
Name: 627458, dtype: object
datetime    2014-01-28 10:06:54
Name: 627459, dtype: object

datetime    2014-01-10 09:16:03
Name: 627695, dtype: object
datetime    2014-01-10 09:16:03
Name: 627696, dtype: object
datetime    2014-01-10 10:44:24
Name: 627697, dtype: object
447 / 496
Корни уравнения: 3257 и -8054
Секунд: 3257
datetime    2014-01-10 09:16:03
Name: 627695, dtype: object
datetime    2014-01-10 10:10:20
Name: 627696, dtype: object
datetime    2014-01-10 10:44:24
Name: 627697, dtype: object

datetime    2014-01-22 21:37:28
Name: 627900, dtype: object
datetime    2014-01-22 21:37:28
Name: 627901, dtype: object
datetime    2014-01-22 23:05:48
Name: 627902, dtype: object
448 / 496
Корни уравнения: -6070 и 3144
Секунд: 3144
datetime    2014-01-22 21:37:28
Name: 627900, dtype: object
datetime    2014-01-22 22:29:52
Name: 627901, dtype: object
datetime    2014-01-22 23:05:48
Name: 627902, dtype: object

datetime    2014-01-07 02:03:33
Name: 634721, dtype: object
datetime    2014-01-07 02:03:33
Name: 634722, dtype: object
datetime    2014-01-07 02:12:41
Name: 634723, dtype: object
449 / 496
Корни уравнения: 382 и -2259
Секунд: 382
datetime    2014-01-07 02:03:33
Name: 634721, dtype: object
datetime    2014-01-07 02:09:55
Name: 634722, dtype: object
datetime    2014-01-07 02:12:41
Name: 634723, dtype: object

datetime    2014-01-16 05:08:54
Name: 636162, dtype: object
datetime    2014-01-16 05:08:54
Name: 636163, dtype: object
datetime    2014-01-16 05:18:02
Name: 636164, dtype: object
450 / 496
Корни уравнения: 411 и 22011
Секунд: 411
datetime    2014-01-16 05:08:54
Name: 636162, dtype: object
datetime    2014-01-16 05:15:45

Name: 636163, dtype: object
datetime    2014-01-16 05:18:02
Name: 636164, dtype: object

datetime    2014-01-25 08:14:15
Name: 637603, dtype: object
datetime    2014-01-25 08:14:15
Name: 637604, dtype: object
datetime    2014-01-25 08:23:23
Name: 637605, dtype: object
D < 0 в строке: 637603
datetime    2014-01-25 08:14:15
Name: 637603, dtype: object
datetime    2014-01-25 08:14:15
Name: 637604, dtype: object
datetime    2014-01-25 08:23:23
Name: 637605, dtype: object

datetime    2014-01-11 00:28:52
Name: 641691, dtype: object
datetime    2014-01-11 00:28:52
Name: 641692, dtype: object
datetime    2014-01-11 01:45:37
Name: 641693, dtype: object
451 / 496
Корни уравнения: 2848 и -7016
Секунд: 2848
datetime    2014-01-11 00:28:52
Name: 641691, dtype: object
datetime    2014-01-11 01:16:20
Name: 641692, dtype: object
datetime    2014-01-11 01:45:37
Name: 641693, dtype: object

datetime    2014-01-26 01:12:10
Name: 641974, dtype: object
datetime    2014-01-26 01:12:10
Name: 641975, dtype: object
datetime    2014-01-26 02:28:55
Name: 641976, dtype: object
452 / 496
Корни уравнения: 2717 и -5558
Секунд: 2717
datetime    2014-01-26 01:12:10
Name: 641974, dtype: object
datetime    2014-01-26 01:57:27
Name: 641975, dtype: object
datetime    2014-01-26 02:28:55
Name: 641976, dtype: object

datetime    2014-01-07 16:42:34
Name: 642702, dtype: object
datetime    2014-01-07 16:42:34
Name: 642703, dtype: object
datetime    2014-01-07 17:17:31
Name: 642704, dtype: object
453 / 496
Корни уравнения: 1445 и -8754
Секунд: 1445
datetime    2014-01-07 16:42:34
Name: 642702, dtype: object
datetime    2014-01-07 17:06:39
Name: 642703, dtype: object
datetime    2014-01-07 17:17:31
Name: 642704, dtype: object

datetime    2014-01-17 17:46:26
Name: 643117, dtype: object
datetime    2014-01-17 17:46:26
Name: 643118, dtype: object
datetime    2014-01-17 18:21:23
Name: 643119, dtype: object
454 / 496
Корни уравнения: -2549 и 1237
Секунд: 1237
datetime    2014-01-17 17:46:26
Name: 643117, dtype: object
datetime    2014-01-17 18:07:03
Name: 643118, dtype: object
datetime    2014-01-17 18:21:23
Name: 643119, dtype: object

datetime    2014-01-31 03:11:36
Name: 643670, dtype: object
datetime    2014-01-31 03:11:36
Name: 643671, dtype: object
datetime    2014-01-31 03:46:32
Name: 643672, dtype: object
455 / 496
Корни уравнения: -2700 и 1254
Секунд: 1254
datetime    2014-01-31 03:11:36
Name: 643670, dtype: object
datetime    2014-01-31 03:32:30
Name: 643671, dtype: object
datetime    2014-01-31 03:46:32
Name: 643672, dtype: object

datetime    2014-01-10 23:56:54
Name: 646384, dtype: object
datetime    2014-01-10 23:56:54
Name: 646385, dtype: object
datetime    2014-01-11 01:26:53
Name: 646386, dtype: object
456 / 496
Корни уравнения: 1777 и -190
Секунд: 1777
datetime    2014-01-10 23:56:54
Name: 646384, dtype: object
datetime    2014-01-11 00:26:31
Name: 646385, dtype: object
datetime    2014-01-11 01:26:53
Name: 646386, dtype: object

datetime    2014-01-30 23:50:44
Name: 646705, dtype: object
datetime    2014-01-30 23:50:44
Name: 646706, dtype: object
datetime    2014-01-31 01:20:43
Name: 646707, dtype: object
D < 0 в строке: 646705
datetime    2014-01-30 23:50:44
Name: 646705, dtype: object
datetime    2014-01-30 23:50:44
Name: 646706, dtype: object
datetime    2014-01-31 01:20:43
Name: 646707, dtype: object

datetime    2014-01-22 00:09:00
Name: 646978, dtype: object
datetime    2014-01-22 00:09:00
Name: 646979, dtype: object
datetime    2014-01-22 02:07:38
Name: 646980, dtype: object
457 / 496
Корни уравнения: -2887 и 3352
Секунд: 3352
datetime    2014-01-22 00:09:00
Name: 646978, dtype: object
datetime    2014-01-22 01:04:52
Name: 646979, dtype: object
datetime    2014-01-22 02:07:38
Name: 646980, dtype: object

datetime    2014-01-10 04:57:07
Name: 647209, dtype: object
datetime    2014-01-10 04:57:07
Name: 647210, dtype: object
datetime    2014-01-10 06:59:52
Name: 647211, dtype: object
458 / 496
Корни уравнения: 4419 и -9691
Секунд: 4419
datetime    2014-01-10 04:57:07
Name: 647209, dtype: object
datetime    2014-01-10 06:10:46
Name: 647210, dtype: object
datetime    2014-01-10 06:59:52
Name: 647211, dtype: object

datetime    2014-01-19 09:54:14
Name: 647318, dtype: object
datetime    2014-01-19 09:54:14
Name: 647319, dtype: object
datetime    2014-01-19 11:56:59
Name: 647320, dtype: object
459 / 496
Корни уравнения: -13608 и 4726
Секунд: 4726
datetime    2014-01-19 09:54:14
Name: 647318, dtype: object
datetime    2014-01-19 11:13:00
Name: 647319, dtype: object
datetime    2014-01-19 11:56:59
Name: 647320, dtype: object

datetime    2014-01-16 02:14:24
Name: 647782, dtype: object
datetime    2014-01-16 02:14:24
Name: 647783, dtype: object
datetime    2014-01-16 03:23:24
Name: 647784, dtype: object
460 / 496
Корни уравнения: 2501 и -5363
Секунд: 2501
datetime    2014-01-16 02:14:24
Name: 647782, dtype: object
datetime    2014-01-16 02:56:05
Name: 647783, dtype: object
datetime    2014-01-16 03:23:24
Name: 647784, dtype: object

Не все значения удалось исправить. Получим список неисправленных значений:

In [9]:
equal_values = []
for i in range(df_train_improved.shape[0] - 1):
    time_prv = list(df_train_improved.loc[i, ['datetime']])
    time_now = list(df_train_improved.loc[i + 1, ['datetime']])
    if time_prv == time_now:
        equal_values.append(i)

Исправим оставшиеся значения. В качестве метки времени выберем момент времени, равноудалённый от соседних точек.

In [10]:
def improve_time_equals_last(df, equals_list):
    for id0 in equals_list:
        id1 = id0 + 1
        id2 = id0 + 2
        time0 = df.loc[id0, ['time']]
        time2 = df.loc[id0 + 2, ['time']]
        delta = int((time2 - time0)/2)
        time_delta = timedelta(seconds=delta)
        df.loc[id1, ['datetime']] = df.loc[id1, ['datetime']] + time_delta
    return df

In [11]:
df_train_improved = improve_time_equals_last(df_train_improved, equal_values)

Получим список спутников из тестовой выборки:

In [13]:
set_test_satellites_id = set(df_test['sat_id'])

Функции, обеспечивающие интерполяцию значений:

In [14]:
# производит разметку по времени в выборке значений одного спутника
def resample_for_interpolate(df_one_sat):
    df_one_sat['date'] = df_one_sat.index
    df_one_sat['time'] = (df_one_sat['date'] - np.datetime64('1970-01-01 00:00:00')) / np.timedelta64(1, 's')
    df_one_sat = df_one_sat.resample('min').mean()
    df_one_sat['date'] = df_one_sat.index
    df_one_sat['time'] = (df_one_sat['date'] - np.datetime64('1970-01-01 00:00:00')) / np.timedelta64(1, 's')
    return df_one_sat

In [15]:
# интерполирует одну колонку датафрейма
def interpolate_col_df(df_one_sat, df_one_sat_resampled, column='x'):
    x = df_one_sat['time']
    y = df_one_sat[column]
    xnew = df_one_sat_resampled['time']
    f = interpolate.interp1d(x, y, fill_value="extrapolate")
    ynew = f(xnew)
    df_one_sat_resampled[column] = ynew
    return df_one_sat_resampled

In [22]:
# интерполирует датафрейм целиком
def df_interpolate(df):
    df_result = pd.DataFrame(columns=['x', 'y', 'z', 'Vx', 'Vy', 'Vz', 'sat_id',
                                     'id', 'x_sim', 'y_sim', 'z_sim', 'Vx_sim', 'Vy_sim', 'Vz_sim',
                                     'time', 'date'])
    
    for sat in list(set_test_satellites_id):
    
        df_one_sat = df.query('sat_id == @sat')
        df_one_sat_resampled = resample_for_interpolate(df_one_sat)

        df_interpolated = interpolate_col_df(df_one_sat, df_one_sat_resampled, 'x')
        df_interpolated = interpolate_col_df(df_one_sat, df_one_sat_resampled, 'y')
        df_interpolated = interpolate_col_df(df_one_sat, df_one_sat_resampled, 'z')
        df_interpolated = interpolate_col_df(df_one_sat, df_one_sat_resampled, 'Vx')
        df_interpolated = interpolate_col_df(df_one_sat, df_one_sat_resampled, 'Vy')
        df_interpolated = interpolate_col_df(df_one_sat, df_one_sat_resampled, 'Vz')
        df_interpolated = interpolate_col_df(df_one_sat, df_one_sat_resampled, 'sat_id')
        df_interpolated = interpolate_col_df(df_one_sat, df_one_sat_resampled, 'x_sim')
        df_interpolated = interpolate_col_df(df_one_sat, df_one_sat_resampled, 'y_sim')
        df_interpolated = interpolate_col_df(df_one_sat, df_one_sat_resampled, 'z_sim')
        df_interpolated = interpolate_col_df(df_one_sat, df_one_sat_resampled, 'Vx_sim')
        df_interpolated = interpolate_col_df(df_one_sat, df_one_sat_resampled, 'Vy_sim')
        df_interpolated = interpolate_col_df(df_one_sat, df_one_sat_resampled, 'Vz_sim')
        
        df_result = pd.concat([df_result, df_interpolated])
    
    return df_result

Вернём датасет к исходному виду:

In [18]:
df_train_improved.index = df_train_improved['datetime']
df_train_improved = df_train_improved.drop(['datetime', 'time'], axis=1)

Применим интерполяцию к обучающему датасету:

In [23]:
df_final = df_interpolate(df_train_improved)

Проверим полученный датасет:

In [25]:
df_final.head(3)

,Vx,Vx_sim,Vy,Vy_sim,Vz,Vz_sim,date,id,sat_id,time,x,x_sim,y,y_sim,z,z_sim
2014-01-01 00:00:00,2.520477,2.508879,6.149930,6.152996,-2.827599,-2.826227,2014-01-01 00:00:00,1819.0,1.0,1.388534e+09,10390.313089,10405.813755,-2796.458271,-2771.180760,3179.562085,3166.926302
2014-01-01 00:01:00,2.348307,2.337052,6.134658,6.137385,-2.847816,-2.846235,2014-01-01 00:01:00,NaN,1.0,1.388534e+09,10428.328529,10443.297921,-2424.698448,-2399.492986,2989.854516,2977.491684
2014-01-01 00:02:00,2.176136,2.165225,6.119386,6.121774,-2.868033,-2.866242,2014-01-01 00:02:00,NaN,1.0,1.388535e+09,10466.343970,10480.782087,-2052.938626,-2027.805212,2800.146946,2788.057066

In [26]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13378994 entries, 2014-01-01 00:00:00 to 2014-01-31 23:56:00
Data columns (total 16 columns):
Vx        float64
Vx_sim    float64
Vy        float64
Vy_sim    float64
Vz        float64
Vz_sim    float64
date      datetime64[ns]
id        float64
sat_id    float64
time      float64
x         float64
x_sim     float64
y         float64
y_sim     float64
z         float64
z_sim     float64
dtypes: datetime64[ns](1), float64(15)
memory usage: 1.7 GB

Сохраним в файл:

In [27]:
df_final.to_csv('data/Track 1/train_final.csv')